{% extends "public/page.html" %}
{% load bulma_tags %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn2.css">
  <link rel="preload" href="/static/fonts/pt-serif-v12-latin-700.woff2" as="font" type="font/woff2">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="Write to {{ constituency.mp }}">
  <meta name="description" content="Ask {{ constituency.mp }} what they are doing about food banks in {{ constituency }}">
  <meta property="og:image" content="https://www.givefood.org.uk/static/img/mp_photo/{{ constituency.mp_parl_id }}.jpg">
{% endblock %}

{% block title %}Write to {{ constituency.mp }} about food banks - Give Food{% endblock %}

{% block body %}

  <div class="columns body">
    <div class="column">

      <div class="columns">

        <div class="column is-4">
          <a href="/" class="logo">Give Food</a>
        </div>

        {% include 'wfbn/foodbank/includes/search.html' %}

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'public_index' %}">Home</a></li>
                <li><a href="{% url 'write:index' %}">Write to your MP</a></li>
                <li><a href="{% url 'write:constituency' constituency.slug %}">{{ constituency }}</a></li>
            </ul>
      </nav>

      <h1>{{ constituency }}</h1>

      <div class="columns">

          <div class="column is-4">

            {% if postcode %}
                <p>Your postcode <em>{{ postcode|upper }}</em> is in {{ constituency }} constituency, and your MP is {{ constituency.mp }}.</p>
            {% else %}
                <p>The MP for {{ constituency }} is {{ constituency.mp }}.</p>
            {% endif %}

            <img src="/static/img/mp_photo/{{ constituency.mp_parl_id }}.jpg" alt="{{ constituency.mp }}" class="mp_photo">

          </div>

          <div class="column is-6">

            {% if constituency.email_parl %}

              <p>To write to {{ constituency.mp }} we'll need a few more details to create the email for you to view and send.</p>

              <form method="post" action="{% url 'write:email' constituency.slug %}">
                {{ form|bulma }}
                <input type="submit" class="button is-link" value="Continue">
                {% csrf_token %}
              </form>

            {% else %}
              
              <p>Sorry, we don't have an email address for {{ constituency.mp }}, so this service is unavailable in your area.</p>

            {% endif %}
            
          </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}

<script src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}&libraries=places" defer></script>
<script src="/static/js/wfbn2.js" defer></script>

{% endblock %}

