# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store
*.py[cod]
*.swp

/.*
!/.gitignore
!/.gitmodules
!/.flake8

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sitepackages/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

sitepackages/*
/messages.mo
*/migrations/*.py
echo ___BEGIN___COMMAND_OUTPUT_MARKER___ ; PS1= ; PS2= ; EC=0 ; echo ___BEGIN___COMMAND_DONE_MARKER___0 ; }/migrations/__init__.py
*.mo
