git+https://gitlab.com/potato-oss/djangae/djangae.git#egg=djangae
django>=3.2,<3.3
GoogleAppEngineCloudStorageClient==1.9.22.1
google-cloud-tasks==1.5.0
google-python-cloud-debugger==2.17.0; sys_platform == 'linux'
django-csp==3.7
django-csp-reports
django-session-csrf
python-dateutil
python-twitter
requests-toolbelt
requests
django-bulma==0.8.3
unicodecsv
python-twitter
dicttoxml
git+https://github.com/potatolondon/simple_search.git#egg=simple_search
facebook-sdk==3.1.0
feedparser