django==4.2.20
git+https://gitlab.com/potato-oss/djangae/djangae.git#egg=djangae
GoogleAppEngineCloudStorageClient==1.9.22.1
google-cloud-tasks>=2.0.0
django-csp==3.7
django-csp-reports
django-session-csrf
python-dateutil
requests-toolbelt
requests
django-bulma==0.9.0
unicodecsv
dicttoxml
feedparser
psycopg2-binary
google-cloud-secret-manager
openai==1.72.0
furl
beautifulsoup4
google-generativeai
django-earthdistance
requirements-parser
google-cloud-translate