django==4.2.21
django-csp==3.7
django-csp-reports
django-session-csrf
python-dateutil
requests-toolbelt
requests
django-bulma==0.9.0
unicodecsv
dicttoxml
feedparser
psycopg2-binary
openai==0.28
furl
beautifulsoup4
google-generativeai
django-earthdistance
requirements-parser
google-cloud-translate
google-api-python-client
python-dotenv
gunicorn
whitenoise