<table class="table is-narrow">
    <tr>
        <th>Field</th>
        <th>Type</th>
        <th>Example</th>
        <th>Description</th>
    </tr>
    <tr>
        <td class="field_name">id</td>
        <td>UUID</td>
        <td>d3268f14-4e5f-4f3d-8e3a-9b0c5d6e7f8a</td>
        <td>Unique identifier for the location</td>
    </tr>
    <tr>
        <td class="field_name">address</td>
        <td>Multiline String</td>
        <td>Sidmouth Youth Centre<br>Manstone Lane<br>Sidmouth<br>EX10 9TS</td>
        <td></td>
    </tr>
    <tr>
        <td class="field_name">distance_m</td>
        <td>Float</td>
        <td>5218</td>
        <td>Distance from the inputted location to this food bank in metres</td>
    </tr>
    <tr>
        <td class="field_name">distance_mi</td>
        <td>Float</td>
        <td>7.12</td>
        <td>Distance from the inputted location to this food bank in miles to two decimal places</td>
    </tr>
    <tr>
        <td class="field_name">email</td>
        <td>Email Address</td>
        <td>info@sidvalleyfoodbank.org.uk</td>
        <td></td>
    </tr>
    <tr>
        <td class="field_name" colspan="4">foodbank</td>
    </tr>
    <tr class="indented">
        <td class="field_name">name</td>
        <td>String</td>
        <td>Sid Valley</td>
        <td>Name of the food bank location</td>
    </tr>
    <tr class="indented">
        <td class="field_name">network</td>
        <td>String</td>
        <td>Independent</td>
        <td></td>
    </tr>
    <tr class="indented">
        <td class="field_name">slug</td>
        <td>String</td>
        <td>sid-valley</td>
        <td></td>
    </tr>
    <tr class="indented">
        <td class="field_name" colspan="4">urls</td>
    </tr>
    <tr class="double-indented">
        <td class="field_name">html</td>
        <td>URL</td>
        <td class="eg">https://www.givefood.org.uk/needs/in/sid-valley/</td>
        <td>HTML URL of the food bank</td>
    </tr>
    <tr class="double-indented">
        <td class="field_name">self</td>
        <td>URL</td>
        <td class="eg">https://www.givefood.org.uk/api/2/foodbank/sid-valley/</td>
        <td>API URL of the food bank</td>
    </tr>
    <tr>
        <td class="field_name">lat_lng</td>
        <td>String</td>
        <td>51.4630738,-0.1207938</td>
        <td>Comma separated latitude and longitude</td>
    </tr>
    <tr>
        <td class="field_name">name</td>
        <td>String</td>
        <td>Sid Valley</td>
        <td></td>
    </tr>
    <tr>
        <td class="field_name">phone</td>
        <td>String</td>
        <td>07413858335</td>
        <td>Phone number</td>
    </tr>
    <tr>
        <td class="field_name" colspan="4">politics</td>
    </tr>
    <tr class="indented">
        <td class="field_name">parliamentary_constituency</td>
        <td>String</td>
        <td class="eg">Vauxhall</td>
        <td>Name of the parliamentary constituency the food bank's main location is in</td>
    </tr>
    <tr class="indented">
        <td class="field_name">mp</td>
        <td>String</td>
        <td class="eg">Florence Eshalomi</td>
        <td>Name of the member of parliament who represents parliamentary constituency that the food bank's main location is in</td>
    </tr>
    <tr class="indented">
        <td class="field_name">mp_party</td>
        <td>String</td>
        <td class="eg">Labour</td>
        <td>Political party of the member of parliament who represents parliamentary constituency that the food bank's main location is in</td>
    </tr>
    <tr class="indented">
        <td class="field_name">ward</td>
        <td>String</td>
        <td class="eg">Streatham Hill</td>
        <td>Name of the ward the food bank's main location is in</td>
    </tr>
    <tr class="indented">
        <td class="field_name">district</td>
        <td>String</td>
        <td class="eg">Lambeth</td>
        <td>Name of the district the food bank's main location is in</td>
    </tr>
    <tr>
        <td class="field_name" colspan="4">needs</td>
    </tr>
    <tr class="indented">
        <td class="field_name">found</td>
        <td>Date time</td>
        <td class="eg">2020-11-27T09:55:57.877Z</td>
        <td>Date and time of when we found what the food bank needs</td>
    </tr>
    <tr class="indented">
        <td class="field_name">needs</td>
        <td>Multiline String</td>
        <td class="eg">UHT Milk<br>Tinned Tomatoes<br>Tinned Sweetcorn<br>Custard</td>
        <td>Linebreak separated list of items in the need. Or "Unknown", "Nothing" or "Facebook" keywords.</td>
    </tr>
    <tr class="indented">
        <td class="field_name">number</td>
        <td>Integer</td>
        <td class="eg">6</td>
        <td>Number of different items requested by the food bank</td>
    </tr>
    <tr class="indented">
        <td class="field_name">excess</td>
        <td>Multiline String</td>
        <td class="eg">Baked Beans<br>Pasta</td>
        <td>Linebreak separated list of items the food bank has excess of</td>
    </tr>
    <tr class="indented">
        <td class="field_name" colspan="4">urls</td>
    </tr>
    <tr class="double-indented">
        <td class="field_name">html</td>
        <td>URL</td>
        <td class="eg">https://www.givefood.org.uk/needs/in/constituency/vauxhall/</td>
        <td>HTML URL of the parliamentary constituency</td>
    </tr>
    <tr class="double-indented">
        <td class="field_name">self</td>
        <td>URL</td>
        <td class="eg">https://www.givefood.org.uk/api/2/constituency/vauxhall/</td>
        <td>API URL of the parliamentary constituency</td>
    </tr>
    <tr>
        <td class="field_name">postcode</td>
        <td>String</td>
        <td>GU16 7HF</td>
        <td></td>
    </tr>
    <tr>
        <td class="field_name">slug</td>
        <td>String</td>
        <td class="eg">hull</td>
        <td>Slugified name of the food bank</td>
    </tr>
    <tr>
        <td class="field_name" colspan="4">urls</td>
    </tr>
    <tr class="indented">
        <td class="field_name">html</td>
        <td>URL</td>
        <td class="eg">https://www.givefood.org.uk/needs/at/norwoodbrixton/brixton/</td>
        <td>HTML URL of the location</td>
    </tr>
</table>