<table class="table is-narrow">
    <tr>
        <th>Field</th>
        <th>Type</th>
        <th>Example</th>
        <th>Description</th>
    </tr>
    <tr>
    <td class="field_name">found</td>
        <td>Date Time</td>
        <td>2019-07-27T17:59:21.975Z</td>
        <td>Date and time we first found the food bank request</td>
    </tr>
    <tr>
        <td class="field_name" colspan="4">foodbank</td>
    </tr>
    <tr class="indented">
        <td class="field_name">name</td>
        <td>String</td>
        <td class="eg">Hull</td>
        <td></td>
    </tr>
    <tr class="indented">
        <td class="field_name">slug</td>
        <td>String</td>
        <td class="eg">hull</td>
        <td>Slugified name of the food bank</td>
    </tr>
    <tr class="indented">
        <td class="field_name" colspan="4">urls</td>
    </tr>
    <tr class="double-indented">
        <td class="field_name">self</td>
        <td>URL</td>
        <td class="eg">https://www.givefood.org.uk/api/2/foodbank/hull/</td>
        <td></td>
    </tr>
    <tr class="double-indented">
        <td class="field_name">html</td>
        <td>URL</td>
        <td class="eg">https://www.givefood.org.uk/needs/at/hull/</td>
        <td></td>
    </tr>
    <tr>
        <td class="field_name">id</td>
        <td>Eight character string</td>
        <td>dc437c31</td>
        <td>Unique need identifier</td>
    </tr>
    <tr>
        <td class="field_name">needs</td>
        <td>Multiline String</td>
        <td>Jam<br>Coffee<br>Tinned Fruit<br>Tinned Meat</td>
        <td>Linebreak separated list of items in the need. Or "Unknown", "Nothing" or "Facebook" keywords.</td>
    </tr>
    <tr>
        <td class="field_name">self</td>
        <td>URL</td>
        <td class="eg">https://www.givefood.org.uk/api/2/foodbank/dc437c31/</td>
        <td></td>
    </tr>
</table>