{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}Foodbanks - GF Admin{% endblock %}

{% block body %}

  <h2>Foodbanks</h2>

  <div class="columns">

    <div class="column">

      <div class="field is-pulled-right">
        <div class="control">
          <div class="select is-small">
            <select onchange="javascript:window.location.href=this.value">
              <option value="?sort=name"{% if sort == "name" %} selected{% endif %}>Alphabetical</option>
              <option value="?sort=last_order"{% if sort == "last_order" %} selected{% endif %}>Last Order</option>
              <option value="?sort=created"{% if sort == "created" %} selected{% endif %}>Created</option>
            </select>
          </div>
        </div>
      </div>

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Name</th>
          <th>Postcode</th>
          <th>Charity No.</th>
          <th>Country</th>
          <th>Last Order</th>
          <th>Network</th>
          <th>Closed</th>
          <th>Links</th>
          <th>Created</th>
          <th>Modified</th>
        </tr>
        {% for foodbank in foodbanks %}
          <tr>
            <td><a href="{% url "admin_foodbank" foodbank.slug %}">{{ foodbank }}</a></td>
            <td>{{ foodbank.postcode }}</td>
            <td>
              {% if foodbank.charity_number %}
                <a href="{{ foodbank.charity_register_url }}">{{ foodbank.charity_number }}</a>
              {% endif %}
            </td>
            <td>{{ foodbank.country_flag }} {{ foodbank.country }}</td>
            <td>{{ foodbank.last_order }}</td>
            <td>{{ foodbank.network }}</td>
            <td>
              {% if foodbank.is_closed %}
                <span style="color:red">X</span>
              {% endif %}
            </td>
            <td>
              {% if foodbank.facebook_page %}
                <a href="https://www.facebook.com/{{ foodbank.facebook_page }}">
                  <img src="/static/img/facebook.png" width="16">
                </a>
              {% endif %}
              {% if foodbank.twitter_handle %}
                <a href="https://www.twitter.com/{{ foodbank.twitter_handle }}">
                  <img src="/static/img/twitter.png" width="16">
                </a>
              {% endif %}
            <td>{{ foodbank.created }}</td>
            <td>{{ foodbank.modified }}</td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
