{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}{{ foodbank }} - GF Admin{% endblock %}

{% block body %}

  <h2>{{ foodbank }}</h2>

  <div class="columns">

    <div class="column is-two-fifths">

      {% if foodbank.is_closed %}
        <span class="tag is-danger">Closed</span>
      {% endif %}

      <a href="{% url 'admin_foodbank_edit' foodbank.slug %}" class="button is-link is-pulled-right">Edit</a>

      <p>{{ foodbank.address|linebreaksbr }}</p><br><br>

      <dl>
        <dt>Number of orders</dt>
        <dd>{{ foodbank.no_orders }}</dd>
        <dt>Total weight</dt>
        <dd>{{ foodbank.total_weight_kg|intcomma }} kg</dd>
        <dt>Website</dt>
        <dd><a href="{{ foodbank.url }}">{{ foodbank.url }}</a></dd>
        {% if foodbank.facebook_page %}
          <dt>Facebook</dt>
          <dd><a href="https://www.facebook.com/{{ foodbank.facebook_page }}">{{ foodbank.facebook_page }}</a></dd>
        {% endif %}
        {% if foodbank.twitter_handle %}
          <dt>Twitter</dt>
          <dd><a href="https://twitter.com/{{ foodbank.twitter_handle }}">@{{ foodbank.twitter_handle }}</a></dd>
        {% endif %}
      </dl>

    </div>

    <div class="column">
      <a href="{% url "admin_neworder" %}?foodbank={{ foodbank.slug }}" class="button is-link">New Order</a>
      {% if foodbank.orders %}
        <table class="table is-fullwidth is-hoverable">
          <tr>
            <th>Date</th>
            <th>Items</th>
            <th>Cost</th>
          </tr>
          {% for order in foodbank.orders %}
            <tr>
              <td><a href="{% url 'admin_order' order.order_id %}">{{ order.delivery_datetime }}</a></td>
              <td>{{ order.no_items }}</td>
              <td>£{{ order.natural_cost }}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>No orders yet, <a href="{% url 'admin_neworder' %}?foodbank={{ foodbank.slug }}">make one?</a></p>
      {% endif %}

    </div>

  </div>

{% endblock %}
