{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}Foodbanks - GF Admin{% endblock %}

{% block body %}

  <h2>Foodbanks</h2>

  <div class="columns">

    <div class="column">

      <!-- <form action="" method="get">
        <div class="control">
          <label class="label">Country</label>
          <div class="select">
            <select>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </div>
        </div>
      </form> -->

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Name</th>
          <th>Postcode</th>
          <th>Charity No.</th>
          <th>Country</th>
          <th>Last Order</th>
          <th>Network</th>
          <th>Closed</th>
          <th>Created</th>
          <th>Modified</th>
        </tr>
        {% for foodbank in foodbanks %}
          <tr>
            <td><a href="{% url "admin_foodbank" foodbank.slug %}">{{ foodbank }}</a></td>
            <td>{{ foodbank.postcode }}</td>
            <td>
              {% if foodbank.charity_number %}
                <a href="{{ foodbank.charity_register_url }}">{{ foodbank.charity_number }}</a>
              {% endif %}
            </td>
            <td>{{ foodbank.country_flag }} {{ foodbank.country }}</td>
            <td>{{ foodbank.last_order }}</td>
            <td>{{ foodbank.network }}</td>
            <td>
              {% if foodbank.is_closed %}
                <span style="color:red">X</span>
              {% endif %}
            </td>
            <td>{{ foodbank.created }}</td>
            <td>{{ foodbank.modified }}</td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
