{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}{{ foodbank }} - GF Admin{% endblock %}

{% block body %}

  <h2>{{ foodbank }}</h2>

  <div class="columns">

    <div class="column">

      {% if foodbank.is_closed %}
        <span class="tag is-danger">Closed</span>
      {% endif %}

      <a href="{% url 'admin_foodbank_edit' foodbank.slug %}" class="button is-link">Edit</a>

      {% if foodbank.notes %}
        <p class="box" style="margin-top:20px;">{{ foodbank.notes|linebreaksbr }}</p><br>
      {% endif %}

      <h3>Address</h3>
      <p>{{ foodbank.address|linebreaksbr }}<br>{{ foodbank.postcode }}</p>

      {% if foodbank.delivery_address %}
        <h3>Delivery Address</h3>
        <p>{{ foodbank.delivery_address|linebreaksbr }}</p>
      {% endif %}

      <h3>Stats</h3>
      <dl>
        <dt>Number of orders</dt>
        <dd>{{ foodbank.no_orders }}</dd>
        <dt>Total weight</dt>
        <dd>{{ foodbank.total_weight_kg|intcomma }} kg</dd>
        <dt>Total weight (pkging)</dt>
        <dd>{{ foodbank.total_weight_kg_pkg|intcomma }} kg</dd>
        <dt>Total items</dt>
        <dd>{{ foodbank.total_items|intcomma }}</dd>
        <dt>Total cost</dt>
        <dd>£{{ foodbank.total_cost|intcomma }}</dd>
      </dl>
      <br>
      <h3>Links</h3>
      <dl>
        <dt>Website</dt>
        <dd><a href="{{ foodbank.url }}">{{ foodbank.url|truncatechars:35 }}</a></dd>
        <dt>Shopping list</dt>
        <dd><a href="{{ foodbank.shopping_list_url }}">{{ foodbank.shopping_list_url|truncatechars:35 }}</a></dd>
        {% if foodbank.facebook_page %}
          <dt>Facebook</dt>
          <dd><a href="https://www.facebook.com/{{ foodbank.facebook_page }}">{{ foodbank.facebook_page }}</a></dd>
        {% endif %}
        {% if foodbank.twitter_handle %}
          <dt>Twitter</dt>
          <dd><a href="https://twitter.com/{{ foodbank.twitter_handle }}">@{{ foodbank.twitter_handle }}</a></dd>
        {% endif %}
        {% if foodbank.charity_register_url %}
          <dt>Charity register</dt>
          <dd><a href="{{ foodbank.charity_register_url }}">{{ foodbank.charity_number }}</a></dd>
        {% endif %}
      </dl>

    </div>

    <div class="column">
      {% if foodbank.orders %}
        <a href="{% url "admin_neworder" %}?foodbank={{ foodbank.slug }}" class="button is-link">New Order</a>
        <table class="table is-fullwidth is-hoverable">
          <tr>
            <th>Date</th>
            <th>Items</th>
            <th>Cost</th>
            <th></th>
          </tr>
          {% for order in foodbank.orders %}
            <tr>
              <td><a href="{% url 'admin_order' order.order_id %}">{{ order.delivery_datetime|date:"D" }}, {{ order.delivery_datetime }}</a></td>
              <td>{{ order.no_items }}</td>
              <td>£{{ order.natural_cost }}</td>
              <td>{% if order.notification_email_sent %}✉️{% endif %}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>No orders yet, <a href="{% url 'admin_neworder' %}?foodbank={{ foodbank.slug }}">make one?</a></p>
      {% endif %}

    </div>

    {% if foodbank.facebook_page %}
      <div class="column">
        <h2><a href="https://www.facebook.com/{{ foodbank.facebook_page }}">Facebook</a></h2>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0"></script>
        <div class="fb-page" data-href="https://www.facebook.com/{{ foodbank.facebook_page }}" data-tabs="timeline" data-width="" data-height="1000" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/{{ foodbank.facebook_page }}" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/{{ foodbank.facebook_page }}">{{ foodbank.facebook_page }}</a></blockquote></div>
      </div>
    {% endif %}

    {% if foodbank.twitter_handle %}
      <div class="column">
        <h2><a href="https://twitter.com/{{ foodbank.twitter_handle }}">Twitter</a></h2>
        <div class="twitter-feed">
          <a class="twitter-timeline" href="https://twitter.com/{{ foodbank.twitter_handle }}">Tweets by {{ foodbank.twitter_handle }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    {% endif %}

  </div>

{% endblock %}
