{% extends "admin/page.html" %}

{% block title %}{{ need }} - GF Admin{% endblock %}

{% block body %}

  <h2>{{ need }}</h2>

  <div class="columns">

    <div class="column">
      <a href="{% url "admin_need_edit" need.need_id %}" class="button is-link">Edit</a>
      <dl>
        <dt>Created</dt>
        <dd>{{ need.created }}</dd>
        <dt>ID</dt>
        <dd>{{ need.need_id }}</dd>
        <dt>Distill ID</dt>
        <dd>{{ need.distill_id }}</dd>
        <dt>Foodbank</dt>
        <dd>
          {% if need.foodbank %}
            <a href="{% url 'admin_foodbank' need.foodbank.slug %}">{{ need.foodbank }}</a></dd>
          {% else %}
            Unknown
          {% endif %}
        <dt>URL</dt>
        <dd><a href="{{ need.uri }}">{{ need.uri|truncatechars:35 }}</a></dd>
      </dl>

      <br>
      <form action="{% url 'admin_need_publish' need.need_id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="button is-success" value="Publish" onclick="return confirm('Are you sure you want to PUBLISH?')">
      </form>
      <br>
      <form action="{% url 'admin_need_delete' need.need_id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="button is-danger" value="Delete" onclick="return confirm('Are you sure you want to DELETE?')">
      </form>

    </div>

    <div class="column">
      <p>{{ need.change_text|linebreaksbr }}</p>
    </div>

  </div>

{% endblock %}
