{% extends "admin/page.html" %}

{% block title %}{{ need }} - GF Admin{% endblock %}

{% block body %}

  <h2>{{ need.need_id }}</h2>

  <div class="columns">

    <div class="column">
      <a href="{% url "admin_need_form" need.need_id %}" class="button is-link">Edit</a>
      <dl>
        <dt>Published</dt>
        <dd>
          {% if need.published %}
            <span style="color:green">✓</span>
          {% else %}
            <span style="color:red">x</span>
          {% endif %}
        </dd>
        <dt>Created</dt>
        <dd>{{ need.created }}</dd>
        <dt>Modified</dt>
        <dd>{{ need.modified }}</dd>
        <dt>ID</dt>
        <dd>{{ need.need_id }}</dd>
        {% if need.distill_id %}
          <dt>Distill ID</dt>
          <dd>{{ need.distill_id }}</dd>
        {% endif %}
        <dt>Foodbank</dt>
        <dd>
          {% if need.foodbank %}
            <a href="{% url 'admin_foodbank' need.foodbank.slug %}">{{ need.foodbank }}</a>
          {% else %}
            Unknown
          {% endif %}
        </dd>
        {% if need.uri %}
          <dt>URL</dt>
          <dd><a href="{{ need.uri }}">{{ need.uri|truncatechars:35 }}</a></dd>
        {% endif %}
      </dl>

      <br>
      <form action="{% url 'admin_need_publish' need.need_id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="button is-success" value="Publish">
      </form>
      <form action="{% url 'admin_need_tweet' need.need_id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="button is-danger" value="TWEET">
      </form>
      <br>
      <form action="{% url 'admin_need_delete' need.need_id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="button is-danger" value="Delete" onclick="return confirm('Are you sure you want to DELETE?')">
      </form>

    </div>

    <div class="column">
      <div class="box">
        <p>{{ need.change_text|linebreaksbr }}</p>
      </div>
      {% if need.diff_from_last %}
        <div class="box">
          <p>{{ need.diff_from_last|linebreaksbr }}</p>
        </div>
        {{ need.last_need_date }}
      {% endif %}
    </div>

  </div>

{% endblock %}
