{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}Orders - GF Admin{% endblock %}

{% block body %}

  <h2>Orders</h2>

  <div class="columns">

    <div class="column">

      <form action="" method="get">
        <div class="control">
          <label class="label">Country</label>
          <div class="select">
            <select>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </div>
        </div>
      </form>

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>ID</th>
          <th>Foodbank</th>
          <th>Delivery</th>
        </tr>
        {% for order in orders %}
          <tr>
            <td><a href="{% url "admin_order" order.order_id %}">{{ order.order_id }}</a></td>
            <td>{{ order.foodbank }}</td>
            <td>{{ order.delivery_datetime }}</td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
