{% extends "admin/page.html" %}
{% load humanize %}
{% load product_image %}

{% block title %}{{ order.order_id }} - GF Admin{% endblock %}

{% block body %}

  <h2>Order {{ order.order_id }}</h2>

  <div class="columns">

    <div class="column is-two-fifths">

      <a href="{% url 'admin_order_edit' order.order_id %}" class="button is-link is-pulled-right">Edit</a>

      <dl>
        <dt>ID</dt>
        <dd>{{ order.order_id }}
        <dt>Foodbank</dt>
        <dd><a href="{% url "admin_foodbank" order.foodbank.slug %}">{{ order.foodbank }}</a></dd>
        <dt>Delivery hour</dt>
        <dd>{{ order.delivery_date|date:"D" }}, {{ order.delivery_date }}, {{ order.delivery_hour }}:00</dd>
        <dt>Items</dt>
        <dd>{{ order.no_items }}</dd>
        <dt>Lines</dt>
        <dd>{{ order.no_lines }}</dd>
        <dt>Weight</dt>
        <dd>{{ order.weight_kg|intcomma }} kg</dd>
        <dt>Total weight (pkging)</dt>
        <dd>{{ order.weight_kg_pkg|intcomma }} kg</dd>
        <dt>Calories</dt>
        <dd>{{ order.calories|intcomma }}</dd>
        <dt>Cost</dt>
        <dd>£{{ order.natural_cost }}</dd>
        {% if order.source_url %}
          <dt>Source URL</dt>
          <dd><a href="{{ order.source_url }}">{{ order.source_url|truncatechars:35 }}</a></dd>
        {% endif %}
        <dt>
        {% if order.delivery_provider and order.delivery_provider_id %}
          <dt>Delivery</dt>
          <dd>
            <a href="{% if order.delivery_provider = "Tesco" %}https://www.tesco.com/groceries/en-GB/orders/{{ order.delivery_provider_id }}{% endif %}{% if order.delivery_provider = "Sainsbury's" %}https://www.sainsburys.co.uk/gol-ui/my-account/orders/{{ order.delivery_provider_id }}{% endif %}">
              {{ order.delivery_provider }}
            </a>
          </dd>
        {% endif %}
        <dt>Created</dt>
        <dd>{{ order.created }}</dd>
        <dt>Modified</dt>
        <dd>{{ order.modified }}</dd>
      </dl>
      {% if order.need %}
        <h2>Need <a href="{% url "admin_need" order.need.need_id %}">{{ order.need.need_id }}</a></h2>
        <p>{{ order.need.change_text|linebreaksbr }}</p>
        <dl>
          <dt>Found</dt>
          <dd>{{ order.need.created }}</dd>
          {% if order.need.uri %}
            <dt>URL</dt>
            <dd><a href="{{ order.need.uri }}">{{ order.need.uri|truncatechars:40 }}</a></dd>
          {% endif %}
        </dl>
      {% endif %}
      <h2>Notification Email</h2>
      <p>Sent: {{ order.notification_email_sent }}</p>
      <form action="{% url 'admin_order_send_notification' order.order_id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="button is-link" value="Send">
      </form>
    </div>

    <div class="column">

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Weight</th>
          <th>Calories</th>
        </tr>
        {% for line in order.lines %}
          <tr>
            <td><img src="{% product_image order.delivery_provider line.name %}" class="small-product-image"></td>
            <td>{{ line.name }}</td>
            <td>{{ line.quantity }}</td>
            <td>{{ line.weight|intcomma }}g</td>
            <td>{{ line.calories|intcomma }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}
