<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <link rel="stylesheet" href="/static/css/gf.css">
  <link rel="stylesheet" href="/static/css/admin.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.png">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>Give Food <span><a href="{% url "admin_index" %}">Admin</a></span></h1>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <a class="navbar-item" href="/admin/">Home</a>
      <a class="navbar-item" href="/admin/foodbanks/">Foodbanks</a>
      <a class="navbar-item" href="/admin/orders/">Orders</a>
      <a class="navbar-item" href="/admin/map/">Map</a>
    </nav>
    {% block body %}{% endblock %}
    <script src="//instant.page/2.0.1" type="module" defer integrity="sha384-4Duao6N1ACKAViTLji8I/8e8H5Po/i/04h4rS5f9fQD6bXBBZhqv5am3/Bf/xalr"></script>
</body>
</html>
