{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}Politics - GF Admin{% endblock %}

{% block body %}

  <h2>Politics</h2>

  <div class="columns">

    <div class="column">

      <h2>Parliamentary Constituencies</h2>
      <a href="{% url 'admin_parlcon_form' %}" class="button is-link">New ParlCon</a>
      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Name</th>
          <th>Country</th>
          <th>MP</th>
          <th>MP Party</th>
          <th>MP Parliament ID</th>
          <th>Electorate</th>
          <th>GeoJSON?</th>
          <th></th>
        </tr>
        {% for parlcon in parlcons %}
          <tr>
            <td>{{ parlcon.name }}</td>
            <td>{{ parlcon.country }}</td>
            <td>{{ parlcon.mp }}</td>
            <td>{{ parlcon.mp_party }}</td>
            <td>{{ parlcon.mp_parl_id }}</td>
            <td>{{ parlcon.electorate }}</td>
            <td>{% if parlcon.boundary_geojson %}GeoJSON{% endif %}</td>
            <td>
              <a href="{% url 'admin_parlcon_form' parlcon.slug %}" class="button is-small">Edit</a>
            </td>
          </tr>
        {% endfor %}
      </table>

      <h2>Food Banks</h2>
      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Name</th>
          <th>Postcode</th>
          <th>Constituency</th>
          <th>MP</th>
          <th>MP Party</th>
          <th>MP Parliament ID</th>
          <th></th>
        </tr>
        {% for foodbank in foodbanks %}
          <tr>
            <td><a href="{% url "admin_foodbank" foodbank.slug %}">{{ foodbank }}</a></td>
            <td>{{ foodbank.postcode }}</td>
            <td>{{ foodbank.parliamentary_constituency }}</td>
            <td>{{ foodbank.mp }}</td>
            <td>{{ foodbank.mp_party }}</td>
            <td>{{ foodbank.mp_parl_id }}</td>
            <td>
              <a href="{% url 'admin_foodbank_politics_edit' foodbank.slug %}" class="button is-small">Edit</a>
            </td>
          </tr>
        {% endfor %}
      </table>

      <h2>Food Bank Locations</h2>

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Name</th>
          <th>Food Bank</th>
          <th>Postcode</th>
          <th>Constituency</th>
          <th>MP</th>
          <th>MP Party</th>
          <th>MP Parliament ID</th>
          <th></th>
        </tr>
        {% for location in locations %}
          <tr>
            <td>{{ location.name }}</td>
            <td><a href="{% url "admin_foodbank" location.foodbank_slug %}">{{ location.foodbank_name }}</a></td>
            <td>{{ location.postcode }}</td>
            <td>{{ location.parliamentary_constituency }}</td>
            <td>{{ location.mp }}</td>
            <td>{{ location.mp_party }}</td>
            <td>{{ location.mp_parl_id }}</td>
            <td>
              <a href="{% url 'admin_fblocation_politics_edit' location.foodbank_slug location.slug  %}" class="button is-small">Edit</a>
            </td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
