{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}Searches - GF Admin{% endblock %}

{% block body %}

  <h2>Searches</h2>

  <div class="columns">

    <div class="column">

      <table class="table is-fullwidth is-hoverable" data-turbolinks="false">
        <tr>
          <th>Time</th>
          <th>Query Type</th>
          <th>Query</th>
          <th>Nearest Foodbank</th>
          <th>Map</th>
        </tr>
        {% for search in searches %}
          <tr>
            <td>{{ search.created }}</td>
            <td>{{ search.query_type }}</td>
            <td>
              <a href="{{ search.wfbn_url }}">
                {{ search.query }}
              </a>
            </td>
            <td>{{ search.nearest_foodbank|intcomma }}m</td>
            <td>
              <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=700x150&key=AIzaSyCgc052pX0gMcxOF1PKexrTGTu8qQIIuRk&scale=1&center={{ search.latt_long }}" width="350" loading="lazy">
            </td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
