{% extends "app/page.html" %}
{% load custom_tags %}

{% block title %}{{ foodbank.name }}{% endblock %}

{% block body %}

  <main>

      <p class="needs">
          {% include "wfbn/includes/need_text.html" with need_text=foodbank.latest_need.change_text  %}
      </p>

      <a href="https://www.google.com/maps?saddr=My+Location&daddr={{ foodbank.latt_long }}" class="{% if language_direction == 'ltr' %}is-pulled-right{% else %}is-pulled-left{% endif %} button is-info is-small is-light directions-btn">Directions</a>
      <address>
          {{ foodbank.address|linebreaksbr }}<br>
          {{ foodbank.postcode }}<br>
          {{ foodbank.country }}
      </address>

      <br>
      <div class="contacts">
            <a href="{{ foodbank.url_with_ref }}" class="website">{{ foodbank.friendly_url|truncatechars:40 }}</a>
            {% if foodbank.phone_number %}
            <a href="tel:{{ foodbank.phone_number|full_phone }}" class="phone">{{ foodbank.phone_number|friendly_phone }}</a>
            {% if foodbank.secondary_phone_number %}<a href="tel:{{ foodbank.secondary_phone_number|full_phone }}"  class="phone">{{ foodbank.secondary_phone_number|friendly_phone }}</a>{% endif %}
            {% endif %}
            <a href="mailto:{{ foodbank.contact_email }}" class="email">{{ foodbank.contact_email|truncatechars:40 }}</a>
      </div>

      {% if locations %}
          <details>
              <summary>Locations</summary>
              {% for location in locations %}
                  <h3>{{ location.name }}</h3>
                  <a href="https://www.google.com/maps?saddr=My+Location&daddr={{ location.latt_long }}" class="{% if language_direction == 'ltr' %}is-pulled-right{% else %}is-pulled-left{% endif %} button is-info is-small is-light directions-btn">Directions</a>
                  <address>
                      {{ location.address|linebreaksbr }}<br>
                      {{ location.postcode }}
                  </address>
                  <br>
              {% endfor %}
          </details>
      {% endif %}

      {% if donationpoints %}
        <details>
          <summary>Donation Points</summary>
          {% for donationpoint in donationpoints %}
              <h3>{{ donationpoint.name }}</h3>
              <a href="https://www.google.com/maps?saddr=My+Location&daddr={{ donationpoint.latt_long }}" class="{% if language_direction == 'ltr' %}is-pulled-right{% else %}is-pulled-left{% endif %} button is-info is-small is-light directions-btn">Directions</a>
              <address>
                  {{ donationpoint.address|linebreaksbr }}<br>
                  {{ donationpoint.postcode }}
              </address>
              <br>
          {% endfor %}
        </details>
      {% endif %}

  </main>

{% endblock %}
