{% extends "app/page.html" %}

{% block title %}Give Food{% endblock %}

{% block body %}

    <main>
        <p>Find a food bank near you, see what they need and how you can help by donating or volunteering.</p>

        <a id="usemylocationbtn" href="#" class="button is-light is-info">Use my location</a>

        <form id="addressform" action="{% url 'app:search' %}" method="GET" role="search" aria-label="Find food banks">

            <label id="address_label" for="address_field" class="label">Postcode or town</label>
            <div class="field has-addons">
                <div class="control">
                    <input id="address_field" class="input" type="text" name="address" class="input" placeholder="e.g. EX4 6PX or Sheffield" required aria-required="true">
                </div>
                <div class="control">
                    <input type="submit" class="button is-light is-info" value="Go">
                </div>
            </div>
            <input id="lat_lng_field" type="hidden" name="lat_lng">

            <p>Last updated <span class="lastupdated" data-include="{% url 'frag' 'last-updated' %}"></span></p>

            
        </form>
    </main>

    <script>

        document.documentElement.addEventListener('turbo:load', function (e) {
            document.getElementById("usemylocationbtn").addEventListener("click", function(){
                this.classList.add("working")
                navigator.geolocation.getCurrentPosition(
                    function(position) {
                        Turbo.visit("{% url 'app:search' %}?lat_lng=" + position.coords.latitude + "," + position.coords.longitude);
                    }
                );
            });
        });

        document.getElementById("usemylocationbtn").classList.remove("working")

        address_field = document.getElementById("address_field");

        autocomplete = new google.maps.places.Autocomplete(address_field, {types:["geocode"]});
        autocomplete.setComponentRestrictions({'country': ['gb', 'im', 'je', 'gg']});
        autocomplete.addListener("place_changed", () => {
            lat_lng_field.value = autocomplete.getPlace().geometry.location.lat() + "," + autocomplete.getPlace().geometry.location.lng();
        })
    </script>


{% endblock %}
