{% extends "app/page.html" %}

{% block title %}Give Food{% endblock %}

{% block head %}<script src="/static/js/wfbn.js?v={{ version }}"></script>{% endblock %}

{% block body %}

    <div id="map"></div>

    <script>
        window.gfMapConfig = {
            geojson: "{% url 'wfbn:geojson' %}",
            lat: 55.4,
            lng: -4,
            zoom: 6,
            location_marker: false,
            apiKey: '{{ gmap_key }}',
            libraries: 'places,marker',
            region: 'GB',
            language: '{{ language_code }}'
        }
        document.documentElement.addEventListener('turbo:load', function (e) {
            init()
        });
    </script>


{% endblock %}
