<!DOCTYPE html>
<html lang="en">
{% include 'public/includes/debugcomment.html' %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="turbo-refresh-method" content="morph">
        <meta name="turbo-refresh-scroll" content="preserve">
        <meta name="theme-color" content="#F2DECB">
        <meta name="robots" content="noindex,nofollow">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/bulma.min.css?v={{ version }}">
        <link rel="stylesheet" href="/static/css/gf.css?v={{ version }}">
        <link rel="stylesheet" href="/static/css/app.css?v={{ version }}">
        <script src="/static/js/csi.js?v={{ version }}"></script>
        <script src="/static/js/tabber.js?v={{ version }}"></script>
        <script type="module" src="/static/js/turbo.js?v={{ version }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgc052pX0gMcxOF1PKexrTGTu8qQIIuRk&libraries=places,marker&region=GB&language={{ language_code }}"></script>
        <script defer data-domain="givefood.org.uk" data-api="/psb/api/event" src="/psb/js/script.outbound-links.manual.js"></script>
        <link rel="preload" href="/static/fonts/soehne-buch.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="/static/fonts/soehne-kraftig.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="/static/fonts/soehne-dreiviertelfett.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        {% block head %}{% endblock %}
    </head>
    <body class="index">
        {% block body %}{% endblock %}
        <script>
            if (plausible) {plausible('pageview')}
        </script>
    </body>
</html>