{% load i18n %}
<aside class="menu foodbank-menu">
    <ul class="menu-list">
        <li><a {% if section == 'foodbank' %}class="is-active" {% endif %}href="{% url 'wfbn:foodbank' foodbank.slug %}">{% blocktrans %}Details{% endblocktrans %}</a></li>
        {% if foodbank.no_locations != 0 %}
            <li><a {% if section == 'locations' %}class="is-active" {% endif %}href="{% url 'wfbn:foodbank_locations' foodbank.slug %}">{% blocktrans %}Locations{% endblocktrans %}</a></li>
        {% endif %}
        {% if foodbank.no_donation_points != 0 %}
            <li><a {% if section == 'donationpoints' %}class="is-active" {% endif %}href="{% url 'wfbn:foodbank_donationpoints' foodbank.slug %}">{% blocktrans %}Donation points{% endblocktrans %}</a></li>
        {% endif %}
        {% if foodbank.rss_url %}
            <li><a {% if section == 'news' %}class="is-active" {% endif %}href="{% url 'wfbn:foodbank_news' foodbank.slug %}">{% blocktrans %}News{% endblocktrans %}</a></li>
        {% endif %}
        {% if foodbank.facebook_page or foodbank.twitter_handle %}
            <li><a  {% if section == 'socialmedia' %}class="is-active" {% endif %}href="{% url 'wfbn:foodbank_socialmedia' foodbank.slug %}">{% blocktrans %}Social media{% endblocktrans %}</a></li>
        {% endif %}
        <li><a {% if section == 'nearby' %}class="is-active" {% endif %}href="{% url 'wfbn:foodbank_nearby' foodbank.slug %}">{% blocktrans %}Nearby{% endblocktrans %}</a></li>
        {% if foodbank.has_needs %}
            <li><a {% if section == 'subscribe' %}class="is-active" {% endif %}href="{% url 'wfbn:foodbank_subscribe' foodbank.slug %}">{% blocktrans %}Get updates{% endblocktrans %}</a></li>
        {% endif %}
        <li><a {% if section == 'edit' %}class="is-active" {% endif %}href="{% if not location %}{% url 'wfbn:foodbank_edit' foodbank.slug %}{% else %}{% url 'wfbn:foodbank_edit_form_location' foodbank.slug 'locations' location.slug %}{% endif %}" rel="nofollow">{% blocktrans %}Edit{% endblocktrans %}</a></li>
    </ul>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
</aside>
<script src="/static/js/burger.js?v={{ version }}" defer></script>