<aside class="menu foodbank-menu">
    <ul class="menu-list">
        <li><a {% if section == 'foodbank' %}class="is-active" {% endif %}href="{% url 'wfbn:foodbank' foodbank.slug %}">Details</a></li>
        {% if foodbank.no_locations != 0 %}
            <li><a {% if section == 'locations' %}class="is-active" {% endif %} href="{% url 'wfbn:foodbank_locations' foodbank.slug %}">Locations</a></li>
        {% endif %}
        {% if foodbank.rss_url %}
            <li><a {% if section == 'news' %}class="is-active" {% endif %} href="{% url 'wfbn:foodbank_news' foodbank.slug %}">News</a></li>
        {% endif %}
        <li><a {% if section == 'politics' %}class="is-active" {% endif %} href="{% url 'wfbn:foodbank_politics' foodbank.slug %}">Politics</a></li>
        {% if foodbank.facebook_page or foodbank.twitter_handle %}
            <li><a  {% if section == 'socialmedia' %}class="is-active" {% endif %}  href="{% url 'wfbn:foodbank_socialmedia' foodbank.slug %}">Social Media</a></li>
        {% endif %}
        <li><a {% if section == 'nearby' %}class="is-active" {% endif %} href="{% url 'wfbn:foodbank_nearby' foodbank.slug %}">Nearby</a></li>
        <li><a {% if section == 'history' %}class="is-active" {% endif %} href="{% url 'wfbn:foodbank_history' foodbank.slug %}">History</a></li>
        <li><a {% if section == 'edit' %}class="is-active" {% endif %} href="{% url 'wfbn:foodbank_edit' foodbank.slug %}">Edit</a></li>
    </ul>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
</aside>