{% load i18n %}
<div class="subscribe-form">
    <form action="{% url 'human' %}" method="post">
        <label class="label" for="email">{% blocktrans %}Get an email when items are needed{% endblocktrans %}</label>
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" id="email" maxlength="254" name="email" type="email" value="{% if email %}{{ email }}{% endif %}" placeholder="{% blocktrans %}Email address{% endblocktrans %}" required="required" autocomplete="email"{% if autofocus %} autofocus{% endif %}>
            </div>
            <div class="control">
                <button type="submit" class="button is-link" id="subscribe_btn">{% blocktrans %}Get updates{% endblocktrans %}</button>
            </div>
        </div>
        <p class="is-size-7">{% blocktrans %}We'll never use your email address for anything else, and you can unsubscribe at any time.{% endblocktrans %}</p>
        <input type="hidden" name="target" value="{% url 'wfbn:updates' foodbank.slug 'subscribe' %}">
        <input type="hidden" name="action" value="subscribe">
    </form>
</div>