h1 {
  font-size:1.8em;
  background: url('/static/img/logo.png');
  background-repeat: no-repeat;
  background-size: auto 50px;
  padding:5px 0 6px 60px;
  margin:0 0 20px 0;
  font-weight:normal;
}
.main {
  padding:0 10px;
  margin-bottom:20px;
}
form label {
  display:inline-block;
  width:200px;
}
form input, form textarea {
  font-size:1.1em;
}
form textarea {
  vertical-align: top;
  width:600px;
}
th {
  text-align:left;
}
dt {
  float:left;
  width:150px;
}
h2 {
  margin-top:20px;
}
#fbmap {
  width:1500px;
  height:1500px;
}
.twitter-feed {
  max-width:425px;
}
.small-product-image {
  width:50px;
}
h1 {
  margin:0;
  padding:8px 8px 8px 60px;
  font-size:1.5em;
}
#id_delivery_date {
  width:200px;
}
.foodbank-sort {
  font-size:0.8em;
}
.extra-form-button {
  margin-top:10px;
}
