.headerimg {
    padding-top:100px;
    margin-bottom:15px;
}
.api_method {
    display:none;
}
.api_method.active {
    display:flex;
}
dd {
    clear:left;
    padding-bottom:5px;
}
pre {
    padding: .25em .5em;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    tab-size: 1em;
}
.field_name {
    font-family:monospace;
}
.indented .field_name {
    border-left:5px solid grey;
    padding-left:15px;
}
.double-indented .field_name {
    border-left:10px solid grey;
    padding-left:30px;
}
.eg {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}