body {
  font-size:0.95em;
  color:#212121;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.headerimg {
  background: url('/static/img/header.jpg');
  background-repeat: no-repeat;
  padding-top:200px;
  margin-bottom:30px;
  background-size: cover;
}
.container {
  padding:10px;
}
a {
  color:#007BC7;
}
sub {
  display:inline-block;
}
p {
  margin-bottom:20px;
}
dt {
  float:left;
  width:150px;
}
h1 a, .content h1 a {
  display:block;
  font-size:1.8em;
  background: url('/static/img/logo.png');
  background-repeat: no-repeat;
  background-size: auto 50px;
  padding:5px 0 6px 60px;
  margin:0 0 20px 0;
  font-weight:normal;
}
h1 span {
  display:inline-block;
  font-size:0.7em;
  padding-left:5px;
}
h1 a {
  color:#212121;
}
h1 a:hover {
  text-decoration:underline;
}
h2, .content h2 {
  font-size:1.3em;
  font-weight:normal;
  margin:0 0 10px 0;
  border-bottom:2px solid #f5f5f5;
  max-width:100%;
}
h3, .content h3 {
  font-size:1em;
  font-weight:bold;
}

#process {
  padding:60px 0;
}
#process .arrow {
  float:right;
  font-weight:bold;
}
.process-step h3 {
  font-weight:normal;
  padding-bottom:10px;
}
.process-step .box {
  height:140px;
  overflow:hidden;
  margin-bottom:10px;
}
.diff {
  font-family:"Courier New", Courier, monospace;
  font-weight:bold;
}
ins {
  background:#b7fdcb;
  text-decoration:none;
}
del {
  background:#ff9494;
}
blockquote {
  font-style:italic;
}
#quotes {
  margin:30px 0 30px 0;
}
.annualreportteaser {
  margin:30px 0 30px 0;
  padding:20px;
  background:#FAFAFA;
}
.coronavirus {
  padding:20px;
  background:#fafccc;
}
.intro h2 {
  border:0;
}
.arproducts img {
  width:100px;
  float:left;
}
.arproducts span {
  font-size:1.2em;
  font-weight:bold;
}
.arproducts .box {
  overflow:hidden;
  zoom:0;
}
.rice img {
  padding-bottom:54px;
}
#armap {
  height:800px;
}
#methods {
  margin-bottom:50px;
}
.content figure {
  margin-left:0;
  margin-right:0;
}
.content img {
  border-radius:6px;
}
footer {
  font-size:0.9em;
}
