body {
  font-size:0.95em;
  color:#212121;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.headerimg {
  background: url('/static/img/header.jpg');
  background-repeat: no-repeat;
  padding-top:200px;
  margin-bottom:30px;
  background-size: cover;
}
.container {
  padding:20px;
}
a {
  color:#007BC7;
}
sub {
  display:inline-block;
}
p {
  margin-bottom:20px;
}
h1 {
  font-size:1.8em;
  background: url('/static/img/logo.png');
  background-repeat: no-repeat;
  background-size: auto 50px;
  padding:5px 0 6px 60px;
  margin:0 0 20px 0;
}
h1 span {
  color:darkred;
}
h2 {
  font-size:1.3em;
  margin:0 0 10px 0;
  border-bottom:2px solid #f5f5f5;
  max-width:100%;
}
h3 {
  font-size:1.2em;
  font-weight:bold;
}

#process {
  padding:60px 0;
}
.process-step h3 {
  font-weight:normal;
  padding-bottom:10px;
}
.process-step .box {
  height:140px;
  overflow:hidden;
  margin-bottom:10px;
}
.diff {
  font-family:"Courier New", Courier, monospace;
  font-weight:bold;
}
ins {
  background:#b7fdcb;
  text-decoration:none;
}
del {
  background:#ff9494;
}

#how-you-can-help {
  padding-top:60px;
}
#how-you-can-help .column {
  background:url('/static/img/delivery.jpg') no-repeat;
  background-size:contain;
  padding-top:255px;
}
