body {
  font-size:0.9em;
  color:#212121;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a {
  color:#007BC7;
}
sub {
  display:inline-block;
}
h1 {
  font-size:1.8em;
  background: url('/static/img/logo.png');
  background-repeat: no-repeat;
  background-size: auto 50px;
  padding:12px 0 6px 60px;
  margin:0;
}
h1 span {
  color:darkred;
}
h2 {
  font-size:1.3em;
}
form label {
  display:inline-block;
  width:200px;
}
form input, form textarea {
  font-size:1.1em;
}
form textarea {
  vertical-align: top;
}
