.headerimg {
  display:none;
}
#status {
  margin-top:10px;
}
.table tr:last-child td {
  border:0;
}
.foodbank {
  font-size:1.2em;
  line-height:1;
}
.needs {
  width:100%;
}
.needs td {
  padding:0.75em 0.75em 0.75em 0;
}
.distance, .updated {
  font-size:0.8em;
}
.need_detail {
  width:80%;
}
summary {
  cursor:pointer;
}
details p {
  margin-bottom:5px;
}
