.headerimg {
  padding-top:100px;
  margin-bottom:15px;
}
#status {
  margin-top:10px;
}
#theresults {
  margin-top:-10px;
}
#postcode_field, #address_field {
  width:220px;
}
.table tr:last-child td {
  border:0;
}
.foodbank {
  font-size:1.2em;
  line-height:1;
}
.needs {
  width:100%;
}
.needs td {
  padding:0.75em 0.75em 0.75em 0;
}
.distance, .updated, .parent_org {
  font-size:0.8em;
}
.need_detail {
  width:80%;
}
.fb_needs p {
  margin-bottom:5px;
}
.links img {
  margin:13px 7px 0 0;
  width:20px;
}
.mp_photo {
  width:260px;
  margin:0 0 20px 20px;
  border-radius:3px;
  max-width:40%;
}
.table td.foodbank_name {
  padding-left:0;
}
.contact-icon {
  width:14px;
  display:inline-block;
  padding:2px 2px 0 0;
}
#map-container {
  position: relative;
}
#map-main {
  width:100%;
  height:800px;
}
#map-main, #map-shetlandislands, #map-channelislands {
  border-radius:4px;
}
#map-shetlandislands, #map-channelislands {
  position:absolute;
  width:200px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#map-shetlandislands {
  top:60px;
  right:10px;
  height:280px;
}
#map-shetlandislands .gm-style-cc { display:none; }
#map-shetlandislands .gm-style a[href^="https://maps.google.com/maps"] {
  display: none !important;
}
#map-channelislands {
  height:210px;
  bottom:30px;
  left:10px;
}
#map-channelislands .gm-style-cc { display:none; }
#map-channelislands .gm-style a[href^="https://maps.google.com/maps"] {
  display: none !important;
}
@media screen and (max-width: 769px) {
  #map-channelislands, #map-shetlandislands {
    display:none;
  }
}