.headerimg {
  padding-top:100px;
  margin-bottom:15px;
}
#status {
  margin-top:10px;
}
#address_field {
  width:220px;
}
.table tr:last-child td {
  border:0;
}
.foodbank {
  font-size:1.2em;
  line-height:1;
}
.needs {
  width:100%;
}
.needs td {
  padding:0.75em 0.75em 0.75em 0;
}
.distance, .updated {
  font-size:0.8em;
}
.need_detail {
  width:80%;
}
.fb_needs p {
  margin-bottom:5px;
}
.links img {
  margin:13px 7px 0 0;
  width:20px;
}
.mp_photo {
  width:240px;
  margin:0 0 20px 20px;
  border-radius: 3px;
}
