.headerimg {
  padding-top:50px;
  margin-bottom:20px;
}
.foodbank {
  font-size:1.2em;
}
.needs {
  width:100%;
}
.distance, .updated {
  font-size:0.8em;
}
.need_detail {
  width:80%;
}
summary {
    cursor:pointer;
}
details p {
  margin-bottom:5px;
}
