{% extends "public/page.html" %}
{% load bulma_tags %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}">
  <meta property="og:description" content="Find what {{ foodbank }} food bank is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank }} food bank is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn:foodbank_map' foodbank.slug %}">
  <meta property="og:image:alt" content="Map of {{ foodbank.full_name }}">
  <link rel="manifest" href="/needs/manifest.json">
  <meta name="geo.placename" content="{{ foodbank }} Food Bank">
  <meta name="geo.position" content="{{ foodbank.latt_long }}">
  <meta property="place:location:latitude" content="{{ foodbank.latt }}">
  <meta property="place:location:longitude" content="{{ foodbank.long }}">
  <meta name="robots" content="noindex">
{% endblock %}

{% block title %}Edit - {{ foodbank.full_name }} - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column is-4">
          <a href="/" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'public_index' %}">Home</a></li>
            <li><a href="{% url 'wfbn:index' %}">What Food Banks Need</a></li>
            <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.full_name }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">Edit</a></li>
        </ul>
  </nav>

      <h1>{{ foodbank.full_name }}</h1>

      <div class="columns">

          <div class="column is-2">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column is-8">

            {% if action == "needs" %}

                <p>Sorry if we've got what <em>{{ foodbank.full_name }}</em> is requesting to have donated wrong. Usually we crawl your website to find this. Let's fix it.</p>
                <p>Here is what we think is the shopping list, which we last updated <em>{{ foodbank.latest_need.created }} ({{ foodbank.latest_need.created|timesince }} ago</em>). We found this by {% if foodbank.latest_need.input_method == "typed" %}inputting it manually{% endif %}{% if foodbank.latest_need.input_method == "scrape" %}automatically scraping it from the food bank's website{% endif %}{% if foodbank.latest_need.input_method == "user" %}someone filling out this form{% endif %}.</p>

                <div class="needs">
                  {% include "wfbn/includes/need_text.html" with need_text=foodbank.latest_need.change_text  %}<br>
                </div><br>

                <p>You can submit a new shopping list here. We usually review and publish this to everywhere that uses our data within a couple of hours. Please use one line per item, approximately ordered from most in need to least. You can also write "Nothing" or "Unknown" if they are true, alternatively putting in "Facebook" tells us your prefer publish your shopping list there.</p>

                <p>You can also optionally add items that you have excess of in that field.</p>

                <form method="post" action="">
                    {{ form|bulma }}
                    <input type="submit" class="button is-link" value="Submit">
                    {% csrf_token %}
                </form>

            {% endif %}

            {% if action == "locations" %}

                {% if locslug == "new" %}
                  <p>Add a new location for <em>{{ foodbank.full_name }}</em>.</p>
                {% else %}
                  <p>Sorry if we've got this location of <em>{{ foodbank.full_name }}</em> wrong. <a href="{% url 'wfbn:foodbank_edit' foodbank.slug %}">Something different incorrect?</a></p>
                {% endif %}

                <div class="columns">
                    <div class="column is-one-third">
                        <aside class="menu">
                            <ul class="menu-list">
                                <li><a {% if not locslug %}class="is-active"{% endif %} href="{% url 'wfbn:foodbank_edit_form' foodbank.slug action %}">Main &amp; Delivery</a></li>
                                {% for location in foodbank.locations %}
                                    <li><a {% if locslug == location.slug %}class="is-active"{% endif %} href="{% url 'wfbn:foodbank_edit_form_location' foodbank.slug action location.slug %}">{{ location.name }}</a></li>
                                {% endfor %}
                            </ul>
                            <br>
                            <a class="button{% if locslug == 'new' %} is-link{% endif %}" href="{% url 'wfbn:foodbank_edit_form_location' foodbank.slug action 'new' %}">New Location</a>
                        </aside>
                    </div>

                    <div class="column is-two-thirds">

                      <form method="post" action="">
                        {{ form|bulma }}
                        <input type="submit" class="button is-link" value="Submit">
                        {% csrf_token %}
                      </form>

                      {% if location %}
                        <hr>
                        <p>If the location has closed (or isn't a food bank), please press this button.</p>
                        <form method="post" action="">
                          <input type="hidden" name="closed" value="closed">
                          <input type="submit" class="button is-danger" value="The {{ location.name }} location has closed">
                          {% csrf_token %}
                        </form><br><br>
                      {% endif %}

                    </div>

                </div>


            {% endif %}

            {% if action == "contacts" %}

                <p>Sorry if we've got some of the details of <em>{{ foodbank.full_name }}</em> wrong. You can use the form below to fix it...</p>

                <form method="post" action="">
                    {{ form|bulma }}
                    <input type="submit" class="button is-link" value="Submit">
                    {% csrf_token %}
                </form>

                
            {% endif %}

            {% if action == "closed" %}

              <p>Is <em>{{ foodbank.full_name }}</em> closed? Tell us by clicking the button below.</p>

              <form method="post" action="">
                <input type="submit" class="button is-danger" value="Yes, it is closed">
                {% csrf_token %}
              </form>

            {% endif %}
            
          </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}

<script src="/static/js/wfbn.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}&libraries=places"></script>

{% endblock %}

