{% extends "public/2/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/2/css/wfbn.css">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ foodbank.full_name }}">
  <meta property="og:description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn:foodbank_map' foodbank.slug %}">
  <link rel="manifest" href="/needs/manifest.json">
  <meta name="geo.placename" content="{{ foodbank.full_name }}">
  <meta name="geo.position" content="{{ foodbank.latt_long }}">
  <meta property="place:location:latitude" content="{{ foodbank.latt }}">
  <meta property="place:location:longitude" content="{{ foodbank.long }}">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
{% endblock %}

{% block title %}Edit - {{ foodbank.full_name }} - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column is-4">
          <a href="/" class="logo"><img src="/static/2/img/logo.svg" alt="Give Food"></a>
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'public_index' %}">Home</a></li>
            <li><a href="{% url 'wfbn:index' %}">What Food Banks Need</a></li>
            <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.full_name }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">Edit</a></li>
        </ul>
  </nav>

      <h1>{{ foodbank.full_name }}</h1>

      <div class="columns">

          <div class="column is-2">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column is-8">

            <p>Sorry that we've potentially got something wrong. Amendments submitted here will be verified and added to our data within 24-48hrs. Can't find what you need? No problem! Just email <a href="mailto:mail@givefood.org.uk">mail@givefood.org.uk</a> and we'll get right back to you.</p>

            <p>What would you like to change?</p>

            <ul>
                <li>
                    <a href="{% url 'wfbn:foodbank_edit_form' foodbank.slug 'needs' %}" class="is-size-5">🥫 Shopping list</a>
                    <p>Items that you are requesting to have donated. We usually get this automatically from your website, if you have one.</p>
                </li>
                <li>
                    <a href="{% url 'wfbn:foodbank_edit_form' foodbank.slug 'locations' %}" class="is-size-5">📍 Locations</a>
                    <p>Inaccurate, new or closed locations.</p>
                </li>
                <li>
                    <a href="{% url 'wfbn:foodbank_edit_form' foodbank.slug 'contacts' %}" class="is-size-5">☎️ Contact information</a>
                    <p>Phone number, web addresses, email address, social media or charity status.</p>
                </li>
                <li>
                    <a href="{% url 'wfbn:foodbank_edit_form' foodbank.slug 'closed' %}" class="is-size-5">🛑 Closed</a>
                    <p>If the food bank organisation has closed.</p>
                </li>
            </ul>
            
          </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}

<script src="/static/js/wfbn2.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}&libraries=places"></script>

{% endblock %}

