{% extends "public/page.html" %}
{% load i18n %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css?v={{ version }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ foodbank.full_name }}>
  <meta property="og:description" content="Find what {{ foodbank }} food bank is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank }} food bank is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn:foodbank_map' foodbank.slug %}">
  <meta property="og:image:alt" content="Map of {{ foodbank.full_name }}">
  <link rel="manifest" href="{% url 'wfbn:manifest' %}">
  <meta name="geo.placename" content="{{ foodbank }} Food Bank">
  <meta name="geo.position" content="{{ foodbank.latt_long }}">
  <meta property="place:location:latitude" content="{{ foodbank.latt }}">
  <meta property="place:location:longitude" content="{{ foodbank.long }}">
  <meta name="robots" content="noindex">
{% endblock %}

{% block title %}Edit - {{ foodbank.full_name }} - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column is-4">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'index' %}">{% blocktrans %}Home{% endblocktrans %}</a></li>
            <li><a href="{% url 'wfbn:index' %}">{% blocktrans %}What Food Banks Need{% endblocktrans %}</a></li>
            <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.full_name }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">Edit</a></li>
        </ul>
  </nav>

      {% include "wfbn/foodbank/includes/pagetitle.html" with prefix="Edit" %}

      <div class="columns">

          <div class="column is-2 menu-col">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column">

            <p>Thank you for that information. We've recorded it and update our records within 24-48 hours.</p>
            
          </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}

<script src="/static/js/wfbn.js?v={{ version }}" defer></script>

{% endblock %}

