{% extends "public/page.html" %}
{% load i18n %}

{% block head %}

  <link rel="stylesheet" href="/static/css/wfbn.css?v={{ version }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{% blocktrans %}What Food Banks Need{% endblocktrans %}">
  <meta property="og:description" content="{% blocktrans %}Use Give Food's tool to find what food banks near you are requesting to have donated{% endblocktrans %}">
  <meta name="description" content="{% blocktrans %}Use Give Food's tool to find what food banks near you are requesting to have donated{% endblocktrans %}">
  <meta property="og:image" content="https://www.givefood.org.uk/static/img/map.png">
  <meta property="og:image:alt" content="{% blocktrans %}Map of UK food banks{% endblocktrans %}">
  <link rel="alternate" type="application/rss+xml" title="Give Food RSS" href="{% url 'wfbn:rss' %}">
  <link rel="manifest" href="{% url 'wfbn:manifest' %}">
  <link rel="preload" href="{% url 'wfbn:geojson' %}" as="fetch" crossorigin="anonymous" type="application/json">

  {% if locations %}
    {% for location in locations|slice:"5" %}
      {% if location.type == "organisation" %}  
        <link rel="preload" href="{% url 'wfbn:foodbank' location.foodbank_slug %}" as="document">
      {% endif %}
      {% if location.type == "location" %}  
        <link rel="preload" href="{% url 'wfbn:foodbank_location' location.foodbank_slug location.slug %}" as="document">
      {% endif %}
    {% endfor %}
  {% endif %}

{% endblock %}

{% block title %}
  {% if not locations %}
    {% blocktrans %}Find a food bank & see what they need{% endblocktrans %}
  {% else %}
    {% if address %}
      {{ address }} {% blocktrans %}food banks{% endblocktrans %}
    {% else %}
      {{ approx_address }} {% blocktrans %}food banks{% endblocktrans %}
    {% endif %}
  {% endif %} - Give Food
{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">
      <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
      {% include 'public/includes/langswitcher.html' %}
    </div>
  </div>

  <div class="columns">
    <div class="column is-three-fifths">

      {% if not locations and is_uk %}
        <p>{% blocktrans %}Find a food bank near you, see what they need and how you can help by donating or volunteering.{% endblocktrans %}</p>
      {% endif %}

      <a id="usemylocationbtn" href="{% url 'wfbn:get_location' %}" class="button is-light is-info" data-url="{% url 'wfbn:index' %}" data-no-instant>{% blocktrans %}Use my location{% endblocktrans %}</a>
      <form id="addressform" action="{% url 'wfbn:index' %}" method="GET">
        <label id="address_label" for="address_field" class="label">{% blocktrans %}Postcode or town{% endblocktrans %}</label>
        <input id="address_field" type="text" name="address" class="input" placeholder="{% blocktrans %}e.g. EX4 6PX or Sheffield{% endblocktrans %}" value="{{ address }}" required autofocus aria-required="true">
        <input id="lat_lng_field" type="hidden" name="lat_lng">
        <input type="submit" class="button is-light is-info" value="{% trans 'Go' %}">
      </form>

      {% if not is_uk %}
        <p>{% blocktrans %}Sorry, we couldn't use that location. Is it inside the United Kingdom?{% endblocktrans %}</p>
      {% endif %}
      
      {% if not locations and is_uk %}
        <div id="index_intro">
          <ul>
              <li><a href="{% url 'wfbn:constituencies' %}">{% blocktrans %}Browse by parliamentary constituency{% endblocktrans %}</a></li>
              <li><a href="{% url 'register_foodbank' %}">{% blocktrans %}Register a food bank{% endblocktrans %}</a></li>
              <li><a href="{% url 'about_us' %}">{% blocktrans %}About us{% endblocktrans %}</a></li>
          </ul>
          <br>
          <h2>{% blocktrans %}Recently updated{% endblocktrans %}</h2>
          <ul class="recently-updated">
              {% for foodbank in recently_updated %}
                  <li><a href="{% url 'wfbn:foodbank' foodbank.foodbank_name_slug %}">{{ foodbank.foodbank_name }}</a></li>
              {% endfor %}
          </ul>
          <h2>{% blocktrans %}Most viewed this week{% endblocktrans %}</h2>
          <ul class="most-viewed">
              {% for foodbank in most_viewed %}
                  <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.name }}</a></li>
              {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if locations %}
        <div id="theresults" class="sections">

          <div class="tabs is-boxed">
            <ul>
              <li class="is-active">
                <a data-tab="foodbanks">
                  <span>{% blocktrans %}Food banks{% endblocktrans %}</span>
                </a>
              </li>
              <li>
                <a data-tab="donationpoints">
                  <span>{% blocktrans %}Donation points{% endblocktrans %}</span>
                </a>
              </li>
            </ul>
          </div>
          
          <div class="foodbanks tabcontent">
            <table class="table needs">
              {% for location in locations %}
                <tr>
                  <td>
                    <a href="{% if location.type == 'organisation' %}{% url 'wfbn:foodbank' location.foodbank_slug %}{% endif %}{% if location.type == 'location' %}{% url 'wfbn:foodbank_location' location.foodbank_slug location.slug %}{% endif %}">{{ location.name }}</a>
                    {% if location.type == "location" %}
                      <div class="parent_org">{% blocktrans %}Part of{% endblocktrans %} <a href="{% url 'wfbn:foodbank' location.foodbank_slug %}">{{ location.foodbank_name }}</a></div>
                    {% endif %}
                    <div class="distance">{{ location.distance_mi|floatformat:2 }}mi {% blocktrans %}away{% endblocktrans %}</div>
                  </td>
                  <td class="need_detail">
                    <div class="fb_needs">
                      {% if location.latest_need.change_text == "Nothing" %}
                        {% blocktrans %}Nothing right now, thanks{% endblocktrans %}
                      {% elif location.latest_need.change_text == "Unknown" %}
                        {% blocktrans %}Sorry. We don't know what's needed here, please contact the food bank{% endblocktrans %}
                      {% elif location.latest_need.change_text == "Facebook" %}
                        Check the food bank's <a href="https://www.facebook.com/{% if location.type == 'organisation' %}{{ location.facebook_page }}{% endif %}{% if location.type == 'location' %}{{ location.foodbank.facebook_page }}{% endif %}?ref=givefood.org.uk">Facebook page</a> for what they need
                      {% else %}
                        {{ location.latest_need.change_text|linebreaks }}
                      {% endif %}
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>

          <div class="donationpoints tabcontent is-hidden">
            <table class="table donationpoints">
              {% for donationpoint in donationpoints %}
                <tr>
                  <td>
                    {% if donationpoint.place_has_photo %}
                      <a href="{{ donationpoint.url }}">
                        <img src="{{ donationpoint.photo_url }}" alt="{{ donationpoint.name }}" loading="lazy" class="placephoto" style="width:200px;">
                      </a>
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ donationpoint.url }}">{{ donationpoint.name }}</a>
                    <div class="parent_org">{% blocktrans %}For{% endblocktrans %} <a href="{% url 'wfbn:foodbank' donationpoint.foodbank_slug %}">{{ donationpoint.foodbank_name }}</a></div>
                    <div class="distance">{{ donationpoint.distance_mi|floatformat:2 }}mi {% blocktrans %}away{% endblocktrans %}</div>
                  </td>
                  <td>
                    {% if donationpoint.foodbank.latest_need.change_text == "Nothing" %}
                        {% blocktrans %}Nothing right now, thanks{% endblocktrans %}
                      {% elif donationpoint.foodbank.latest_need.change_text == "Unknown" %}
                        {% blocktrans %}Sorry. We don't know what's needed here, please contact the food bank{% endblocktrans %}
                      {% elif donationpoint.foodbank.latest_need.change_text == "Facebook" %}
                        Check the food bank's <a href="https://www.facebook.com/{{ donationpoint.foodbank.facebook_page }}?ref=givefood.org.uk">Facebook page</a> for what they need
                      {% else %}
                        {{ donationpoint.foodbank.latest_need.change_text|linebreaks }}
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
          
        </div>
      {% endif %}

    </div>

    <div class="column is-two-fifths">
      <div id="map"></div>
      {% include "wfbn/foodbank/includes/maplegend.html" %}
    </div>
  </div>

{% endblock %}

{% block script %}

  <script>
    var gf_map_config = {
      geojson: "{% url 'wfbn:geojson' %}",
      {% if lat and lng %}
        lat: {{ lat }},
        lng: {{ lng }},
        zoom: 13,
        location_marker: true,
      {% else %}
        lat: 55.4,
        lng: -4,
        zoom: 5,
        location_marker: false,
      {% endif %}
    }
  </script>

  <script src="/static/js/wfbn.js?v={{ version }}" defer></script>
  <script src="/static/js/tabber.js?v={{ version }}" defer></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}&libraries=places&loading=async&callback=init&region=GB" defer></script>

{% endblock %}
