{% extends "public/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn2.css">
  {% if where_from == "cordova" %}
    <link rel="stylesheet" href="/static/css/wfbn-cordova.css">
  {% endif %}
  <link rel="stylesheet" href="/static/css/share_btns.css">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFood_org_uk">
  <meta property="og:title" content="What Food Banks Need">
  <meta property="og:description" content="Use Give Food's tool to find what food banks near you are asking to have donated">
  <meta name="description" content="Use Give Food's tool to find what food banks near you are requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk/static/img/map.png">
  <link rel="manifest" href="/needs/manifest.json">
  <link rel="preload" href="/api/2/foodbanks/?format=geojson" as="fetch">
  <link rel="preload" href="/api/2/locations/?format=geojson" as="fetch">
{% endblock %}

{% block title %}What Food Banks Need - Give Food{% endblock %}

{% block body %}

<div class="columns body">
    <div class="column">

      <div class="columns">

        <div class="column is-4">
          <a href="/" class="logo">Give Food</a>
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'public_index' %}">Home</a></li>
                <li class="is-active"><a href="#" aria-current="page">What Food Banks Need</a></li>
            </ul>
      </nav>
    
      <div class="columns">
        <div class="column is-6">

          <p>See what items food banks near you are requesting, find out how to donate them or take political action.</p>
            
            {% include "wfbn/foodbank/includes/search_form.html" with is_index=True%}

            <p id="status-msg"></p>

            <div id="index_intro">
              {% if not location_results %}
              <ul>
                  <li><a href="{% url 'wfbn:constituencies' %}">Browse by Parliamentary Constituency</a></li>
                  <li><a href="{% url 'public_reg_foodbank' %}">Register a Food Bank</a></li>
                  <li><a href="{% url 'public_index' %}">About Give Food</a></li>
              </ul>
              <br>
              <h2>Recently updated</h2>
              <ul>
                  {% for foodbank in recently_updated %}
                      <li><a href="{% url 'wfbn:foodbank' foodbank.foodbank_name_slug %}">{{ foodbank.foodbank_name }}</a></li>
                  {% endfor %}
              </ul>
              {% endif %}
            </div>

            <p id="status"></p>

            <div id="theresults">
              
              <table class="table needs">
                {% if location_results %}
                  {% for location in location_results %}
                    <tr>
                      <td>
                        <a href="/needs/click/{{ location.foodbank_slug }}/" class="foodbank" target="_top">{{ location.name }}</a>
                        <div class="distance">{{ location.distance_mi|floatformat:2 }}mi away</div>
                        {% if where_from != "trusselltrust" %}
                          {% if location.type == "location" %}
                            <div class="parent_org">Part of <a href="/needs/at/{{ location.foodbank_slug }}/">{{ location.foodbank_name }}</a></div>
                          {% endif %}
                        {% endif %}
                        <div class="links">
                          {% if location.phone %}
                            <a class="phone" href="tel:{{ location.phone }}" title="Call the food bank"><img src="/static/img/phone.svg" alt="Phone"></a>
                          {% endif %}
                          <a class="info" href="/needs/at/{{ location.foodbank_slug }}/{% if location.type == "location" %}{{ location.slug }}/{% endif %}" title="More information"><img src="/static/img/info.svg" alt="Information"></a>
                        </div>
                      </td>
                      <td class="need_detail">
                        <div class="fb_needs">
                          {% if location.needs == "Nothing" %}
                            Nothing right now, thanks
                          {% elif location.needs == "Unknown" %}
                            Sorry. We don't know what's needed here, please contact the food bank
                          {% else %}
                            {{ location.needs|linebreaks }}
                          {% endif %}
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </table>
            </div>

            <h2>Share</h2>
            {% url 'wfbn:index' as share_url %}
            {% include "wfbn/foodbank/includes/share_btns.html" with share_url=share_url %}

        </div>
        <div class="column is-6">
            <div id="map" class="sidemap full-uk-map"></div>
        </div>
      </div>

    </div>
  </div>

  <template id="fb_row">
    <tr>
      <td>
        <a href="#" class="foodbank" target="_top"></a>
        {% if where_from != "trusselltrust" %}
          <div class="parent_org"><span></span> <a href="#"></a></div>
        {% endif %}
        <div class="distance"><span></span>mi away</div>
        {% if where_from != "trusselltrust" %}
          <div class="links">
            <a class="phone" href="" title="Call the food bank"><img src="/static/img/phone.svg" alt="Phone"></a>
            <a class="info" href="" title="More information"><img src="/static/img/info.svg" alt="Information"></a>
          </div>
        {% endif %}
      </td>
      <td class="need_detail">
        <div class="fb_needs">
          <p></p>
        </div>
      </td>
    </tr>
  </template>

{% endblock %}

{% block script %}

  {% if lat_lng %}
    <script>
      initial_lat_lng = "{{ lat_lng }}";
    </script>
  {% endif %}
  <script src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}&libraries=places" defer></script>
  <script src="/static/js/wfbn_map.js" defer></script>
  <script src="/static/js/wfbn2.js" defer></script>

{% endblock %}
