{% if needs.all %}
  <table class="table is-fullwidth is-hoverable">
    <tr>
      <th></th>
      <th></th>
      <th>Foodbank</th>
      <th>When</th>
      <th></th>
    </tr>
    {% for need in needs %}
      <tr>
        <td>
          {% if need.input_method == "typed" %}⌨️{% endif%}
          {% if need.input_method == "scrape" %}🤖{% endif%}
          {% if need.input_method == "user" %}🧑{% endif%}
        </td>
        <td>
          {% if need.is_categorised %}🪣{% endif %}
        </td>
        <td>
          {% if need.foodbank_name %}
              <a href="{% url 'admin:foodbank' need.foodbank_name_slug %}">
                {{ need.foodbank_name }}
              </a>
          {% else %}
            Unknown
          {% endif %}
        </td>
        <td>
          <a href="{% url "admin:need" need.need_id %}">
            {{ need.created|timesince }} ago
          </a>
        </td>
        <td>
          {% if not need.published %}
            <form action="{% url 'admin:need_delete' need.need_id %}" method="post">
              <button type="submit" class="delete is-small" onclick="return confirm('Are you sure you want to delete {{ need.foodbank_name }} need?')" style="margin-top:3px;"></button>
              {% csrf_token %}
            </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No needs</p>
{% endif %}