{% extends "admin/page.html" %}
{% load humanize %}
{% load custom_tags %} 


{% block title %}Check {{ foodbank.name}} - GF Admin{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">
        <h2>{{ foodbank.name }}</h2>

        <div class="columns">
            <div class="column">
                <ul>
                    <li><a href="{{ foodbank.url }}" target="_blank">{{ foodbank.url }}</a></li>
                    <li><a href="{% url 'admin:foodbank' foodbank.slug %}" target="_blank">{{ foodbank.slug }}</a></li>
                </ul>
                <p>Last edit: {{ foodbank.edited|timesince }} ago</p>
            </div>
            <div class="column" style="text-align: right;">
                <a href="{% url 'admin:foodbank_edit' foodbank.slug %}" class="button is-link is-light" target="_blank">Edit</a>
                <form method="post" action="{% url 'admin:foodbank_touch' foodbank.slug %}" style="margin-top:10px;">
                    <button type="submit" class="button is-link is-light">Touch</button>
                </form>
            </div>
        </div>
        
        
        
        <table class="table is-fullwidth checktable">
            <tr>
                <th width="50%">🗄️ Ours</th>
                <th width="50%">🤖 Found</th>
            </tr>
            <tr>
                <td colspan="2">Details</td>
            </tr>
            <tr>
                <td>
                    <p>{{ foodbank.address|linebreaksbr }}<br>
                    {{ foodbank.postcode }}</p>
                    <p>{{ foodbank.phone_number }}</p>
                    <p>{{ foodbank.contact_email }}</p>
                    {% if foodbank.delivery_address %}
                        <p><strong>Delivery address:</strong><br>{{ foodbank.delivery_address|linebreaksbr }}</p>
                    {% endif %}
                </td>
                <td>
                    <p>{{ check_result.details.address|linebreaksbr }}<br>
                    {{ check_result.details.postcode }}</p>
                    <p>{{ check_result.details.phone_number }}</p>
                    <p>{{ check_result.details.contact_email }}</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">Locations</td>
            </tr>
            <tr>
                <td>
                    <ul>
                        {% for location in foodbank_json.locations %}
                            <li class="htmx-fade">
                                {% if location.discrepancy %}
                                    <button type="button"
                                        class="button is-small is-danger is-light is-pulled-right"
                                        hx-post="{% url 'admin:fblocation_delete' foodbank.slug location.slug %}"
                                        hx-confirm="Are you sure you want to delete this location?"
                                        hx-target="closest li"
                                        hx-swap="outerHTML swap:0.5s">Delete</button>
                                {% endif %}
                                {{ location.name }}<br>
                                {{ location.address|linebreaksbr }}<br>
                                {{ location.postcode }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for location in check_result.locations %}
                            <li>
                                {% if location.discrepancy %}
                                    <a href="{% url 'admin:fblocation_new' foodbank.slug %}?name={{ location.name|urlencode }} {{ location.postcode|urlencode }}" class="button is-link is-small is-light" target="_blank">Add</a>
                                {% endif %}
                                {{ location.name }}<br>
                                {{ location.address|linebreaksbr }}<br>
                                {{ location.postcode }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2">Donation Points</td>
            </tr>
            <tr>
                <td>
                    <ul>
                        {% for dp in foodbank_json.donation_points %}
                            <li class="htmx-fade">
                                {% if dp.discrepancy %}
                                    <button type="button"
                                        class="button is-small is-danger is-light is-pulled-right"
                                        hx-post="{% url 'admin:donationpoint_delete' foodbank.slug dp.slug %}"
                                        hx-confirm="Are you sure you want to delete this donation point?"
                                        hx-target="closest li"
                                        hx-swap="outerHTML swap:0.5s">Delete</button>
                                {% endif %}
                                {{ dp.name }}<br>
                                {{ dp.address|linebreaksbr }}<br>
                                {{ dp.postcode }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for dp in check_result.donation_points %}
                            <li>
                                {% if dp.discrepancy %}
                                    <a href="{% url 'admin:donationpoint_new' foodbank.slug %}?name={{ dp.name|urlencode }} {{ dp.postcode|urlencode }}" class="button is-link is-small is-pulled-right is-light" target="_blank">Add</a>
                                {% endif %}
                                {{ dp.name }}<br>
                                {{ dp.address|linebreaksbr }}<br>
                                {{ dp.postcode }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div class="column is-one-third">
        <div class="tabs is-boxed" role="tablist" aria-label="Website previews">
            <ul>
                {% for url_name, url in foodbank_urls.items %}
                    <li class="{% if forloop.first %}is-active{% endif %}" role="presentation">
                        <a data-tab="preview-{{ url_name|slugify }}" role="tab" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="preview-{{ url_name|slugify }}-panel" id="preview-{{ url_name|slugify }}-tab">
                            {{ url_name }}
                        </a>
                        
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="sections">
        {% for url_name, url in foodbank_urls.items %}
            <div class="tabcontent preview-{{ url_name|slugify }} {% if not forloop.first %}is-hidden{% endif %}" role="tabpanel" id="preview-{{ url_name|slugify }}-panel" aria-labelledby="preview-{{ url_name|slugify }}-tab">
                <a href="{{ url }}" target="_blank" class="newwindow is-pulled-right"><img src="/static/img/newwindow.svg" alt="New window"></a> <a href="{% url 'wfbn:foodbank' foodbank.slug %}"></a>
                <iframe src="{% url 'admin:proxy' %}?url={{ url|urlencode }}" style="width: 100%; height: 1000px; border: none;" loading="lazy"></iframe>
            </div>
        {% endfor %}
        </div>
  </div>

{% endblock %}


{% block script %}
  <script src="/static/js/tabber.js" defer></script>
{% endblock %}