{% extends "admin/page.html" %}
{% load humanize %}
{% load custom_tags %} 


{% block title %}Check {{ foodbank.name}} - GF Admin{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">
        <table class="table is-fullwidth checktable">
            <tr>
                <th width="50%">🗄️ Ours</th>
                <th width="50%">🤖 Found</th>
            </tr>
            <tr>
                <td colspan="2">Details</td>
            </tr>
            <tr>
                <td>
                    <p>{{ foodbank.name }}</p>
                    <p>{{ foodbank.address|linebreaksbr }}<br>
                    {{ foodbank.postcode }}</p>
                    <p>{{ foodbank.phone_number }}</p>
                    <p>{{ foodbank.contact_email }}</p>
                </td>
                <td>
                    <p>{{ check_result.details.name }}</p>
                    <p>{{ check_result.details.address|linebreaksbr }}<br>
                    {{ check_result.details.postcode }}</p>
                    <p>{{ check_result.details.phone_number }}</p>
                    <p>{{ check_result.details.contact_email }}</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">Locations</td>
            </tr>
            <tr>
                <td>
                    <ul>
                        {% for location in foodbank.locations %}
                            {% if location.discrepancy %}Extra{% endif %}
                            <li>
                                {{ location.name }}<br>
                                {{ location.address|linebreaksbr }}<br>
                                {{ location.postcode }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for location in check_result.locations %}
                            <li>
                                {% if location.discrepancy %}New{% endif %}
                                {{ location.name }}<br>
                                {{ location.address|linebreaksbr }}<br>
                                {{ location.postcode }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2">Donation Points</td>
            </tr>
            <tr>
                <td>
                    <ul>
                        {% for dp in foodbank.donation_points %}
                            <li>
                                {% if dp.discrepancy %}Extra{% endif %}
                                {{ dp.name }}<br>
                                {{ dp.address|linebreaksbr }}<br>
                                {{ dp.postcode }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for dp in check_result.donation_points %}
                            <li>
                                {% if dp.discrepancy %}
                                    <a href="{% url 'admin:donationpoint_new' foodbank.slug %}?name={{ dp.name|urlencode }} {{ dp.postcode|urlencode }}" class="button is-link is-small">Add</a>
                                {% endif %}
                                {{ dp.name }}<br>
                                {{ dp.address|linebreaksbr }}<br>
                                {{ dp.postcode }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
  </div>

{% endblock %}