{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}Credentials - GF Admin{% endblock %}

{% block body %}

  <h2>Credentials</h2>

  <a href="{% url "admin:credential_new" %}" class="button is-link is-light">New Credential</a>
  <a href="{% url "admin:credentials_decache" %}" class="button is-warning is-light">Decache</a>

  <div class="columns">

    <div class="column">

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th></th>
        </tr>
        {% for credential in credentials %}
          <tr>
            <td><a href="{% url 'admin:credential_detail' credential.cred_name %}">{{ credential.cred_name }}</a></td>
            <td>{{ credential.created }}</td>
            <td>
              <form action="{% url 'admin:credential_delete' %}" method="post">
                <input type="hidden" name="id" value="{{ credential.id }}">
                <input type="submit" class="button is-small is-danger is-light" value="Delete" onclick="return confirm('Delete {{ credential.cred_name|escapejs }}?')">
                {% csrf_token %}
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
