{% extends "admin/page.html" %}

{% block title %}Trussell Finder - Give Food Admin{% endblock %}

{% block body %}

  <div class="columns">

    <div class="column">
        <h2>Trussell URLs</h2>
        <ul>
            {% for trussell_url in trussell_urls %}
                <li>{{ trussell_url }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="column">
        <h2>Our Slugs</h2>
        <ul>
            {% for slug in our_slugs %}
                <li>{{ slug }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="column">
        <h2>Missing</h2>
        <ul>
            {% for slug in missing %}
                <li>{{ slug }}</li>
            {% endfor %}
        </ul>
    </div>


  </div>

{% endblock %}
