{% extends "admin/page.html" %}

{% block title %}FSA Finder - Give Food Admin{% endblock %}

{% block body %}

  <div class="columns">

    <div class="column">
        <h2>Missing Food Banks</h2>
        <table class="table is-fullwidth is-hoverable">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Postcode</th>
            <th>GF Search</th>
            <th>G Search</th>
          </tr>
          {% for unmatched_foodbank in unmatched_foodbanks %}
            <tr>
              <td>{{ unmatched_foodbank.BusinessName }}</td>
              <td>{{ unmatched_foodbank.AddressLine1 }}, {{ unmatched_foodbank.AddressLine2 }}</td>
              <td>{{ unmatched_foodbank.PostCode }}</td>
              <td>
                <a href="/needs/?address={{ unmatched_foodbank.PostCode }}" target="_blank">GF Search</a>
              </td>
              <td>
                <a href="https://www.google.com/search?q={{ unmatched_foodbank.BusinessName }}, {{ unmatched_foodbank.AddressLine1 }}, {{ unmatched_foodbank.PostCode }}" target="_blank">Google</a>
              </td>
            </tr>
          {% endfor %}
        </table>

        </ul>
    </div>

  </div>

{% endblock %}
