{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}Food Banks - GF Admin{% endblock %}

{% block body %}

  <h2>Foodbanks</h2>

  <div class="columns">

    <div class="column">

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Name</th>
          <th>Need</th>
        </tr>
        {% for foodbank in foodbanks %}
          <tr>
            <td><a href="{% url "admin:foodbank" foodbank.slug %}">{{ foodbank }}</a></td>
            <td>{{ foodbank.need.need_id }}</td>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
