{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}Food Banks - GF Admin{% endblock %}

{% block body %}

  <h2>Foodbanks</h2>

  <div class="columns">

    <div class="column">

      <a href="{% url 'admin:foodbank_new' %}" class="button is-link">New Foodbank</a>

      <div class="field is-pulled-right">
        <div class="control">
          <div class="select">
            <select onchange="javascript:window.location.href=this.value">
              {% for sort_option in display_sort_options.items %}
                <option value="?sort={{ sort_option.0 }}"{% if sort == sort_option.0 %} selected{% endif %}>{{ sort_option.1 }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Name</th>
          <th>Postcode</th>
          <th>Closed</th>
          <th>Locations</th>
          <th>Donation Points</th>
          <th>Network</th>
          <th>Hits (28d)</th>
          <th>Last Order</th>
          <th>Last Need</th>
          <th>Last Need Check</th>
          <th>Created</th>
          <th>Modified</th>
          <th>Edited</th>
        </tr>
        {% for foodbank in foodbanks %}
          <tr>
            <td><a href="{% url "admin:foodbank" foodbank.slug %}">{{ foodbank }}</a></td>
            <td>{{ foodbank.postcode }}</td>
            <td>
              {% if foodbank.is_closed %}
                <span style="color:red">X</span>
              {% endif %}
            </td>
            <td>{{ foodbank.no_locations }}</td>
            <td>{{ foodbank.no_donation_points }}</td>
            <td>{{ foodbank.network }}</td>
            <td>{{ foodbank.hits_last_28_days|default:"0"|intcomma }}</td>
            <td>
              {{ foodbank.last_order }}
              {% if foodbank.last_order %}
                <br><span class="is-size-7">{{ foodbank.last_order|timesince }} ago</span>
              {% endif %}
            </td>
            <td>
              {{ foodbank.last_need }}<br>
              <span class="is-size-7">{{ foodbank.last_need|timesince }} ago</span>
            </td>
            <td>
              {{ foodbank.last_need_check }}
              {% if foodbank.last_need_check %}
                <br><span class="is-size-7">{{ foodbank.last_need_check|timesince }} ago</span>
              {% endif %}
            </td>
            <td>
              {{ foodbank.created }}<br>
              <span class="is-size-7">{{ foodbank.created|timesince }} ago</span>
            </td>
            <td>
              {{ foodbank.modified }}<br>
              <span class="is-size-7">{{ foodbank.modified|timesince }} ago</span>
            </td>
            <td>
              {{ foodbank.edited }}<br>
              <span class="is-size-7">{{ foodbank.edited|timesince }} ago</span>
            </td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
