{% extends "admin/page.html" %}
{% load humanize %}
{% load custom_tags %}

{% block title %}{{ foodbank }} - GF Admin{% endblock %}

{% block body %}

  <h1>{{ foodbank }}</h1>

  <div class="tabs is-boxed" role="tablist" aria-label="Food bank sections">
    <ul>
      <li class="is-active" role="presentation">
        <a data-tab="generallocations" role="tab" aria-selected="true" aria-controls="generallocations-panel" id="generallocations-tab">
          <span>General &amp; Locations <span class="tag is-info is-normal is-light">{{ counts.locations }}</span></span>
        </a>
      </li>
      <li role="presentation">
        <a data-tab="needsorders" role="tab" aria-selected="false" aria-controls="needsorders-panel" id="needsorders-tab">
          <span>Needs <span class="tag is-info is-normal is-light">{{ counts.needs }}</span> &amp; Orders <span class="tag is-info is-normal is-light">{{ counts.orders }}</span></span>
        </a>
      </li>
      <li role="presentation">
        <a data-tab="donationpoints" role="tab" aria-selected="false" aria-controls="donationpoints-panel" id="donationpoints-tab">
          <span>Donation Points <span class="tag is-info is-normal is-light">{{ counts.donation_points }}</span></span>
        </a>
      </li>
      {% if foodbank.articles %}
        <li role="presentation">
          <a data-tab="articles" role="tab" aria-selected="false" aria-controls="articles-panel" id="articles-tab">
            <span>Articles <span class="tag is-info is-normal is-light">{{ counts.articles }}</span></span>
          </a>
        </li>
      {% endif %}
      {% if foodbank.facebook_page or foodbank.twitter_handle %}
        <li role="presentation">
          <a data-tab="socialmedia" role="tab" aria-selected="false" aria-controls="socialmedia-panel" id="socialmedia-tab">
            <span>Social Media</span>
          </a>
        </li>
      {% endif %}
      <li role="presentation">
        <a data-tab="subscribers" role="tab" aria-selected="false" aria-controls="subscribers-panel" id="subscribers-tab">
          <span>Subscribers <span class="tag is-info is-normal is-light">{{ counts.subscribers }}</span></span>
        </a>
      </li>
      <li role="presentation">
        <a data-tab="crawls" role="tab" aria-selected="false" aria-controls="crawls-panel" id="crawls-tab">
          <span>Crawls <span class="tag is-info is-normal is-light">{{ counts.crawls }}</span></span>
        </a>
      </li>
    </ul>
  </div>

  <div class="columns sections">

    {# General #}
    <div class="column tabcontent generallocations" role="tabpanel" id="generallocations-panel" aria-labelledby="generallocations-tab">

      {% if foodbank.is_closed %}
        <span class="tag is-danger">Closed</span>
      {% endif %}

      <a href="{% url 'admin:foodbank_check' foodbank.slug %}" class="is-pulled-right"><img src="/static/img/ai.png" style="width:32px;" alt="Check"></a>

      <a href="{% url 'admin:foodbank_edit' foodbank.slug %}" class="button is-link is-light">Edit Food Bank</a>
      
      <form action="{% url 'admin:foodbank_touch' foodbank.slug %}" method="post" style="margin-top:10px">
        <input type="submit" class="button is-link is-light" value="Touch">
      </form>

      {% if not foodbank.orders %}
        <a href="{% url 'admin:neworder' %}?foodbank={{ foodbank.slug }}" class="button is-link is-light" style="margin-top:10px">New Order</a>
      {% endif %}

      {% if foodbank.notes %}
        <p class="box" style="margin-top:20px;">{{ foodbank.notes|linebreaksbr }}</p>
      {% endif %}

      <h3>URLs</h3>
      <a href="{% url 'admin:foodbank_urls_edit' foodbank.slug %}" class="button is-link is-small is-pulled-right is-light">Edit</a>
      <dl>
        <dt>Website</dt>
        <dd>
          <a href="{{ foodbank.url }}" target="_blank" class="newwindow"><img src="/static/img/newwindow.svg" alt="New window"></a>
          <a href="{{ foodbank.url }}">{{ foodbank.url|friendly_url }}</a>
        </dd>
        <dt>Shopping List URL</dt>
        <dd>
          <a href="{{ foodbank.shopping_list_url }}" target="_blank" class="newwindow"><img src="/static/img/newwindow.svg" alt="New window"></a>
          <a href="{{ foodbank.shopping_list_url }}">{{ foodbank.shopping_list_url|friendly_url }}</a>
        </dd>
        {% if foodbank.rss_url %}
          <dt>RSS</dt>
          <dd>
            <a href="{{ foodbank.rss_url }}" target="_blank" class="newwindow"><img src="/static/img/newwindow.svg" alt="New window"></a>
            <a href="{{ foodbank.rss_url }}">{{ foodbank.rss_url|friendly_url }}</a>
          </dd>
        {% endif %}
        {% if foodbank.locations_url %}
          <dt>Locations URL</dt>
          <dd>
            <a href="{{ foodbank.locations_url }}" target="_blank" class="newwindow"><img src="/static/img/newwindow.svg" alt="New window"></a>
            <a href="{{ foodbank.locations_url }}">{{ foodbank.locations_url|friendly_url }}</a>
          </dd>
        {% endif %}
        {% if foodbank.donation_points_url %}
          <dt>Donation Points URL</dt>
          <dd>
            <a href="{{ foodbank.donation_points_url }}" target="_blank" class="newwindow"><img src="/static/img/newwindow.svg" alt="New window"></a>
            <a href="{{ foodbank.donation_points_url }}">{{ foodbank.donation_points_url|friendly_url }}</a>
          </dd>
        {% endif %}
        {% if foodbank.contacts_url %}
          <dt>Contacts URL</dt>
          <dd>
            <a href="{{ foodbank.contacts_url }}" target="_blank" class="newwindow"><img src="/static/img/newwindow.svg" alt="New window"></a>
            <a href="{{ foodbank.contacts_url }}">{{ foodbank.contacts_url|friendly_url }}</a>
          </dd>
        {% endif %}
      </dl>

      <h3>Info</h3>
      <dl>
        <dt>GF Info</dt>
        <dd>
          <a href="{% url 'wfbn:foodbank' foodbank.slug %}" target="_blank" class="newwindow"><img src="/static/img/newwindow.svg" alt="New window"></a> <a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.slug }}</a>
        </dd>

        {% if foodbank.facebook_page %}
          <dt>Facebook</dt>
          <dd><a href="https://www.facebook.com/{{ foodbank.facebook_page }}">{{ foodbank.facebook_page }}</a></dd>
        {% endif %}
        {% if foodbank.twitter_handle %}
          <dt>Twitter</dt>
          <dd><a href="https://twitter.com/{{ foodbank.twitter_handle }}">@{{ foodbank.twitter_handle }}</a></dd>
        {% endif %}
        {% if foodbank.bankuet_slug %}
          <dt>Bankuet</dt>
          <dd><a href="https://www.bankuet.co.uk/{{ foodbank.bankuet_slug }}/">{{ foodbank.bankuet_slug }}</a></dd>
        {% endif %}
        {% if foodbank.charity_register_url %}
          <dt>Charity register</dt>
          <dd><a href="{{ foodbank.charity_register_url }}">{{ foodbank.charity_number }}</a></dd>
          {% if foodbank.charity_just_foodbank %}
            <dt>Charity just food bank</dt>
            <dd>✅ Yes</dd>
          {% endif %}
        {% endif %}
        <dt>Network</dt>
        <dd>{{ foodbank.network }}</dd>
        <dt>FSA ID</dt>
        <dd>
          {% if foodbank.fsa_id %}
            <a href="{{ foodbank.fsa_url }}">{{ foodbank.fsa_id }}</a>
          {% else %}
            None (<a href="https://ratings.food.gov.uk/business-search?address-search={{ foodbank.postcode|urlencode }}" target="_blank">Search</a>)
          {% endif %}
        </dd>
        {% if foodbank.is_school %}
            <dt>Is school</dt>
            <dd>✅ Yes</dd>
        {% endif %}
      </dl>

      <h3>Contacts</h3>
      <dl>
        <dt>Email</dt>
        <dd><a href="mailto:{{ foodbank.contact_email }}">{{ foodbank.contact_email }}</a></dd>
        {% if foodbank.notification_email %}
          <dt>Delivery Email</dt>
          <dd><a href="mailto:{{ foodbank.notification_email }}">{{ foodbank.notification_email }}</a></dd>
        {% endif %}
        {% if foodbank.phone_number %}
          <dt>Phone</dt>
          <dd><a href="tel:{{ foodbank.phone_number }}">{{ foodbank.phone_number|friendly_phone }}</a></dd>
        {% endif %}
        {% if foodbank.secondary_phone_number %}
          <dt>Secondary phone</dt>
          <dd><a href="tel:{{ foodbank.secondary_phone_number }}">{{ foodbank.secondary_phone_number|friendly_phone }}</a></dd>
        {% endif %}
        {% if foodbank.delivery_phone_number %}
          <dt>Delivery phone</dt>
          <dd><a href="tel:{{ foodbank.delivery_phone_number }}">{{ foodbank.delivery_phone_number|friendly_phone }}</a></dd>
        {% endif %}
        {% if foodbank.foodbank_group %}
          <dt>Foodbank Group</dt>
          <dd>{{ foodbank.foodbank_group.name }}</dd>
        {% endif %}
      </dl>

      <h3>Politics</h3>
      <dl>
        <dt>Parl. Con.</dt>
        <dd>{{ foodbank.parliamentary_constituency }}</dd>
        {% if foodbank.county %}
          <dt>County</dt>
          <dd>{{ foodbank.county }}</dd>
        {% endif %}
        {% if foodbank.district %}
          <dt>District</dt>
          <dd>{{ foodbank.district }}</dd>
        {% endif %}
        {% if foodbank.ward %}
          <dt>Ward</dt>
          <dd>{{ foodbank.ward }}</dd>
        {% endif %}
        <dt>Country</dt>
        <dd>{{ foodbank.country }}</dd>
      </dl>

      <h3>Stats</h3>
      <dl>
        <dt>Subscribers</dt>
        <dd>{{ foodbank.number_subscribers }}</dd>
        <dt>Days Between Needs</dt>
        <dd>{{ foodbank.days_between_needs }}</dd>
        <dt>Orders</dt>
        <dd>{{ foodbank.no_orders }}</dd>
        <dt>Total weight</dt>
        <dd>{{ foodbank.total_weight_kg|intcomma }} kg</dd>
        <dt>Total weight (pkging)</dt>
        <dd>{{ foodbank.total_weight_kg_pkg|intcomma }} kg</dd>
        <dt>Total items</dt>
        <dd>{{ foodbank.total_items|intcomma }}</dd>
        <dt>Total cost</dt>
        <dd>£{{ foodbank.total_cost|intcomma }}</dd>
        <dt>Locations</dt>
        <dd>{{ foodbank.no_locations }}</dd>
        <dt>Donation Points</dt>
        <dd>{{ foodbank.no_donation_points }}</dd>
      </dl>

      <h3>Dates</h3>
      <dl>
        <dt>Created</dt>
        <dd>{{ foodbank.created }}</dd>
        <dt>Modified</dt>
        <dd>{{ foodbank.modified }}</dd>
        <dt>Edited</dt>
        <dd>{{ foodbank.edited }}</dd>
        <dt>Last Need</dt>
        <dd>{{ foodbank.last_need }}</dd>
        <dt>Last Need Check</dt>
        <dd>
          {{ foodbank.last_need_check }}<br>
          <a href="{% url 'offline:foodbank_need_check' foodbank.slug %}?key={{ offline_key }}" class="button is-info is-small is-light">Force Check</a>
        </dd>
        <dt>Last RFI</dt>
        <dd>{{ foodbank.last_rfi }}</dd>
        <dt>Last Discrepancy Check</dt>
        <dd>{{ foodbank.last_discrepancy_check }}</dd>
        {% if foodbank.rss_url %}
          <dt>Last Crawl</dt>
          <dd>
            {{ foodbank.last_crawl }}
            <form action="{% url 'admin:foodbank_crawl' foodbank.slug %}" method="post">
              <input type="submit" value="Force Article Crawl" class="button is-info is-small is-light">
            </form>
          </dd>
        {% endif %}
      </dl>

      <h3>⚠️ Mild Danger Zone</h3>
      <form action="{% url 'admin:foodbank_resave' foodbank.slug %}" method="post">
        <input type="submit" class="button is-warning is-light" value="Resave Everything" onclick="return confirm('Resave {{ foodbank.name}}?')">
      </form>

      <h3>⚠️ Danger Zone</h3>
      <form action="{% url 'admin:foodbank_rfi' foodbank.slug %}" method="post">
        <input type="submit" class="button is-danger is-light" value="Send RFI" onclick="return confirm('Send RFI to {{ foodbank.name}}?')">
      </form>

      <h3>⚠️ Really Dangerous Zone</h3>
      <form action="{% url 'admin:foodbank_delete' foodbank.slug %}" method="post">
        <input type="submit" class="button is-danger is-light" value="Delete {{ foodbank.full_name }}" onclick="return confirm('DELETE {{ foodbank.name}}?')">
      </form>

    </div>

    {# Locations #}
    <div class="column tabcontent generallocations">
      <a href="{% url 'admin:fblocation_new' foodbank.slug %}" class="button is-link is-light">New Location</a>
      <a href="{% url 'admin:fblocation_area_new' foodbank.slug %}" class="button is-link is-light">New Location Area</a>
      <h3>Locations</h3>
      <table class="table is-fullwidth locationtable">
        <tr>
          <td>
            Main
          </td>
          <td>
            {{ foodbank.address|linebreaksbr }}<br>{{ foodbank.postcode }}
            <dl class="is-size-7">
              <dt>Lat Lng</dt>
              <dd><a href="https://www.google.co.uk/maps/?q={{ foodbank.lat_lng }}">{{ foodbank.lat_lng }}</a></dd>
              <dt>Place ID</dt>
              <dd>{% if foodbank.place_id %}{{ foodbank.place_id|truncatechars:25 }}{% else %}None{% endif %}</dd>
              {% if foodbank.address_is_administrative %}
                <dt>Just administrative location</dt>
                <dd>✅ Yes</dd>
              {% endif %}
              {% if foodbank.place_has_photo %}
                <dt>Place ID has photo</dt>
                <dd>✅ Yes</dd>
              {% endif %}
            </dl>
          </td>
          <td><a href="{% url 'admin:foodbank_edit' foodbank.slug %}" class="button is-link is-small is-pulled-right is-light">Edit</a></td>
        </tr>
        {% if foodbank.delivery_address %}
          <tr>
            <td>
              Delivery
            </td>
            <td>
              {{ foodbank.delivery_address|linebreaksbr }}
              <dl class="is-size-7">
                <dt>Lat Lng</dt>
                <dd><a href="https://www.google.co.uk/maps/?q={{ foodbank.delivery_lat_lng }}">{{ foodbank.delivery_lat_lng }}</a></dd>
              </dl>
            </td>
            <td><a href="{% url 'admin:foodbank_edit' foodbank.slug %}#id_delivery_address" class="button is-link is-small is-pulled-right is-light">Edit</a></td>
          </tr>
        {% endif %}
        {% for location in foodbank.locations %}
        <tr>
          <td>{{ location.name }}</td>
          <td>
            {% if location.address or location.postcode %}
              {% if location.address %}{{ location.address|linebreaksbr }}{% endif %}{% if location.address and location.postcode %}<br>{% endif %}{% if location.postcode %}{{ location.postcode }}{% endif %}
            {% endif %}
            <dl class="is-size-7">
              {% if location.phone_number %}
                <dt>Phone</dt>
                <dd>{{ location.phone_number }}</dd>
              {% endif %}
              {% if location.email %}
                <dt>Email</dt>
                <dd>{{ location.email }}</dd>
              {% endif %}
              <dt>Lat Lng</dt>
              <dd><a href="https://www.google.co.uk/maps/?q={{ location.lat_lng }}">{{ location.lat_lng }}</a></dd>
              <dt>Place ID</dt>
              <dd>{% if location.place_id %}{{ location.place_id|truncatechars:25 }}{% else %}None{% endif %}</dd>
              {% if location.place_has_photo %}
                <dt>Place ID has photo</dt>
                <dd>✅ Yes</dd>
              {% endif %}
              {% if location.is_donation_point %}
                <dt>Donation Point</dt>
                <dd>✅ Yes</dd>
              {% endif %}
              {% if location.boundary_geojson %}
                <dt>Is Service Area</dt>
                <dd>✅ Yes</dd>
              {% endif %}
            </dl>
          </td>
          <td>
            <a href="{% url 'admin:fblocation_edit' foodbank.slug location.slug %}" class="button is-link is-small is-pulled-right is-light">Edit</a>
            <form action="{% url 'admin:fblocation_delete' foodbank.slug location.slug %}" method="post">
              <input type="submit" class="button is-small is-danger is-pulled-right is-light" value="Delete" onclick="return confirm('Delete {{ location.name}}?')">
              {% csrf_token %}
            </form>
          </td>
        {% endfor %}
      </table>
    </div>

    {# Last need #}
    <div class="column tabcontent generallocations">

      <a href="{% url 'admin:newneed' %}?foodbank={{ foodbank.slug }}" class="button is-link is-light" style="margin-top:10px">New Need</a>
      <br><br>

      {% if foodbank.last_need %}
        {{ foodbank.latest_need.input_method_emoji }}
        <strong>
          <a href="{% url 'admin:need' foodbank.latest_need.need_id %}">{{ foodbank.latest_need.need_id|truncate_need_id }}</a>
        </strong>
        {{ foodbank.latest_need.created|timesince }} ago
        <br>
        <div class="columns">
          <div class="column">
            <h4>Need</h4>
            <p>
              {{ foodbank.latest_need.change_text|linebreaksbr }}
            </p>
          </div>
          <div class="column">
            <h4>Excess</h4>
            <p>
              {{ foodbank.latest_need.excess_change_text|linebreaksbr }}
            </p>
          </div>
        </div>

      {% else %}
        <p style="margin-top:20px;">No needs yet</p>
      {% endif %}
      
    </div>

    {# Donation Points #}
    <div class="column tabcontent donationpoints is-hidden" role="tabpanel" id="donationpoints-panel" aria-labelledby="donationpoints-tab">
      <a href="{% url 'admin:donationpoint_new' foodbank.slug %}" class="button is-link is-light">New Donation Point</a>
      {% if foodbank.donation_points %}
        <table class="table is-fullwidth is-hoverable">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Postcode</th>
            <th>Lat Lng</th>
            <th>Place ID</th>
            <th>Company</th>
            <th>Store ID</th>
            <th>In Store Only?</th>
            <th>Notes</th>
            <th></th>
          </tr>
          {% for donation_point in foodbank.donation_points %}
            <tr>
              <td>{{ donation_point.name }}</td>
              <td>{{ donation_point.address|linebreaksbr }}</td>
              <td>{{ donation_point.postcode }}</td>
              <td>{{ donation_point.lat_lng }}</td>
              <td>{% if donation_point.place_id %}{{ donation_point.place_id|truncatechars:25 }}{% else %}None{% endif %}</td>
              <td>
                {% if donation_point.company %}
                  <img src="/static/img/co/{{ donation_point.company|slugify }}.png" alt="{{ donation_point.company }}" class="companyicon">
                  {{ donation_point.company }}
                {% endif %}
              </td>
              <td>
                {% if donation_point.store_id %}
                  {{ donation_point.store_id }}
                {% endif %}
              </td>
              <td>{% if donation_point.in_store_only %}Y{% endif %}</td>
              <td>
                {% if donation_point.notes %}
                  {{ donation_point.notes|linebreaksbr }}
                {% endif %}
              <td>
                <a href="{% url 'admin:donationpoint_edit' foodbank.slug donation_point.slug %}" class="button is-small is-link is-light">Edit</a>
                <form action="{% url 'admin:donationpoint_delete' foodbank.slug donation_point.slug %}" method="post">
                  <input type="submit" class="button is-small is-danger is-light" value="Delete" onclick="return confirm('Delete {{ donation_point.name}}?')">
                  {% csrf_token %}
                </form>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p style="margin-top:20px;">No donation points yet</p>
      {% endif %}
    </div>

    {# Needs #}
    {% if foodbank.needs %}
      <div class="column tabcontent needsorders is-hidden" role="tabpanel" id="needsorders-panel" aria-labelledby="needsorders-tab">
        <a href="{% url 'admin:newneed' %}?foodbank={{ foodbank.slug }}" class="button is-link is-light">New Need</a>
        <table class="table is-fullwidth is-hoverable">
          <tr>
            <th>Published</th>
            <th>Nonpertinent</th>
            <th>Input</th>
            <th>ID</th>
            <th>Need</th>
            <th>Excess</th>
            <th>Created</th>
            <th>Modified</th>
          </tr>
          {% for need in foodbank.needs %}
            <tr>
              <td>
                {% if need.published %}
                  <span style="color:green">✓</span>
                {% else %}
                  <span style="color:red">x</span>
                {% endif %}
              </td>
              <td>
                {% if need.nonpertinent %}
                  <span style="color:green">✓</span>
                {% else %}
                  <span style="color:red">x</span>
                {% endif %}
              </td>
              <td>
                {{ need.input_method_emoji }}
              </td>
              <td>
                <a href="{% url 'admin:need' need.need_id %}">{{ need.need_id|truncate_need_id }}</a>
              </td>
              <td class="is-size-7">{{ need.change_text|linebreaksbr }}</td>
              <td class="is-size-7">{{ need.excess_change_text|linebreaksbr }}</td>
              <td>{{ need.created }}</td>
              <td>{{ need.modified }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}

    {# Orders #}
    {% if foodbank.orders %}
      <div class="column tabcontent needsorders is-hidden">
        <a href="{% url 'admin:neworder' %}?foodbank={{ foodbank.slug }}" class="button is-link is-light">New Order</a>
        <table class="table is-fullwidth is-hoverable">
          <tr>
            <th></th>
            <th>Date</th>
            <th>Items</th>
            <th>Cost</th>
            <th></th>
          </tr>
          {% for order in foodbank.orders %}
            <tr>
              <td class="delivery-provider-icon">{% if order.delivery_provider %}<img src="/static/img/delivery_provider/icon/{{ order.delivery_provider|slugify }}.png" width="12" alt="{{ order.delivery_provider }}">{% endif %}</td>
              <td><a href="{% url 'admin:order' order.order_id %}">{{ order.delivery_datetime|date:"D" }}, {{ order.delivery_datetime }}</a></td>
              <td>{{ order.no_items }}</td>
              <td>£{{ order.natural_cost }}</td>
              <td>{% if order.notification_email_sent %}✉️{% endif %}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}

    {# Articles #}
    {% if foodbank.articles %}
      <div class="column tabcontent articles is-hidden" role="tabpanel" id="articles-panel" aria-labelledby="articles-tab">
        <table class="table is-fullwidth is-hoverable">
          {% for article in foodbank.articles %}
            <tr>
              <td>
                <a href="{{ article.url }}">{{ article.title_captialised }}</a>
              </td>
              <td>
                <span">{{ article.published_date|timesince }} ago</span>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}

    {# Social Media #}
    {% if foodbank.facebook_page %}
      <div class="column tabcontent socialmedia is-hidden" role="tabpanel" id="socialmedia-panel" aria-labelledby="socialmedia-tab">
        {% include 'wfbn/includes/facebook_embed.html' with page_name=foodbank.facebook_page %}
      </div>
    {% endif %}

    {% if foodbank.twitter_handle %}
      <div class="column tabcontent socialmedia is-hidden">
        <div class="twitter-feed">
          <a class="twitter-timeline" href="https://twitter.com/{{ foodbank.twitter_handle }}">Tweets by {{ foodbank.twitter_handle }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    {% endif %}

    {# Subscribers #}
    <div class="column tabcontent subscribers is-hidden" role="tabpanel" id="subscribers-panel" aria-labelledby="subscribers-tab">
      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Email</th>
          <th>Created</th>
          <th>Confirmed</th>
        </tr>
        {% for subscription in foodbank.subscribers %}
          <tr>
            <td>{{ subscription.email }}</td>
            <td>{{ subscription.created }}</td>
            <td>{% if subscription.confirmed %}Y{% else %}N{% endif %}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

    {# Crawls #}
    <div class="column tabcontent crawls is-hidden" role="tabpanel" id="crawls-panel" aria-labelledby="crawls-tab">

      <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Type</th>
                <th>Start</th>
                <th>Finish</th>
                <th>Time Taken</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for crawl_item in foodbank.crawl_items %}
            <tr>
                <td>{{ crawl_item.crawl_type_icon }} {{ crawl_item.crawl_type }}</td>
                <td>{{ crawl_item.start }}</td>
                <td>
                    {% if crawl_item.finish %}
                        {{ crawl_item.finish }}
                    {% else %}
                        <span style="color:red;">Unfinished</span>
                    {% endif %}
                </td>
                <td>
                    {% if crawl_item.finish %}
                        {{ crawl_item.time_taken_ms|floatformat:0 }} ms
                    {% endif %}
                </td>
                <td>
                    <a href="{{ crawl_item.url }}" target="_blank">{{ crawl_item.url|truncatechars:30 }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
      
    </div>

  </div>

{% endblock %}


{% block script %}
  <script src="/static/js/tabber.js" defer></script>
{% endblock %}