{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}Foodbank Groups - GF Admin{% endblock %}

{% block body %}

  <h2>Foodbank Groups</h2>

  <a href="{% url "admin:foodbank_group_new" %}" class="button is-link">New Foodbank Group</a>

  <div class="columns">

    <div class="column">

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th></th>
        </tr>
        {% for foodbank_group in foodbank_groups %}
          <tr>
            <td>{{ foodbank_group.name }}</td>
            <td>{{ foodbank_group.created }}</td>
            <td><a href="{% url 'admin:foodbank_group_edit' foodbank_group.slug %}" class="button is-small">Edit</a></td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
