{% extends "admin/page.html" %}
{% load bulma_tags %}

{% block title %}{% if page_title %}{{ page_title }} - {% endif %}Give Food Admin{% endblock %}

{% block body %}

  <div class="columns">

    <div class="column">
      {% if page_title %}
        <h2>{{ page_title }}</h2>
      {% endif %}
      <form method="post" action="" class="form-{{ page_title|slugify }}">
        {{ form|bulma }}
        <input type="submit" class="button is-link" value="Submit">
        {% csrf_token %}
      </form>
    </div>

    {% if need %}
      <div class="column">
        <iframe class="need_preview" src="{% url 'admin:proxy' %}?url={{ need.foodbank.shopping_list_url|urlencode }}"></iframe>
      </div>
    {% endif %}

  </div>

{% endblock %}
