{% extends "admin/page.html" %}
{% load bulma_tags %}

{% block title %}{% if page_title %}{{ page_title }} - {% endif %}Give Food Admin{% endblock %}

{% block body %}

  <div class="columns">

    <div class="column">
      {% if page_title %}
        <h2>{{ page_title }}</h2>
      {% endif %}
      <form method="post" action="" class="form-{{ page_title|slugify }}">
        {{ form|bulma }}
        <input type="submit" class="button is-link is-light" value="Submit" onclick="this.form.submit();this.disabled = true;">
        {% csrf_token %}
      </form>
    </div>

    {% if need %}
      {% if need.uri %}
        {% if "facebook.com" not in need.uri and "bankthefood.org" not in need.uri %}
          <div class="column">
            <iframe class="preview-frame" src="{% url 'admin:proxy' %}?url={{ need.uri|urlencode }}" loading="lazy"></iframe>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
    
    {% if foodbank %}
      {% if foodbank.url %}
        <div class="column">
          <iframe class="preview-frame" src="{% url 'admin:proxy' %}?url={{ foodbank.url|urlencode }}" loading="lazy"></iframe>
        </div>
      {% endif %}
    {% endif %}

  </div>

{% endblock %}
