{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}Give Food Admin{% endblock %}

{% block body %}

  <div class="columns">

    <div class="column">

      <h2>Needs</h2>

      {% if unpublished_needs %}
        <form action="{% url 'admin:needs_deleteall' %}">
          <input type="submit" value="Delete All" class="button is-small is-pulled-right" onclick="return confirm('Are you sure you want to DELETE ALL unpublished needs?')">
        </form>
      {% endif %}

      <h3>Unpublished</h3>
      {% include "admin/includes/needtable.html" with needs=unpublished_needs %}

      <h3>Published</h3>
      {% include "admin/includes/needtable.html" with needs=published_needs %}

    </div>

    <div class="column">

      <h2>Orders</h2>
      <a href="{% url "admin:neworder" %}" class="button is-link">New Order</a><br><br>

      <h3>Today ({{ today_orders.count }})</h3>
      {% include "admin/includes/ordertable.html" with orders=today_orders %}

      <h3>Upcoming ({{ upcoming_orders.count }})</h3>
      {% include "admin/includes/ordertable.html" with orders=upcoming_orders %}

      <h3>Previous</h3>
      {% include "admin/includes/ordertable.html" with orders=prev_orders %}

    </div>

    <div class="column">

      <h2>Foodbanks</h2>
      <a href="{% url "admin:newfoodbank" %}" class="button is-link">New Food Bank</a>
      
      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th></th>
          <th>Last Order</th>
        </tr>
        {% for foodbank in foodbanks %}
          <tr>
            <td>
              {% if foodbank.is_closed %}
                <span style="color:red">X</span>
              {% endif %}
              <a href="{% url "admin:foodbank" foodbank.slug %}">{{ foodbank }}</a>
            </td>
            <td>{{ foodbank.last_order }}</td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
