{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}Locations - GF Admin{% endblock %}

{% block body %}

  <h2>Locations</h2>

  <div class="columns">

    <div class="column">

      <div class="field is-pulled-right">
        <div class="control">
          <div class="select is-small">
            <select onchange="javascript:window.location.href=this.value">
              <option value="?sort=foodbank_name"{% if sort == "foodbank_name" %} selected{% endif %}>Food Bank</option>
              <option value="?sort=name"{% if sort == "name" %} selected{% endif %}>Name</option>
              <option value="?sort=parliamentary_constituency"{% if sort == "parliamentary_constituency" %} selected{% endif %}>Parliamentary Constituency</option>
              <option value="?sort=edited"{% if sort == "edited" %} selected{% endif %}>Edited</option>
            </select>
          </div>
        </div>
      </div>

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Foodbank</th>
          <th>Location</th>
          <th>Address</th>
          <th>Parliamentary Constituency</th>
          <th>MP</th>
          <th>MP&nbsp;ID</th>
          <th>Network</th>
          <th>Country</th>
          <th>Edited</th>
        </tr>
        {% for location in locations %}
          <tr>
            <td><a href="{% url "admin:foodbank" location.foodbank_slug %}">{{ location.foodbank_name }}</a></td>
            <td><a href="{% url 'admin:fblocation_edit' location.foodbank_slug location.slug %}">{{ location.name }}</a></td>
            <td>{{ location.address }} {{ location.postcode }}</td>
            <td>{{ location.parliamentary_constituency_name }}</td>
            <td>{{ location.mp }}</td>
            <td>{{ location.mp_parl_id }}</td>
            <td>{{ location.foodbank_network }}</td>
            <td>{{ location.country }}</td>
            <td>{{ location.edited }}</td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
