{% extends "admin/page.html" %}

{% block title %}Map - Give Food Admin{% endblock %}

{% block body %}

<div class="field is-pulled-right">
  <div class="control">
    <div class="select is-small">
      <select onchange="javascript:window.location.href=this.value">
        <option value="?filter=all"{% if filter == "all" %} selected{% endif %}>All</option>
        <option value="?filter=active"{% if filter == "active" %} selected{% endif %}>Active</option>
        {% for foodbank in all_foodbanks %}
          <option value="?filter={{ foodbank.slug }}"{% if filter == foodbank.slug %} selected{% endif %}>{{ foodbank.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

<div id="fbmap"></div>

<script src="//maps.googleapis.com/maps/api/js?key={{ gmap_key }}"></script>
<script>
function add_marker(lat, lng, url) {
  var marker = new google.maps.Marker({
  position: new google.maps.LatLng(lat, lng),
  map: map,
  url: url
});
  google.maps.event.addListener(marker, "click", function () {
  location.assign(marker.url);
});
}

var map
function init_map() {
var mapOptions = {
  center: new google.maps.LatLng(55,-4),
  zoom: 6,
  mapTypeId: google.maps.MapTypeId.ROADMAP
};
map = new google.maps.Map(document.getElementById("fbmap"), mapOptions);

{% for foodbank in foodbanks %}
  add_marker({{ foodbank.latt_long }}, "{{ foodbank.get_absolute_url }}")
{% endfor %}

}

google.maps.event.addDomListener(window, 'load', init_map);
</script>

{% endblock %}
