{% extends "admin/page.html" %}

{% block title %}{{ need }} - GF Admin{% endblock %}

{% block body %}


  <div class="columns" style="margin-top:20px;">

    <div class="column">
      <dl>
        <dt>ID</dt>
        <dd>{{ need.need_id }}</dd>
        <dt>Published</dt>
        <dd>
          {% if need.published %}
            <span style="color:green">✓</span>
          {% else %}
            <span style="color:red">x</span>
          {% endif %}
        </dd>
        <dt>Input Method</dt>
        <dd>
          {% if need.input_method == "typed" %}⌨️{% endif%}
          {% if need.input_method == "scrape" %}🤖{% endif%}
          {% if need.input_method == "user" %}🧑{% endif%}
          {{ need.input_method|title }}
        </dd>
        <dt>Created</dt>
        <dd>{{ need.created }} ({{ need.created|timesince }} ago)</dd>
        <dt>Modified</dt>
        <dd>{{ need.modified }} ({{ need.modified|timesince }} ago)</dd>
        <dt>Notifications Sent</dt>
        <dd>
          {% if need.tweet_sent %}
            {{ need.tweet_sent }}
          {% else %}
            Never
          {% endif %}
        </dd>
        <dt>Last Need</dt>
        <dd>
          {% if need.diff_from_last %}
            {{ need.last_need_date }} ({{ need.last_need_date|timesince:need.created }} before)
          {% else %}
            Never
          {% endif %}
        </dd>
        {% if need.distill_id %}
          <dt>Distill ID</dt>
          <dd>{{ need.distill_id }}</dd>
        {% endif %}
        <dt>Food Bank</dt>
        <dd>
          {% if need.foodbank %}
            <a href="{% url 'admin:foodbank' need.foodbank.slug %}">{{ need.foodbank }}</a>
          {% else %}
            Unknown
          {% endif %}
        </dd>
        {% if need.uri %}
          <dt>URL</dt>
          <dd><a href="{{ need.uri }}">{{ need.uri|truncatechars:35 }}</a></dd>
        {% endif %}
      </dl>

      <br>
      <a href="{% url "admin:need_form" need.need_id %}" class="button is-link">Edit</a>
      <br><br>
      {% if need.published %}
        <form action="{% url 'admin:need_publish' need.need_id 'unpublish' %}" method="post">
          <input type="submit" class="button is-warning" value="Unpublish">
          {% csrf_token %}
        </form>
      {% else %}
        <form action="{% url 'admin:need_publish' need.need_id 'publish' %}" method="post">
          <input type="submit" class="button is-success" value="Publish">
          {% csrf_token %}
        </form>
      {% endif %}
      {% if need.change_text != "Nothing" %}
        {% if need.change_text != "Unknown" %}
          <br>
          <form action="{% url 'admin:need_notifications' need.need_id %}" method="post">
            <input type="submit" class="button is-danger" value="Send notifications">
            {% csrf_token %}
          </form>
          <p>{{ subscribers|length }} subscribers</p>
        {% endif %}
      {% endif %}

      <h2>Danger Zone</h2>
      <form action="{% url 'admin:need_delete' need.need_id %}" method="post">
        <input type="submit" class="button is-danger" value="Delete" onclick="return confirm('Are you sure you want to DELETE?')">
        {% csrf_token %}
      </form>

    </div>

    <div class="column">
      
      <h2>Shopping List</h2>
      <div class="box">
        <p>{{ need.change_text|linebreaksbr }}</p>
      </div>

      {% if need.diff_from_last %}
        <h3>Previous Need</h3>
        <div class="box">
          <p>{{ need.diff_from_last|safe|linebreaksbr }}</p>
        </div>
        {{ need.last_need_date }} ({{ need.last_need_date|timesince:need.created }} before)
      {% else %}
        {% if need.last_need_date %}
          No change from need found {{ need.last_need_date }} ({{ need.last_need_date|timesince:need.created }} before)<br><br>
        {% endif %}
      {% endif %}

      {% if need.change_text_original %}
        <h3>Original Text</h3>
        <div class="box">
          <p>{{ need.change_text_original|linebreaksbr }}</p>
        </div>
      {% endif %}

    </div>

    {% if need.excess_change_text %}

      <div class="column">
        
        <h2>Excess</h2>
        <div class="box">
          <p>{{ need.excess_change_text|linebreaksbr }}</p>
        </div>

      </div>

    {% endif %}



    {% if need.uri %}
      <div class="column">
        <iframe class="need_preview" src="{% url 'admin:proxy' %}?url={{ need.uri|urlencode }}"></iframe>
      </div>
    {% endif %}

  </div>

{% endblock %}
