{% extends "admin/page.html" %}
{% load humanize %}
{% load custom_tags %}

{% block title %}Needs - GF Admin{% endblock %}

{% block body %}

  <h2>Need Lines</h2>

  <div class="columns">

    <div class="column">

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Foodbank</th>
          <th>Need</th>
          <th>Item</th>
          <th>Category</th>
          <th>Created</th>
          <th></th>
        </tr>
        {% for needline in needlines %}
          <tr>
            <td>
                <a href="{% url 'admin:foodbank' needline.foodbank.slug %}">{{ needline.foodbank }}</a>
            </td>
            <td>
                <a href="{% url 'admin:need' needline.need.need_id %}">{{ needline.need.need_id|truncate_need_id }}</a>
            </td>
            <td>{{ needline.item }}</td>
            <td>{{ needline.category }}</td>
            <td>{{ needline.created }}</td>
            <td>
              <a href="{% url "admin:needline_form" needline.need.need_id needline.id %}" class="button is-light">Edit</a>
            </td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
