{% extends "admin/page.html" %}
{% load custom_tags %}

{% block title %}{{ need }} - GF Admin{% endblock %}

{% block body %}


  <div class="columns">

    <div class="column">
      <dl>
        <dt>ID</dt>
        <dd>{{ need.need_id|truncate_need_id }}</dd>
        <dt>Food Bank</dt>
        <dd>
          {% if need.foodbank %}
            <a href="{% url 'admin:foodbank' need.foodbank.slug %}">{{ need.foodbank }}</a>
          {% else %}
            Unknown
          {% endif %}
        </dd>
        <dt>Input Method</dt>
        <dd>
          {{ need.input_method_emoji }} {{ need.input_method_human }}
        </dd>
        <dt>Created</dt>
        <dd><time datetime="{{ need.created|date:'c' }}" title="{{ need.created }}">{{ need.created|timesince }} ago</time></dd>
        <dt>Modified</dt>
        <dd><time datetime="{{ need.modified|date:'c' }}" title="{{ need.modified }}">{{ need.modified|timesince }} ago</time></dd>
        {% if need.uri %}
          <dt>URL</dt>
          <dd><a href="{{ need.uri }}">{{ need.uri|truncatechars:35 }}</a></dd>
        {% endif %}
        <dt>Food Bank Subs</dt>
        <dd>{{ need.foodbank.number_subscribers }}</dd>
      </dl>

      {% if need.crawl_set %}
        <h3>Crawl Set</h3>
        <time datetime="{{ need.crawl_set.start|date:'c' }}" title="{{ need.crawl_set.start }}">{{ need.crawl_set.start|timesince }} ago</time>
        <br>
        <a href="{% url 'admin:crawl_set' need.crawl_set.id %}">{{ need.crawl_set.start }}</a>
      {% endif %}

      <h3>Previous</h3>
      <dl>
        {% if prev_published %}
          <dt>Published</dt>
          <dd>
            <time datetime="{{ prev_published.created|date:'c' }}" title="{{ prev_published.created }}">{{ prev_published.created|timesince }} ago</time>
            <br><a href="{% url 'admin:need' prev_published.need_id %}">{{ prev_published.need_id|truncate_need_id }}</a>
          </dd>
        {% endif %}
        {% if prev_nonpert %}
          <dt>NonPert</dt>
          <dd>
            <time datetime="{{ prev_nonpert.created|date:'c' }}" title="{{ prev_nonpert.created }}">{{ prev_nonpert.created|timesince }} ago</time>
            <br><a href="{% url 'admin:need' prev_nonpert.need_id %}">{{ prev_nonpert.need_id|truncate_need_id }}</a>
          </dd>
        {% endif %}
      </dl>

      <h3>Workflow</h3>
      <table class="table is-fullwidth">
        <tr>
          <td></td>
          <td>Edit</td>
          <td>
            <a href="{% url "admin:need_form" need.need_id %}" class="button is-link is-pulled-right is-small is-light">Edit</a>
          </td>
        </tr>
        <tr>
          <td>
            {% if need.published %}
              <span style="color:green">✓</span>
            {% else %}
              <span style="color:red">x</span>
            {% endif %}
          </td>
          <td>Publish</td>
          <td>
            <form action="{% url "admin:need_publish" need.need_id 'publish' %}" method="post">
              <input type="submit" class="button is-warning is-pulled-right is-small is-light" value="Publish" onclick="this.form.submit();this.disabled = true;">
              {% csrf_token %}
            </form>
          </td>
        </tr>
        <tr>
          <td>
            {% if need.is_categorised %}
              <span style="color:green">✓</span>
            {% else %}
              <span style="color:red">x</span>
            {% endif %}
          </td>
          <td>Categorise</td>
          <td>
            {% if need.published %}
              <a href="{% url 'admin:need_categorise' need.need_id %}" class="button is-link is-pulled-right is-small is-light">Categorise</a>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>
            {% if need.tweet_sent %}
              <span style="color:green">✓</span>
            {% else %}
              <span style="color:red">x</span>
            {% endif %}
          </td>
          <td>Notify</td>
          <td>
            {% if need.published %}
              <form action="{% url 'admin:need_notifications' need.need_id %}" method="post">
                <input type="submit" class="button is-warning is-pulled-right is-small is-light" value="Send" onclick="this.form.submit();this.disabled = true;">
                {% csrf_token %}
              </form>
            {% endif %}
          </td>
        </tr>
      </table>

      {% if need.published %}
        <a href="{% url 'admin:need_translations' need.need_id %}">Translations <span class="tag is-info is-normal is-light">{{ need.translation_count }}</span></a>
      {% endif %}
      
      <h3>Notification Preview</h3>
      <ul>
        <li><a href="{% url 'admin:need_email' need.need_id %}?format=html" data-turbo="false">HTML</a></li>
        <li><a href="{% url 'admin:need_email' need.need_id %}?format=txt" data-turbo="false">TXT</a></li>
      </ul>

      <h3>⚠️ Danger Zone</h3>
      <form action="{% url 'admin:need_nonpertinent' need.need_id %}" method="post">
        <input type="submit" class="button is-warning is-light" value="Nonpertinent">
        {% csrf_token %}
      </form>
      <br>
      <form action="{% url 'admin:need_delete' need.need_id %}" method="post">
        <input type="submit" class="button is-danger is-light" value="Delete" onclick="return confirm('Are you sure you want to DELETE?')">
        {% csrf_token %}
      </form>

    </div>

    <div class="column is-half">

      <div class="columns">
        <div class="column">
          <h3>Need</h3>
          <div class="box">
            <p>{{ need.change_text|linebreaksbr }}</p>
          </div>
        </div>
        <div class="column">
          <h3>Excess</h3>
          <div class="box">
            <p>{{ need.excess_change_text|linebreaksbr }}</p>
          </div>
        </div>
      </div>

      <div class="tabs is-boxed" role="tablist" aria-label="Need comparison">
        <ul>
          <li class="is-active" role="presentation">
            <a data-tab="published" role="tab" aria-selected="true" aria-controls="published-panel" id="published-tab">
              <span>Published</span>
            </a>
          </li>
          <li role="presentation">
            <a data-tab="nonpert" role="tab" aria-selected="false" aria-controls="nonpert-panel" id="nonpert-tab">
              <span>Non Pertinent</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="columns sections">

        {% if prev_published %}
          <div class="published column is-half tabcontent" role="tabpanel" id="published-panel" aria-labelledby="published-tab">
            <div class="tab-content" data-tab="published">
              <div class="box">
                {% if need.diff_from_pub %}
                  <p>{{ need.diff_from_pub|safe|linebreaksbr }}</p>
                {% else %}
                  <p class="nochange">No change</p>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="published column is-half tabcontent is-hidden" role="tabpanel" id="nonpert-panel" aria-labelledby="nonpert-tab">
            <div class="tab-content" data-tab="nonpert">
              <div class="box">
                {% if need.diff_from_pub_excess %}
                  <p>{{ need.diff_from_pub_excess|safe|linebreaksbr }}</p>
                {% else %}
                  <p class="nochange">No change</p>
                {% endif %}
              </div>
            </div>
          </div>
        {% else %}
          <div class="published column is-hidden tabcontent">
            No previous published need
          </div>
        {% endif %}

        {% if prev_nonpert %}
          <div class="nonpert column is-half is-hidden tabcontent">
            <div>
              <div class="box">
                <p>
                  {% if need.diff_from_nonpert %}
                    {{ need.diff_from_nonpert|safe|linebreaksbr }}
                  {% else %}
                    No change
                  {% endif %}
                </p>
              </div>
            </div>
          </div>

          <div class="nonpert column is-half is-hidden tabcontent">
            <div>
              <div class="box">
                <p>
                  {% if need.diff_from_nonpert_excess %}
                    {{ need.diff_from_nonpert_excess|safe|linebreaksbr }}
                  {% else %}
                    No change
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        {% else %}
          <div class="nonpert column is-hidden tabcontent">
            No previous nonpertinent need
          </div>
        {% endif %}

      </div>


    </div>

    {% if need.uri %}
      {% if "facebook.com" not in need.uri and "bankthefood.org" not in need.uri %}
        <div class="column">
          <iframe class="preview-frame" src="{% url 'admin:proxy' %}?url={{ need.uri|urlencode }}"></iframe>
        </div>
      {% endif %}
    {% endif %}

  </div>

{% endblock %}


{% block script %}
  <script src="/static/js/tabber.js" defer></script>
{% endblock %}