{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}Order Groups - GF Admin{% endblock %}

{% block body %}

  <h2>Order Groups</h2>

  <a href="{% url "admin:order_group_new" %}" class="button is-link is-light">New Order Group</a>

  <div class="columns">

    <div class="column">

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th>Public?</th>
          <th></th>
        </tr>
        {% for order_group in order_groups %}
          <tr>
            <td><a href="{% url 'admin:order_group' order_group.slug %}">{{ order_group.name }}</a></td>
            <td>{{ order_group.created }}</td>
            <td>
              {% if order_group.public %}
                <span style="color:green">✓</span>
                <a href="{% url 'managed_donation' order_group.slug order_group.key %}">Link</a>
              {% endif %}
            </td>
            <td><a href="{% url 'admin:order_group_edit' order_group.slug %}" class="button is-small is-light">Edit</a></td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
