{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}Places - GF Admin{% endblock %}

{% block body %}

  <h2>Places</h2>

  <div class="columns">

    <div class="column">

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Name</th>
          <th>LatLng</th>
          <th>County</th>
          <th>Population</th>
          <th></th>
        </tr>
        {% for place in places %}
          <tr>
            <td>{{ place.name }}</td>
            <td>{{ place.lat_lng }}</td>
            <td>{{ place.county }}</td>
            <td>{{ place.population|intcomma }}</td>
            <td>
              <a href="{% url 'admin:place_form' place.pk %}" class="button is-small is-light">Edit</a>
            </td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
