{% extends "admin/page.html" %}

{% block title %}Search - GF Admin{% endblock %}

{% block body %}

    <div class="columns">
        <div class="column">
            <form action="{% url 'admin:search_results' %}" method="get" role="search" aria-label="Search">
                <div class="field has-addons">
                    <div class="control">
                      <input class="input" type="text" name="q" value="{{ query }}" aria-label="Search query">
                    </div>
                    <div class="control">
                      <button class="button is-info">
                        Search
                      </button>
                    </div>
                  </div>
            </form>
        </div>
    </div>

    <div class="columns">

        {% if not foodbanks and not locations and not donationpoints and not constituencies and not needs %}
            <p>No results, have another go</p>
        {% endif %}

        {% if foodbanks %}
            <div class="column">
                <h2>Food Banks</h2>
                <ul>
                    {% for foodbank in foodbanks %}
                        <li>
                            <a href="{% url 'admin:foodbank' foodbank.slug %}">{{ foodbank }}</a>
                            <a href="{% url 'admin:foodbank_edit' foodbank.slug %}" class="button is-light is-small">Edit</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if locations %}
            <div class="column">
                <h2>Locations</h2>
                <ul>
                    {% for location in locations %}
                        <li>
                            <a href="{% url 'admin:foodbank' location.foodbank_slug %}">{{ location }}</a> ({{ location.foodbank_name }})
                            <a href="{% url 'admin:fblocation_edit' location.foodbank_slug location.slug %}" class="button is-light is-small">Edit</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if donationpoints %}
            <div class="column">
                <h2>Donation Points</h2>
                <ul>
                    {% for donationpoint in donationpoints %}
                        <li>
                            <a href="{% url 'admin:foodbank' donationpoint.foodbank_slug %}#donationpoints">{{ donationpoint }}</a> ({{ donationpoint.foodbank_name }})
                            <a href="{% url 'admin:donationpoint_edit' donationpoint.foodbank_slug donationpoint.slug %}" class="button is-light is-small">Edit</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if constituencies %}
            <div class="column">
                <h2>Constituencies</h2>
                <ul>
                    {% for constituency in constituencies %}
                        <li><a href="{% url 'admin:parlcon_form' constituency.slug %}">{{ constituency }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if needs %}
            <div class="column">
                <h2>Needs</h2>
                <ul>
                    {% for need in needs %}
                        <li><a href="{% url 'admin:need' need.need_id %}">{{ need.need_id }}</a> {{ need.foodbank_name }}, {{ need.modified }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    </div>

{% endblock %}
