{% extends "admin/page.html" %}

{% block title %}Search - GF Admin{% endblock %}

{% block body %}

    <div class="columns">

        <div class="column">

            <h2>Food Banks</h2>

            {% for foodbank in foodbanks %}
                <a href="{% url 'admin:foodbank' foodbank.slug %}">{{ foodbank }}</a><br>
            {% endfor %}

        </div>
        <div class="column">

            <h2>Locations</h2>

            {% for location in locations %}
                <a href="{% url 'admin:foodbank' location.foodbank_slug %}">{{ location }}</a> ({{ location.foodbank_name }})<br>
            {% endfor %}

        </div>

        <div class="column">

            <h2>Constituencies</h2>

            {% for constituency in constituencies %}
                <a href="{% url 'admin:parlcon_form' constituency.slug %}">{{ constituency }}</a><br>
            {% endfor %}

        </div>

    </div>

{% endblock %}
