{% extends "admin/page.html" %}

{% block title %}Settings - GF Admin{% endblock %}

{% block body %}

  <h2>Settings</h2>

  <div class="columns">

    <div class="column">

        <ul class="settings">
            <li>🥫 <a href="{% url 'admin:items' %}">Items</a></li>
            <li>🏷️ <a href="{% url 'admin:order_groups' %}">Order Groups</a></li>
            <li>✉️ <a href="{% url 'admin:subscriptions' %}">Subscriptions</a></li>
            <li>🔢 <a href="{% url 'admin:stats' %}">Stats</a></li>
            <li>🔍 <a href="{% url 'admin:searches' %}">Searches</a>
            <li>🔑 <a href="{% url 'admin:credentials' %}">Credentials</a>
            <li>🎒 <a href="{% url 'admin:clearcache' %}">Clear Cache</a>
        </ul>

    </div>

  </div>

{% endblock %}
