{% extends "admin/page.html" %}

{% block title %}Settings - GF Admin{% endblock %}

{% block body %}

  <h2>Settings</h2>

  <div class="columns">

    <div class="column">

        <ul class="settings">
            <li>🥫 <a href="{% url 'admin:items' %}">Order Items</a></li>
            <li>🏷️ <a href="{% url 'admin:order_groups' %}">Order Groups</a></li>
            <li>🏘️ <a href="{% url 'admin:foodbank_groups' %}">Food Bank Groups</a></li>
            <li>📧 <a href="{% url 'admin:email_tester' %}">Email Tester</a></li>
        </ul>

        <h3>Stats</h3>
        <ul class="settings">
          <li>📆 <a href="{% url 'admin:quarter_stats' %}?start=2024-1-1&end=2024-3-31">Dated Stats</a></li>
          <li>✍️ <a href="{% url 'admin:edit_stats' %}">Edit Stats</a></li>
          <li>🔢 <a href="{% url 'admin:order_stats' %}">Order Stats</a></li>
          <li>✉️ <a href="{% url 'admin:subscriber_stats' %}">Subscriber Stats</a></li>
          <li>📊 <a href="{% url 'admin:subscriber_graph' %}" data-turbo="false">Subscriber Graph</a></li>
          <li>📍 <a href="{% url 'admin:finder_stats' %}">Finder Stats</a></li>
          <li>🥫 <a href="{% url 'admin:need_stats' %}">Need Stats</a></li>
        </ul>

        <h3>User Data</h3>
        <ul class="settings">
          <li>✉️ <a href="{% url 'admin:subscriptions' %}">Subscriptions</a></li>
        </ul>

        <h3>Geo</h3>
        <ul class="settings">
          <li>📢 <a href="{% url 'admin:politics' %}">Parliamentary Constituencies</a>
          <li>🏙️ <a href="{% url 'admin:places' %}">Places</a>
          <li>🚛 <a href="{% url 'admin:foodbanks_delivery_addresses' %}">Delivery Addresses</a>
          <li>2️ <a href="{% url 'admin:foodbanks_dupe_postcodes' %}">Dupe Food Bank Postcodes</a>
        </ul>

        <h3>⚠️ DANGER ZONE</h3>
        <ul class="settings">
          <li>🔑 <a href="{% url 'admin:credentials' %}">Credentials</a>
          <li>🎒 <a href="{% url 'admin:clearcache' %}">Clear Cache</a>
        </ul>

    </div>

  </div>

{% endblock %}
