{% extends "admin/page.html" %}
{% load humanize %}

{% block title %}Subscriber Graph - GF Admin{% endblock %}

{% block body %}

  <h2>Subscriber Graph</h2>

  <div class="columns">

    <div class="column">
        
        <div id="chart" style="height:500px"></div>
            
        <table class="table is-striped is-narrow is-fullwidth">
            <tr>
                <th>year-week</th>
                <th>Subscriptions</th>
            </tr>
            {% for week in week_subs.items reversed %}
                <tr>
                    <td>{{ week.0 }}</td>
                    <td>{{ week.1 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script src="/static/js/echarts.js"></script>

    <script>
      var chartDom = document.getElementById('chart');
      var myChart = echarts.init(chartDom);
      var option = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'category',
          data: [
            {% for week in week_subs.items %}
              '{{ week.0 }}'{% if not forloop.last %},{% endif %}
            {% endfor %}
          ],
          axisLabel: {
            rotate: 45
          }
        },
        yAxis: {
          type: 'value',
          name: 'Subscriptions'
        },
        series: [
          {
            name: 'Subscriptions',
            type: 'bar',
            data: [
              {% for week in week_subs.items %}
                {{ week.1 }}{% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
          }
        ]
      };
      myChart.setOption(option);
    </script>

{% endblock %}
