{% extends "admin/page.html" %}

{% block title %}Subscriptions - GF Admin{% endblock %}

{% block body %}

  <h2>Subscriptions</h2>

  <div class="columns">

    <div class="column">

      <div class="field is-pulled-right">
        <div class="control">
          <div class="select is-small">
            <select onchange="javascript:window.location.href=this.value">
              <option value="?type=all"{% if sub_type == "all" %} selected{% endif %}>All</option>
              <option value="?type=email"{% if sub_type == "email" %} selected{% endif %}>Email</option>
              <option value="?type=whatsapp"{% if sub_type == "whatsapp" %} selected{% endif %}>WhatsApp</option>
              <option value="?type=mobile"{% if sub_type == "mobile" %} selected{% endif %}>Mobile</option>
              <option value="?type=webpush"{% if sub_type == "webpush" %} selected{% endif %}>WebPush</option>
            </select>
          </div>
        </div>
      </div>

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Type</th>
          <th>Identifier</th>
          <th>Foodbank</th>
          <th>Created</th>
          <th>Confirmed</th>
          <th></th>
        </tr>
        {% for subscription in subscriptions %}
          <tr>
            <td>{{ subscription.type|title }}</td>
            <td>{{ subscription.identifier }}</td>
            <td><a href="{% url 'admin:foodbank' subscription.foodbank_slug %}">{{ subscription.foodbank_name }}</a></td>
            <td>{{ subscription.created }}</td>
            <td>{% if subscription.confirmed == None %}-{% elif subscription.confirmed %}Y{% else %}N{% endif %}</td>
            <td>
              <form action="{% url 'admin:delete_subscription' %}" method="post">
                <input type="hidden" name="type" value="{{ subscription.delete_data.type }}">
                {% if subscription.delete_data.email %}
                  <input type="hidden" name="email" value="{{ subscription.delete_data.email }}">
                  <input type="hidden" name="foodbank" value="{{ subscription.delete_data.foodbank }}">
                {% else %}
                  <input type="hidden" name="id" value="{{ subscription.delete_data.id }}">
                {% endif %}
                <input type="submit" value="Delete" onclick="return confirm('Delete {{ subscription.identifier }}?')" class="button is-danger is-small is-light">
                {% csrf_token %}
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
