.logo {
  height:40px;
  margin:10px 20px 10px 0;
  max-height:unset !important;
}
.main {
  padding:0 10px;
  margin:15px 0;
}
th {
  text-align:left;
}
dt {
  float:left;
  width:200px;
}
dd {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
h2 {
  margin-top:20px;
}
h2:first-of-type {
  margin-top:0;
}
h3 {
  font-size:1em;
  margin-top:15px;
}
#fbmap {
  width:1500px;
  height:1500px;
}
.twitter-feed {
  max-width:425px;
}
.small-product-image {
  width:50px;
  min-width:50px;
}
h1 {
  margin:10px 0;
  padding:0;
  font-size:1.5em;
}
#id_delivery_date {
  width:200px;
}
.foodbank-sort {
  font-size:0.8em;
}
.extra-form-button {
  margin-top:10px;
}
table {
  contain:strict; 
}
th {
  position:sticky;
  top:0;
  background:#fff;
}
.locationtable tr:last-child {
  border:0;
}
.locationtable td {
  padding:5px 5px 5px 0;
}
.articles li {
  margin-bottom:10px;
}
table td.delivery-provider-icon {
  padding:.5em 0;
}
td.delivery-provider-icon img {
  width:12px;
}
.need_preview {
  width:100%;
  border:0;
  height:1000px;
}
.settings {
  font-size:1.1em;
}
.settings li {
  margin-bottom:5px;
}
.footer {
  margin-top:3rem;
}