.api_method {
    display:none;
}
.api_method.active {
    display:block;
}
.api_method h2 {
    margin-top:1rem;
    border:0;
    font-family:monospace;
}
dd {
    clear:left;
    padding-bottom:5px;
}
pre {
    padding:1em;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    tab-size: 1em;
}
.field_name {
    font-family:monospace;
}
td[colspan] {
    background: #f5f5f5;
}
.indented, .double-indented {
    background:#f5f5f5;
}
.indented .field_name {
    padding-left:15px !important;
}
.double-indented .field_name {
    padding-left:30px !important;
}
.eg {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}