/* FORM */
.find-foodbank {
    margin-top:1rem;
}
#postcode_field, #address_field {
    width:245px;
}

/* NAVS */
nav.primary {
    margin:1rem 0 3rem 0;
}
@media screen and (min-width: 1200px) {
    nav.primary {
        margin:2rem 0 4rem 0;
    }
}
nav.secondary {
    margin:0 0 2rem 0;
}

/* GF LOGO */
h1 {
    margin:30px 0 0 0;
    width:148px;
    height:37px;
}
@media screen and (min-width: 769px) {
    h1 {
        margin:30px 0 20px 0;
        width:200px;
        height:50px;
    }
}
h2 {
    text-align:center;
    font-size:20px;
    border-bottom:1px solid lightgrey;
    padding-bottom:0;
}

/* MAP */
@media screen and (min-width: 769px) {
    .map {
        background-image: url('/static/img/map.svg');
        background-repeat: no-repeat;
        background-position: right 100px top 50px;
        background-size: 500px 500px;
    }
}
@media screen and (min-width: 1200px) {
    .map {
        background-position: right 200px top 50px;
    }
}


/* LOGOS */
.logos-container {
    background:#D8EDFE;
}
.logos-container h2 {
    padding:1rem 0 0 0;
    border-bottom-color:#b4daf9;
}
.logos {
    padding-bottom:2rem;
}
.logos div {
    margin:auto;
    text-align:center;
}
.trussell {
    height:40px;
}
.thetimes {
    width:110px;
}
.nhs {
    height:35px;
}
.bbc {
    height:35px;
}
.scottishgov {
    width:130px;
}
.cdrc {
    height:60px;
}
.reach {
    width:75px;
}
.ifan {
    height:45px;
}
.channel4 {
    height:60px;
}
.welshgov {
    height:60px;
}
.fcdo {
    width:150px;
}
@media screen and (min-width: 769px) {
    .trussell {
        height:80px;
    }
    .thetimes {
        width:170px;
    }
    .nhs {
        height:40px;
    }
    .bbc {
        height:35px;
    }
    .scottishgov {
        width:190px;
    }
    .cdrc {
        height:70px;
    }
    .reach {
        width:110px;
    }
    .ifan {
        height:50px;
    }
    .fcdo {
        width:100px;
    }
}


/* HOW TO HELP */
.how-help-container {
    padding-top:4rem;
}
.how-help-cat {
    padding-bottom:2rem;
}
.how-help-cat a svg {
    width:10px;
    height:10px;
    stroke:#007BC7;
    stroke-width:1.5;
    margin-left:3px;
}
.how-help-cat a:hover svg {
    stroke:#363636;
}

/* STATS */
.stats {
    text-align: center;
}

/* ANNUAL REPORT */
.annualreportteaser {
    margin:30px 0;
    padding:20px;
    background:#FAFAFA;
    border-radius:3px;
}