/* FORM */
.find-foodbank {
    margin-top:1rem;
}
#postcode_field, #address_field {
    width:245px;
}

/* NAVS */
nav.primary {
    margin:1rem 0 3rem 0;
}
@media screen and (min-width: 1200px) {
    nav.primary {
        margin:2rem 0 4rem 0;
    }
}
nav.secondary {
    margin:0 0 2rem 0;
}

/* GF LOGO */
h1 {
    margin:20px 0 0 0;
    width:148px;
    height:37px;
}
@media screen and (min-width: 769px) {
    h1 {
        margin:30px 0 20px 0;
        width:200px;
        height:50px;
    }
}
.how-help-container h2, .logos-container h2 {
    text-align:center;
    font-size:20px;
    border-bottom:1px solid lightgrey;
    padding-bottom:0;
}
#map {
    width:100%;
    height:1000px;
    border-radius:3px;
    margin-bottom:64px;
    background:#78D5E9 !important;
}
.recently-updated, .most-viewed {
    column-count:2;
    column-gap:10px;
    margin-bottom:2rem;
}
.recently-updated {
    margin-bottom:1rem;
}


/* LOGOS */
.logos-container {
    background:#D8EDFE;
}
.logos-container h2 {
    padding:1rem 0 0 0;
    border-bottom-color:#b4daf9;
}
.logos {
    padding-bottom:2rem;
}
.logos img {
    max-width:96px;
}
.logos div {
    margin:auto;
    text-align:center;
}
.trussell {
    height:32px;
}
.thetimes {
    width:88px;
}
.nhs {
    height:28px;
}
.bbc {
    height:28px;
}
.scottishgov {
    width:120px;
}
.cdrc {
    height:48px;
}
.reach {
    width:60px;
}
.ifan {
    height:36px;
}
.channel4 {
    height:48px;
}
.welshgov {
    height:48px;
}
.fcdo {
    width:120px;
}
.mars {
    width:80px;
}
.ca {
    width:64px;
}
@media screen and (min-width: 769px) {
    .trussell {
        height:64px;
    }
    .thetimes {
        width:136px;
    }
    .nhs {
        height:32px;
    }
    .bbc {
        height:28px;
    }
    .scottishgov {
        width:152px;
    }
    .cdrc {
        height:56px;
    }
    .reach {
        width:88px;
    }
    .ifan {
        height:40px;
    }
    .fcdo {
        width:80px;
    }
    .mars {
        width:80px;
    }
}


/* HOW TO HELP */
.how-help-container {
    padding-top:4rem;
}
.how-help-cat {
    padding-bottom:2rem;
}
.how-help-cat a svg {
    width:10px;
    height:10px;
    stroke:#007BC7;
    stroke-width:1.5;
    margin-left:3px;
}
.how-help-cat a:hover svg {
    stroke:#363636;
}

/* STATS */
.stats {
    text-align: center;
}

/* ANNUAL REPORT */
.annualreportteaser {
    margin:30px 0;
    padding:20px;
    background:#FAFAFA;
    border-radius:3px;
}

/* INFOWINDOW */
.gm-style-iw {
    width: auto !important;
    height: auto !important;
    left: 0 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    top: 0 !important;
    overflow: hidden !important;
    border-radius: 2px;
    font-family:'Soehne Buch' !important;
}
.gm-style-iw-chr {
    display:none;
}