@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
    url('/static/fonts/pt-serif-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/static/fonts/pt-serif-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
details summary {
    cursor: pointer;
}
  
.headerimg {
    padding-top:100px;
    margin-bottom:15px;
}
.logo {
    display:block;
    font-size:1.8em;
    background: url('/static/img/logo.png');
    background-repeat: no-repeat;
    background-size: auto 50px;
    padding:5px 0 5px 60px;
    font-weight:normal;
    color:#000;
}

@media screen and (min-width: 769px) {
    .body {
        background:#fff;
        margin-top:-155px;
        border-radius: 5px;
        padding: 1.3rem;
    }
    .headerimg {
        padding-top:200px;
    }
}
@media screen and (max-width: 769px) {
    .headerimg {
        display:none;
    }
    .logo {
        font-size:1.4em;
        background-size: 30px 30px;
        padding:0 0 5px 40px;
    }
    .search {
        display:none;
    }
    .breadcrumb {
        margin:-1em 0 0.3em 0 !important;
    }
    .foodbank-menu {
        position:relative;
    }
    .foodbank-menu li a {
        display:none;
    }
    .foodbank-menu li a.is-active {
        display:block;
    }
    .navbar-burger {
        position:absolute;
        top:0;
        right:0;
        height:2.25rem;
        width:2.25rem;
    }
    .navbar-burger span {
        background-color:#fff;
    }
}

.logo:hover {
    text-decoration: underline;
}

#address_label {
    display:none;
}
#postcode_field, #address_field {
    width:220px;
}
#postcode_field {
    text-transform:uppercase;
}

h1 {
    font-size: 28px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    margin-bottom: 1.3rem;
}
h2 {
    font-size:16px;
    border:0;
    font-weight:bold;
}

p.needs {
    border-left:2px solid #eee;
    padding:7px 0 7px 15px;
}
.cta {
    margin-bottom: 1.3rem;
}
.cta p {
    margin-bottom:10px;
}
.cta a {
    vertical-align: middle;
    margin-right:5px;
}
.contacts {
    white-space: nowrap;
}
.contact-icon {
    width:16px;
    display:inline-block;
    margin:0 2px 0 2px;
    vertical-align:middle;
}
.distance, .parent_org {
    font-size:0.8em;
}
.links img {
    margin:13px 7px 0 0;
    width:20px;
}
#theresults {
    margin-top:-10px;
}
.subscribe-btn {
    margin-top:10px;
}

.sidemap {
    height:300px;
    margin-bottom:10px;
}
.full-uk-map {
    height:1000px;
}
.mainmap {
    height:500px;
}
address {
    margin-bottom: 1.5rem;
}
.news li {
    margin-bottom:10px;
}
.thediff {
    padding-left:20px;
}
.nochange span {
    background:#fff87f;
}
.table td.foodbank_name {
    padding-left:0;
}
.parent_org {
    font-size:0.8em;
}
.subscribe-tease {
    margin-bottom:5px;
}
.subscribe-hint {
    margin:5px 0 0 0;
}
details ul {
    margin-left:1.1em;
}
.needs td {
    padding: 0.75em 0.75em 0.75em 0;
}
.recently-updated {
    column-count:2;
    column-gap:10px;
}
textarea[name='address'] {
    height:200px !important;
}
textarea[name='body'] {
    height:500px !important;
}
.mp_photo {
    width:200px;
    border-radius:3px;
}
#subscription_example {
    width:100%;
    height:500px;
}