@media screen and (max-width: 769px) {
    .breadcrumb {
        margin:-1em 0 0.3em 0 !important;
    }
    .foodbank-menu {
        position:relative;
    }
    .foodbank-menu li a {
        display:none;
    }
    .foodbank-menu li a.is-active {
        display:block;
    }
    .navbar-burger {
        position:absolute;
        top:0;
        right:0;
        height:2.25rem;
        width:2.25rem;
    }
    .navbar-burger span {
        background-color:#fff;
    }
}
#postcode_field, #address_field {
    width:220px;
}
#addressform {
    margin-bottom:1rem;
}
#status-msg img {
    vertical-align: middle;
    margin-right:5px;
}
.altname {
    margin-top:-1.3rem;
    font-style: italic;
}
.recently-updated, .most-viewed {
    column-count:2;
    column-gap:10px;
    margin-bottom:2rem;
}
.recently-updated {
    margin-bottom:1rem;
}
.needs tr:last-child td {
    border-bottom:0;
}
.needs td {
    padding:0.75em 0.75em 0.75em 0;
}
.distance, .parent_org {
    font-size:0.8em;
}
.links img {
    margin:13px 7px 0 0;
    width:20px;
}
.news li {
    margin-bottom:10px;
}
#theresults {
    margin-top:-10px;
}
.subscribe {
    margin-top:10px;
}
#map {
    height:1000px;
}
.sidemap {
    height:400px !important;
    margin-bottom:10px;
}
.mainmap {
    height:600px !important;
}
.gm-style-iw {
    width: auto !important;
    height: auto !important;
    left: 0 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    top: 0 !important;
    overflow: hidden !important;
    border-radius: 2px;
    font-family:'Soehne Buch' !important;
}
.gm-style-iw-chr {
    display:none;
}
.infowindow a {
    outline:0;
}
.infowindow h3 {
    margin-top:10px;
}
.infowindow h3, .infowindow p, .infowindow address {
    margin-bottom:10px;
}
address {
    font-style:normal;
}
.pluscode {
    margin-bottom:10px;
}
.contact-icon {
    width:16px;
    display:inline-block;
    margin:0 2px 0 2px;
    vertical-align:middle;
}
p.needs {
    border-left:2px solid #eee;
    padding:7px 0 7px 15px;
}
.cta {
    margin-bottom: 1.3rem;
}
.cta p {
    margin-bottom:10px;
}
.cta a {
    vertical-align: middle;
    margin-right:5px;
}
#subscription_example {
    width:100%;
    height:500px;
}
#postcode_field {
    text-transform:uppercase;
}
#postcode_field::placeholder {
    text-transform:none;
}
.table td.foodbank_name {
    padding-left:0;
}
textarea[name='address'] {
    height:200px !important;
}
textarea[name='body'] {
    height:500px !important;
}
.mp_photo {
    width:200px;
    border-radius:3px;
}
.locations address, .donationpoints address {
    margin-bottom:20px;
}
#legend {
    display:none;
    background:#fff;
    padding:5px;
    margin:5px;
    border:1px solid rgb(53, 55, 64);
}
#legend img {
    width:22px;
    vertical-align:middle;
}
.companyicon {
    width:16px;
    height:16px;
    vertical-align:middle;
    margin-right:2px;
}