{% if page_translatable %}
    <div class="langswitcher{% if not is_home %} is-pulled-right{% endif %}">
        <div class="dropdown is-hoverable{% if not is_home %} is-right{% endif %}">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="langswitcher">
                    <span>
                        {% if LANGUAGE_CODE == 'cy' %}
                            <img src="/static/img/langflags/cy.svg" alt="Cymraeg" aria-hidden="true"> Cymraeg
                        {% endif %}
                        {% if LANGUAGE_CODE == 'en' %}
                            <img src="/static/img/langflags/en.svg" alt="Cymraeg" aria-hidden="true"> English
                        {% endif %}
                        {% if LANGUAGE_CODE == 'gd' %}
                            <img src="/static/img/langflags/gd.svg" alt="Gàidhlig" aria-hidden="true"> Gàidhlig
                        {% endif %}
                    </span>
                    <svg class="arrow" viewBox="0 0 10 10" fill="none" aria-hidden="true"><path d="M1 1l4 4-4 4"></path></svg>
                </button>
            </div>
            <div class="dropdown-menu" id="langswitcher" role="menu">
                <div class="dropdown-content">
                    {% for language in languages %}
                        <a href="{{ language.url }}" class="dropdown-item">
                            <img src="/static/img/langflags/{{ language.code }}.svg" alt="{{ language.name }}" aria-hidden="true"> {{ language.name }} {% if language.code != 'en' %}<span class="beta is-size-7">beta</span>{% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}