{% extends "public/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ donationpoint }}, {{ foodbank.full_name }}">
  <meta property="og:description" content="Find what {{ foodbank }} food bank in {{ location }} is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank }} food bank in {{ location }} is requesting to have donated">
  <link rel="manifest" href="/needs/manifest.json">
  <meta name="geo.placename" content="{{ donationpoint }} - {{ foodbank.full_name }}">
  <meta name="geo.position" content="{{ donationpoint.latt_long }}">
  <meta property="place:location:latitude" content="{{ donationpoint.latt }}">
  <meta property="place:location:longitude" content="{{ donationpoint.long }}">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
  <script type="application/ld+json">
    {{ location.schema_org_str|safe }}
  </script>
{% endblock %}

{% block title %}{{ donationpoint.name }} - {{ foodbank.full_name }} - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column is-4">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'wfbn:index' %}">What Food Banks Need</a></li>
            <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.full_name }}</a></li>
            <li><a href="{% url 'wfbn:foodbank_donationpoints' foodbank.slug %}">Donation Points</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ donationpoint }}</a></li>
        </ul>
      </nav>

      <h1>{{ donationpoint }} - {{ foodbank.full_name }}</h1>

      <div class="columns">

          <div class="column is-2 menu-col">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column">

            {% if foodbank.is_closed %}
              <p class="tag is-danger is-large">This food bank is closed</p>
            {% endif %}

            <p>{{ donationpoint }} is a donation point for <a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.full_name }}</a>. {% if has_need %}Here they are requesting to have donated...{% endif %}</p>

            {% if has_need %}
                <p class="needs">
                    {% include "wfbn/includes/need_text.html" with need_text=foodbank.latest_need.change_text  %}
                </p>
                {% if foodbank.latest_need.excess_change_text %}
                  <p>They don't need anymore {% for item in foodbank.latest_need.excess_list %}{{ item }}{% if not forloop.last %}, {% endif %}{% endfor %}.</p>
                {% endif %}
            {% endif %}

            {% if donationpoint.opening_hours %}
                <h3>Opening hours</h3>
                <p>{{ donationpoint.opening_hours|linebreaksbr }}</p>
            {% endif %}

            {% if donationpoint.in_store_only %}
                <p>⚠️ Only accepts in-store purchases as donations</p>
            {% endif %}

            {% if donationpoint.wheelchair_accessible %}
                <p>♿ Wheelchair accessible</p>
            {% endif %}

          </div>

          <div class="column">

            {% include "wfbn/foodbank/includes/ctas.html" %}

            <div id="map" class="sidemap"></div>
            <a href="https://www.google.com/maps?saddr=My+Location&daddr={{ donationpoint.latt_long }}" class="is-pulled-right button is-info is-small directions-btn">Directions</a>
            <address>
              {{ donationpoint.address|linebreaksbr }}<br>
              {{ donationpoint.postcode }}
            </address>
            <div class="pluscode">
              <img src="/static/img/pluscode.svg" alt="Plus Code" class="contact-icon"> <a href="https://www.google.co.uk/maps/place/{{ donationpoint.plus_code_global|urlencode }}/">{{ donationpoint.plus_code_global }}</a>
            </div>

            {% if foodbank.delivery_address %}
              <h3>Delivery address</h3>
              <address>
                {{ foodbank.delivery_address|linebreaksbr }}
              </address>
            {% endif %}

            <div class="contacts is-size-6">
              {% if donationpoint.url %}
                <img src="/static/img/web.svg" alt="Website" class="contact-icon"> <a href="{{ donationpoint.url_with_ref }}" id="website_link">{{ donationpoint.friendly_url|truncatechars:40 }}</a><br>
              {% endif %}
              {% if donationpoint.phone_number %}
                <img src="/static/img/phone.svg" alt="Phone" class="contact-icon"> <a href="tel:{{ donationpoint.phone_number }}">{{ donationpoint.phone_number }}</a><br>
              {% endif %}
            </div>

          </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}

<script src="{% url 'wfbn:foodbank_hit' foodbank.slug %}" defer></script>
<script src="/static/js/wfbn.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}&libraries=places"></script>
<script>
function add_marker(lat, lng, url) {
  position = new google.maps.LatLng(lat, lng)
  var marker = new google.maps.Marker({
  position: position,
  map: map,
  url: url
});
  bounds.extend(position);
  google.maps.event.addListener(marker, "click", function () {
  location.assign(marker.url);
});
}

var map
var bounds = new google.maps.LatLngBounds();
function init_map() {
var mapOptions = {
  center: new google.maps.LatLng(55,-4),
  zoom: 6,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
};
map = new google.maps.Map(document.getElementById("map"), mapOptions);
add_marker({{ donationpoint.latt_long }}, "{% url 'wfbn:foodbank' foodbank.slug %}")
google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
  var maxZoom = 15
  if (map.getZoom() > maxZoom) {
    map.setZoom(maxZoom);
  }
});
map.fitBounds(bounds,{left:50, right:50, bottom:50, top:50});
map.panToBounds(bounds);
}

google.maps.event.addDomListener(window, 'load', init_map);
</script>

{% endblock %}

