{% extends "public/page.html" %}
{% load i18n %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css?v={{ version }}">
  <link rel="alternate" type="application/rss+xml" title="RSS feed for {{ foodbank.full_name }}" href="{% url 'wfbn:foodbank_rss' foodbank.slug %}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ foodbank.full_name }}">
  <meta property="og:description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn-generic:foodbank_map' foodbank.slug %}">
  <meta property="og:image:alt" content="Map of {{ foodbank.full_name }}">
  <link rel="manifest" href="{% url 'wfbn:manifest' %}">
  <meta name="geo.placename" content="{{ foodbank.full_name }}">
  <meta name="geo.position" content="{{ foodbank.latt_long }}">
  <meta property="place:location:latitude" content="{{ foodbank.latt }}">
  <meta property="place:location:longitude" content="{{ foodbank.long }}">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
{% endblock %}

{% block title %}{% blocktrans %}History{% endblocktrans %} - {{ foodbank.full_name }} - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
          {% include 'public/includes/langswitcher.html' %}
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'index' %}">{% blocktrans %}Home{% endblocktrans %}</a></li>
            <li><a href="{% url 'wfbn:index' %}">{% blocktrans %}What Food Banks Need{% endblocktrans %}</a></li>
            <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.full_name }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{% blocktrans %}History{% endblocktrans %}</a></li>
        </ul>
  </nav>

    {% trans "History" as prefix %}
    {% include "wfbn/foodbank/includes/pagetitle.html" with prefix=prefix %}

      <div class="columns">

          <div class="column is-2 menu-col">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column">

            <table>
              {% for need in needs %}
                <tr id="need-{{ need.need_id }}">
                  <td>
                    <time datetime="{{ need.created_without_microseconds|date:'c' }}">{{ need.created }}</time><br>
                    <span class="is-size-7">{{ need.created|timesince}} {% blocktrans %}ago{% endblocktrans %}</span>
                  </td>
                  <td class="thediff">
                    {% if need.diff_from_pub %}
                      <p>{{ need.diff_from_pub|safe|linebreaksbr }}</p>
                    {% else %}
                      <p class="nochange"><span>{% blocktrans %}No change{% endblocktrans %}</span></p>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
            
          </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}

<script src="{% url 'wfbn-generic:foodbank_hit' foodbank.slug %}" defer></script>
<script src="/static/js/wfbn.js?v={{ version }}" defer></script>

{% endblock %}

