{% extends "public/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn2.css">
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFood_org_uk">
  <meta property="og:title" content="{{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}">
  <meta property="og:description" content="Find what {{ foodbank }} food bank is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank }} food bank is requesting to have donated">
  <meta property="og:image" content="{% url 'wfbn:foodbank_map' foodbank.slug %}">
  <link rel="manifest" href="/needs/manifest.json">
  <meta name="geo.placename" content="{{ foodbank }} Food Bank">
  <meta name="geo.position" content="{{ foodbank.latt_long }}">
  <meta property="place:location:latitude" content="{{ foodbank.latt }}">
  <meta property="place:location:longitude" content="{{ foodbank.long }}">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
{% endblock %}

{% block title %}History - {{ foodbank }} Food Bank - Give Food{% endblock %}

{% block body %}

  <div class="columns body">
    <div class="column">

      <div class="columns">

        <div class="column is-4">
          <a href="/" class="logo">Give Food</a>
        </div>
        
        {% include 'wfbn/foodbank/includes/search.html' %}

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'public_index' %}">Home</a></li>
            <li><a href="{% url 'wfbn:index' %}">What Food Banks Need</a></li>
            <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}</a></li>
            <li class="is-active"><a href="#" aria-current="page">History</a></li>
        </ul>
  </nav>

      <h1>{{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}</h1>

      <div class="columns">

          <div class="column is-2">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column">

            <p>What {{ foodbank }} food bank has requested over time. <ins>Green</ins> is for new items, <del>red</del> are ones that have been removed.</p>
            <table>
              {% for need in needs %}
                <tr>
                  <td>
                    {{ need.created }}<br>
                    <span class="is-size-7">{{ need.created|timesince}} ago</span>
                  </td>
                  <td class="thediff">
                    {% if need.diff_from_last%}
                      <p>{{ need.diff_from_last|safe|linebreaksbr }}</p>
                    {% else %}
                      <p class="nochange"><span>No change</span></p>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
            
          </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}

<script src="/static/js/wfbn2.js" defer></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}&libraries=places"></script>

{% endblock %}

