{% extends "public/page.html" %}
{% load custom_tags %}
{% load i18n %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css?v={{ version }}">
  <link rel="alternate" type="application/json" href="{% url 'api2:foodbank' foodbank.slug %}">
  <link rel="alternate" type="application/xml" href="{% url 'api2:foodbank' foodbank.slug %}?format=xml">
  <link rel="alternate" type="application/yaml" href="{% url 'api2:foodbank' foodbank.slug %}?format=yaml">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ foodbank.full_name }}">
  <meta property="og:description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn:foodbank_map' foodbank.slug %}">
  <meta property="og:image:alt" content="Map of {{ foodbank.full_name }}">
  <link rel="manifest" href="{% url 'wfbn:manifest' %}">
  <meta name="geo.placename" content="{{ foodbank.full_name }}">
  <meta name="geo.position" content="{{ foodbank.lat_lng }}">
  <meta property="place:location:latitude" content="{{ foodbank.latt }}">
  <meta property="place:location:longitude" content="{{ foodbank.long }}">
  <link rel="preload" href="{% url 'wfbn:foodbank_geojson' foodbank.slug %}" as="fetch" crossorigin="anonymous">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
  <script type="application/ld+json">
    {{ foodbank.schema_org_str|safe }}
  </script>
{% endblock %}

{% block title %}{{ foodbank.full_name }} - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
          {% include 'public/includes/langswitcher.html' %}
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}">{% blocktrans %}Home{% endblocktrans %}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ foodbank.full_name }}</a></li>
            </ul>
      </nav>

      {% include "wfbn/foodbank/includes/pagetitle.html" %}

      <div class="columns">

          <div class="column is-2 menu-col">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column">

            {% if foodbank.is_closed %}
              <p class="tag is-danger is-large">{% blocktrans %}This food bank is closed{% endblocktrans %}</p>
            {% endif %}

            <div class="contacts">
              <a href="{{ foodbank.url_with_ref }}" class="website">{{ foodbank.friendly_url|truncatechars:40 }}</a>
              {% if foodbank.phone_number %}
                <a href="tel:{{ foodbank.phone_number|full_phone }}" class="phone">{{ foodbank.phone_number|friendly_phone }}</a>
                {% if foodbank.secondary_phone_number %}<a href="tel:{{ foodbank.secondary_phone_number|full_phone }}"  class="phone">{{ foodbank.secondary_phone_number|friendly_phone }}</a>{% endif %}
              {% endif %}
              <a href="mailto:{{ foodbank.contact_email }}" class="email">{{ foodbank.contact_email|truncatechars:40 }}</a>
            </div>

            {% if foodbank.is_school %}
              <br><p>🏫 {% blocktrans %}This food bank is located at a school, so may not be open to the public.{% endblocktrans %}</p>
            {% endif %}

            {% include "wfbn/foodbank/includes/charitynetwork.html" %}
            {% include "wfbn/foodbank/includes/fsa.html" %}

          </div>

          <div class="column is-6">

            {% include "wfbn/foodbank/includes/ctas.html" %}

            <div id="map" class="sidemap"></div>
            {% include "public/includes/maplegend.html" %}

            {% if foodbank.place_has_photo and not foodbank.address_is_administrative %}
              <div>
                <picture>
                  <source type="image/avif" srcset="https://www.givefood.org.uk/cdn-cgi/image/width=540,format=avif{% url 'wfbn-generic:foodbank_photo' foodbank.slug %} 540w, https://www.givefood.org.uk/cdn-cgi/image/width=1080,format=avif{% url 'wfbn-generic:foodbank_photo' foodbank.slug %} 1080w" sizes="(max-width: 540px) 540px, 1080px">
                  <source type="image/webp" srcset="https://www.givefood.org.uk/cdn-cgi/image/width=540,format=webp{% url 'wfbn-generic:foodbank_photo' foodbank.slug %} 540w, https://www.givefood.org.uk/cdn-cgi/image/width=1080,format=webp{% url 'wfbn-generic:foodbank_photo' foodbank.slug %} 1080w" sizes="(max-width: 540px) 540px, 1080px">
                  <img src="{% url 'wfbn-generic:foodbank_photo' foodbank.slug %}" alt="{{ foodbank.name }}" loading="lazy" class="placephoto">
                </picture>
              </div>
            {% endif %}
            
            {% if foodbank.address_is_administrative%}
              <h3>{% blocktrans %}Administrative{% endblocktrans %}</h3>
            {% else %}
              <a href="https://www.google.com/maps?saddr=My+Location&daddr={{ foodbank.lat_lng }}" class="{% if language_direction == 'ltr' %}is-pulled-right{% else %}is-pulled-left{% endif %} button is-info is-small is-light directions-btn">{% blocktrans %}Directions{% endblocktrans %}</a>
            {% endif %}
            <address>
              {{ foodbank.address|linebreaksbr }}<br>
              {{ foodbank.postcode }}<br>
              {% include "public/includes/country.html" with country=foodbank.country%}
            </address>
            <div class="pluscode">
              <a href="https://www.google.co.uk/maps/place/{{ foodbank.plus_code_global|urlencode }}/" class="pluscode">{{ foodbank.plus_code_global }}</a>
            </div>

            {% if foodbank.delivery_address %}
              <h3>{% blocktrans %}Delivery{% endblocktrans %}</h3>
              <a href="https://www.google.com/maps?saddr=My+Location&daddr={{ foodbank.delivery_lat_lng }}" class="{% if language_direction == 'ltr' %}is-pulled-right{% else %}is-pulled-left{% endif %} button is-info is-small is-light directions-btn">{% blocktrans %}Directions{% endblocktrans %}</a>
              <address>
                {{ foodbank.delivery_address|linebreaksbr }}
              </address>
            {% endif %}

          </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}
  
  {% include 'public/includes/mapconfig.html' %}
  {% include 'public/includes/gmapsconfig.html' %}
  <script src="/static/js/wfbn.js?v={{ version }}" defer onload="init()"></script>
  <script src="{% url 'wfbn-generic:foodbank_hit' foodbank.slug %}" defer></script>
{% endblock %}

