{% extends "public/page.html" %}
{% load custom_tags %}
{% load i18n %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css?v={{ version }}">
  <link rel="alternate" type="application/json" href="{% url 'api2:foodbank' foodbank.slug %}">
  <link rel="alternate" type="application/xml" href="{% url 'api2:foodbank' foodbank.slug %}?format=xml">
  <link rel="alternate" type="application/yaml" href="{% url 'api2:foodbank' foodbank.slug %}?format=yaml">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ foodbank.full_name }}">
  <meta property="og:description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn:foodbank_map' foodbank.slug %}">
  <meta property="og:image:alt" content="Map of {{ foodbank.full_name }}">
  <link rel="manifest" href="{% url 'wfbn:manifest' %}">
  <meta name="geo.placename" content="{{ foodbank.full_name }}">
  <meta name="geo.position" content="{{ foodbank.latt_long }}">
  <meta property="place:location:latitude" content="{{ foodbank.latt }}">
  <meta property="place:location:longitude" content="{{ foodbank.long }}">
  <link rel="preload" href="{% url 'wfbn:foodbank_geojson' foodbank.slug %}" as="fetch">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
  <script type="application/ld+json">
    {{ foodbank.schema_org_str|safe }}
  </script>
{% endblock %}

{% block title %}{{ foodbank.full_name }} - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column is-4">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}">{% blocktrans %}Home{% endblocktrans %}</a></li>
                <li><a href="{% url 'wfbn:index' %}">{% blocktrans %}What Food Banks Need{% endblocktrans %}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ foodbank.full_name }}</a></li>
            </ul>
      </nav>

      {% include "wfbn/foodbank/includes/pagetitle.html" %}

      <div class="columns">

          <div class="column is-2 menu-col">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column">

            {% if foodbank.is_closed %}
              <p class="tag is-danger is-large">{% blocktrans %}This food bank is closed{% endblocktrans %}</p>
            {% endif %}

            <div class="contacts is-size-6">
              <img src="/static/img/web.svg" alt="{% blocktrans %}Website{% endblocktrans %}" class="contact-icon"> <a href="{{ foodbank.url_with_ref }}" id="website_link">{{ foodbank.friendly_url|truncatechars:40 }}</a><br>
              {% if foodbank.phone_number %}
                <img src="/static/img/phone.svg" alt="{% blocktrans %}Phone{% endblocktrans %}" class="contact-icon"> <a href="tel:{{ foodbank.phone_number|full_phone }}">{{ foodbank.phone_number|friendly_phone }}</a>{% if foodbank.secondary_phone_number %} or <a href="tel:{{ foodbank.secondary_phone_number|full_phone }}">{{ foodbank.secondary_phone_number|friendly_phone }}</a>{% endif %}<br>
              {% endif %}
              <img src="/static/img/email.svg" alt="{% blocktrans %}Email{% endblocktrans %}" class="contact-icon"> <a href="mailto:{{ foodbank.contact_email }}" id="email_link">{{ foodbank.contact_email|truncatechars:40 }}</a>
            </div>

            {% include "wfbn/foodbank/includes/charitynetwork.html" %}

          </div>

          <div class="column is-6">

            {% include "wfbn/foodbank/includes/ctas.html" %}

            <div id="map" class="sidemap"></div>
            {% include "wfbn/foodbank/includes/maplegend.html" %}

            {% if foodbank.place_has_photo %}
              <div>
                <img src="{% url 'wfbn:foodbank_photo' foodbank.slug %}" alt="{{ foodbank.name }}" loading="lazy" class="placephoto">
              </div>
            {% endif %}
            
            {% if foodbank.address_is_administrative%}
              <h3>{% blocktrans %}Administrative{% endblocktrans %}</h3>
            {% else %}
              <a href="https://www.google.com/maps?saddr=My+Location&daddr={{ foodbank.latt_long }}" class="is-pulled-right button is-info is-small is-light directions-btn">{% blocktrans %}Directions{% endblocktrans %}</a>
            {% endif %}
            <address>
              {{ foodbank.address|linebreaksbr }}<br>
              {{ foodbank.postcode }}<br>
              {{ foodbank.country }}
            </address>
            <div class="pluscode">
              <img src="/static/img/pluscode.svg" alt="Plus Code" class="contact-icon"> <a href="https://www.google.co.uk/maps/place/{{ foodbank.plus_code_global|urlencode }}/">{{ foodbank.plus_code_global }}</a>
            </div>

            {% if foodbank.delivery_address %}
              <h3>{% blocktrans %}Delivery{% endblocktrans %}</h3>
              <a href="https://www.google.com/maps?saddr=My+Location&daddr={{ foodbank.delivery_latt_long }}" class="is-pulled-right button is-info is-small is-light directions-btn">{% blocktrans %}Directions{% endblocktrans %}</a>
              <address>
                {{ foodbank.delivery_address|linebreaksbr }}
              </address>
            {% endif %}

          </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}
<script>
  var gf_map_config = {
    geojson: "{% url 'wfbn:foodbank_geojson' foodbank.slug %}",   
    max_zoom: 14,
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}" defer></script>
<script src="/static/js/wfbn.js?v={{ version }}" defer></script>
<script src="/static/js/wfbn_map.js?v={{ version }}" defer></script>
<script src="{% url 'wfbn:foodbank_hit' foodbank.slug %}" defer></script>
{% endblock %}

