{% extends "public/page.html" %}
{% load i18n %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css?v={{ version }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ foodbank.full_name }}">
  <meta property="og:description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn:foodbank_map' foodbank.slug %}">
  <meta property="og:image:alt" content="Map of {{ foodbank.full_name }}">
  <link rel="manifest" href="{% url 'wfbn:manifest' %}">
  <meta name="geo.placename" content="{{ foodbank.full_name }}">
  <meta name="geo.position" content="{{ foodbank.lat_lng }}">
  <meta property="place:location:latitude" content="{{ foodbank.latt }}">
  <meta property="place:location:longitude" content="{{ foodbank.long }}">
  <link rel="preload" href="{% url 'wfbn:foodbank_geojson' foodbank.slug %}" as="fetch" crossorigin="anonymous">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
{% endblock %}

{% block title %}{% blocktrans %}Locations{% endblocktrans %} - {{ foodbank.full_name }} - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
          {% include 'public/includes/langswitcher.html' %}
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}">{% blocktrans %}Home{% endblocktrans %}</a></li>
                <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.full_name }}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{% blocktrans %}Locations{% endblocktrans %}</a></li>
            </ul>
      </nav>

      {% trans "Locations" as prefix %}
      {% include "wfbn/foodbank/includes/pagetitle.html" with prefix=prefix %}

      <div class="columns">

          <div class="column is-2 menu-col">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column locations">

            <a href="{% url 'wfbn:foodbank' foodbank.slug %}">
              {% if foodbank.address_is_administrative %}
                {% blocktrans %}Administrative{% endblocktrans %}
              {% else %}
                {% blocktrans %}Main{% endblocktrans %}
              {% endif %}
            </a>
            <address>
              {{ foodbank.address|linebreaksbr }}<br>
              {{ foodbank.postcode }}
            </address>
            
            {% if foodbank.delivery_address %}
              <a href="{% url 'wfbn:foodbank' foodbank.slug %}">{% blocktrans %}Delivery{% endblocktrans %}</a>
              <address>
                {{ foodbank.delivery_address|linebreaksbr }}
              </address>
            {% endif %}

            {% for location in foodbank.locations %}
              <div style="clear:both">
                {% if location.place_has_photo and not location.boundary_geojson %}
                  <a href="{% url 'wfbn:foodbank_location' foodbank.slug location.slug %}">
                    <picture>
                      <source srcset="https://www.givefood.org.uk/cdn-cgi/image/width=150,format=avif{% url 'wfbn-generic:foodbank_location_photo' foodbank.slug location.slug %} 150w, https://www.givefood.org.uk/cdn-cgi/image/width=300,format=avif{% url 'wfbn-generic:foodbank_location_photo' foodbank.slug location.slug %} 300w" type="image/avif" sizes="150px">
                      <source srcset="https://www.givefood.org.uk/cdn-cgi/image/width=150,format=webp{% url 'wfbn-generic:foodbank_location_photo' foodbank.slug location.slug %} 150w, https://www.givefood.org.uk/cdn-cgi/image/width=300,format=webp{% url 'wfbn-generic:foodbank_location_photo' foodbank.slug location.slug %} 300w" type="image/webp" sizes="150px">
                      <img src="https://www.givefood.org.uk/cdn-cgi/image/width=300{% url 'wfbn-generic:foodbank_location_photo' foodbank.slug location.slug %}" alt="{{ location.name }}" loading="lazy" class="placephoto {% if language_direction == 'ltr' %}is-pulled-right{% else %}is-pulled-left{% endif %}" style="width:150px;clear:left">
                    </picture>
                  </a>
                {% endif %}
                <a href="{% url 'wfbn:foodbank_location' foodbank.slug location.slug %}">{{ location.name }}</a>
                {% if location.address or location.postcode %}
                  <address>
                    {% if location.address %}{{ location.address|linebreaksbr }}{% endif %}{% if location.address and location.postcode %}<br>{% endif %}{% if location.postcode %}{{ location.postcode }}{% endif %}
                  </address>
                {% endif %}
              </div>
            {% endfor %}

          </div>

          <div class="column is-6">
            <div id="map" class="mainmap"></div>
            {% include "public/includes/maplegend.html" %}
            {% include "public/includes/deliveryareadisclaimer.html" %}
          </div>

      </div>

    </div>
  </div>

{% endblock %}

{% block script %}

  {% include 'public/includes/mapconfig.html' %}
  {% include 'public/includes/gmapsconfig.html' %}
  <script src="/static/js/wfbn.js?v={{ version }}" defer onload="init()"></script>
  <script src="{% url 'wfbn-generic:foodbank_hit' foodbank.slug %}" defer></script>

{% endblock %}

