{% extends "public/page.html" %}
{% load custom_tags %}
{% load i18n %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css?v={{ version }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ location }}, {{ foodbank.full_name }}">
  <meta property="og:description" content="Find what {{ foodbank }} food bank in {{ location }} is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank }} food bank in {{ location }} is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn-generic:foodbank_location_map' foodbank.slug location.slug %}">
  <link rel="manifest" href="{% url 'wfbn:manifest' %}">
  <meta name="geo.placename" content="{{ location }} - {{ foodbank.full_name }}">
  <meta name="geo.position" content="{{ location.lat_lng }}">
  <meta property="place:location:latitude" content="{{ location.latt }}">
  <meta property="place:location:longitude" content="{{ location.long }}">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
  <script type="application/ld+json">
    {{ location.schema_org_str|safe }}
  </script>
{% endblock %}

{% block title %}{{ location.name }} - {{ foodbank.full_name }} - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
          {% include 'public/includes/langswitcher.html' %}
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'index' %}">{% blocktrans %}Home{% endblocktrans %}</a></li>
            <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.full_name }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ location }}</a></li>
        </ul>
      </nav>

      {% include "wfbn/foodbank/includes/pagetitle.html" with prefix=location %}

      <div class="columns">

          <div class="column is-2 menu-col">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column">

            {% if foodbank.is_closed %}
              <p class="tag is-danger is-large">>{% blocktrans %}This food bank is closed{% endblocktrans %}</p>
            {% endif %}

            {% with change_text=foodbank.latest_need.get_change_text %}
              {% if change_text == "Facebook" %}
                <p>You can find out what {{ foodbank.full_name }} is requesting to have donated on their Facebook page:</p>
                {% include 'wfbn/includes/facebook_embed.html' with page_name=foodbank.facebook_page %}
              {% else %}
                <p>{{ foodbank.full_name }} is currently requesting the following items to be donated:</p>
                <p class="needs">
                  {% include "wfbn/includes/need_text.html" with need_text=change_text  %}
                </p>
                {% if foodbank.latest_need.excess_change_text %}
                  <p>{% blocktrans %}They don't need any more{% endblocktrans %} {% for item in foodbank.latest_need.get_excess_text_list %}{{ item }}{% if not forloop.last %}, {% endif %}{% endfor %}.</p>
                {% endif %}

                {% if location.is_donation_point %}
                  <p>🛒 {% blocktrans %}This location accepts donations{% endblocktrans %}</p>
                {% endif %}
                
                {% include 'wfbn/foodbank/includes/subscribe.html' %}
              {% endif %}
            {% endwith %}

          </div>

          <div class="column">

            {% include "wfbn/foodbank/includes/ctas.html" %}

            {% if location.place_has_photo and not location.boundary_geojson %}
              <div>
                <picture>
                  <source srcset="https://www.givefood.org.uk/cdn-cgi/image/format=avif,width=540{% url 'wfbn-generic:foodbank_location_photo' foodbank.slug location.slug %} 540w, https://www.givefood.org.uk/cdn-cgi/image/format=avif,width=1080{% url 'wfbn-generic:foodbank_location_photo' foodbank.slug location.slug %} 1080w" type="image/avif">
                  <source srcset="https://www.givefood.org.uk/cdn-cgi/image/format=webp,width=540{% url 'wfbn-generic:foodbank_location_photo' foodbank.slug location.slug %} 540w, https://www.givefood.org.uk/cdn-cgi/image/format=webp,width=1080{% url 'wfbn-generic:foodbank_location_photo' foodbank.slug location.slug %} 1080w" type="image/webp">
                  <img src="https://www.givefood.org.uk/cdn-cgi/image/width=1080{% url 'wfbn-generic:foodbank_location_photo' foodbank.slug location.slug %}" alt="{{ location.name }}" loading="lazy" class="placephoto">
                </picture>
              </div>
            {% endif %}

            <div id="map" class="sidemap"></div>
            {% include "public/includes/maplegend.html" %}
            {% include "public/includes/deliveryareadisclaimer.html" %}
            
            <a href="https://www.google.com/maps?saddr=My+Location&daddr={{ location.lat_lng }}" class="{% if language_direction == 'ltr' %}is-pulled-right{% else %}is-pulled-left{% endif %} button is-info is-small is-light directions-btn">{% blocktrans %}Directions{% endblocktrans %}</a>
            {% if location.address or location.postcode %}
              <address>
                {% if location.address %}{{ location.address|linebreaksbr }}{% endif %}{% if location.address and location.postcode %}<br>{% endif %}{% if location.postcode %}{{ location.postcode }}{% endif %}
              </address>
            {% endif %}
            <div class="pluscode">
              <a href="https://www.google.co.uk/maps/place/{{ location.plus_code_global|urlencode }}/" class="pluscode">{{ location.plus_code_global }}</a>
            </div>

            {% if foodbank.delivery_address %}
              <h3>{% blocktrans %}Delivery{% endblocktrans %}</h3>
              <address>
                {{ foodbank.delivery_address|linebreaksbr }}
              </address>
            {% endif %}

            <div class="contacts">
                <a href="{{ foodbank.url_with_ref }}" class="website">{{ foodbank.friendly_url|truncatechars:40 }}</a>
                {% if foodbank.phone_number %}
                  <a href="tel:{{ location.phone_or_foodbank_phone|full_phone }}" class="phone">{{ location.phone_or_foodbank_phone|friendly_phone }}</a>
                {% endif %}
                <a href="mailto:{{ location.email_or_foodbank_email }}" class="email">{{ location.email_or_foodbank_email|truncatechars:40 }}</a>
            </div>

            {% include "wfbn/foodbank/includes/charitynetwork.html" %}

          </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}
  {% include 'public/includes/mapconfig.html' %}
  <script src="/static/js/wfbn.js?v={{ version }}" defer onload="init()"></script>
  <script src="{% url 'wfbn-generic:foodbank_hit' foodbank.slug %}" defer></script>
{% endblock %}