{% extends "public/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn2.css">
  <link rel="stylesheet" href="/static/css/share_btns.css">
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ location }}, {{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}">
  <meta property="og:description" content="Find what {{ foodbank }} food bank in {{ location }} is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank }} food bank in {{ location }} is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn:foodbank_location_map' foodbank.slug location.slug %}">
  <link rel="manifest" href="/needs/manifest.json">
  <meta name="geo.placename" content="{{ location }} - {{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}">
  <meta name="geo.position" content="{{ location.latt_long }}">
  <meta property="place:location:latitude" content="{{ location.latt }}">
  <meta property="place:location:longitude" content="{{ location.long }}">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
{% endblock %}

{% block title %}{{ location.name }} - {{ foodbank.name }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %} - Give Food{% endblock %}

{% block body %}

  <div class="columns body">
    <div class="column">

      <div class="columns">

        <div class="column is-4">
          <a href="/" class="logo">Give Food</a>
        </div>
        
        {% include 'wfbn/foodbank/includes/search.html' %}

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'public_index' %}">Home</a></li>
            <li><a href="{% url 'wfbn:index' %}">What Food Banks Need</a></li>
            <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ location }}</a></li>
        </ul>
      </nav>

      <h1>{{ location }} - {{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}</h1>

      <div class="columns">

          <div class="column is-2">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column">

            {% if foodbank.is_closed %}
              <p class="tag is-danger is-large">This food bank is closed</p>
            {% endif %}

            {% if foodbank.latest_need.change_text == "Facebook" %}
              <p>You can find out what {{ foodbank }} food bank is requesting to have donated on their Facebook page:</p>
              <div id="fb-root"></div>
              <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0"></script>
              <div class="fb-page" data-href="https://www.facebook.com/{{ foodbank.facebook_page }}/" data-tabs="timeline" data-width="500" data-height="1000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/{{ foodbank.facebook_page }}/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/{{ foodbank.facebook_page }}/{{ foodbank.facebook_page }}">{{ foodbank.facebook_page }}</a></blockquote></div>
            {% else %}
              <p>{{ foodbank }}{% if not foodbank.name == "Salvation Army" %} food bank{% endif %} is currently requesting the following items to be donated:</p>
              <p class="needs">
                {% include "wfbn/includes/need_text.html" with need_text=foodbank.latest_need.change_text  %}<br>
                <em>Found on {{ foodbank.latest_need_date }}</em>
              </p>
              
              {% include 'wfbn/foodbank/includes/subscribe.html' %}
            {% endif %}

          </div>

          <div class="column">

            <div class="cta">
              <a href="{{ foodbank.url }}" class="button is-info" id="donate_btn">Donate</a>
              <a href="{% url 'wfbn:foodbank_location_politics' foodbank.slug location.slug %}" class="button is-info" id="takeaction_btn">Take Action</a>
              {% if foodbank.latest_need.change_text != "Facebook" %}
                <a href="#subscribe" class="button is-info">Subscribe</a>
              {% endif %}
            </div>

            <div id="map" class="sidemap"></div>
            <address>
              {{ location.address|linebreaksbr }}<br>
              {{ location.postcode }}
            </address>

            <div class="contacts is-size-6">
              <img src="/static/img/web.svg" alt="Website" class="contact-icon"> <a href="{{ foodbank.url }}?utm_source=givefood_org_uk&utm_medium=search&utm_campaign=needs" id="website_link">{{ foodbank.friendly_url|truncatechars:40 }}</a><br>
              {% if foodbank.phone_number %}
                <img src="/static/img/phone.svg" alt="Phone" class="contact-icon"> <a href="tel:{{ location.phone_or_foodbank_phone }}" id="phone_link">{{ location.phone_or_foodbank_phone }}</a><br>
              {% endif %}
              <img src="/static/img/email.svg" alt="Email" class="contact-icon"> <a href="mailto:{{ location.email_or_foodbank_email }}" id="email_link">{{ location.email_or_foodbank_email|truncatechars:40 }}</a>
            </div>

            {% include "wfbn/foodbank/includes/charity.html" %}

            <h2>Share</h2>
            {% url 'wfbn:foodbank_location' foodbank.slug location.slug as share_url %}
            {% include "wfbn/foodbank/includes/share_btns.html" with share_url=share_url %}

          </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}

<script src="/static/js/wfbn2.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}&libraries=places"></script>
<script>
function add_marker(lat, lng, url) {
  position = new google.maps.LatLng(lat, lng)
  var marker = new google.maps.Marker({
  position: position,
  map: map,
  url: url
});
  bounds.extend(position);
  google.maps.event.addListener(marker, "click", function () {
  location.assign(marker.url);
});
}

var map
var bounds = new google.maps.LatLngBounds();
function init_map() {
var mapOptions = {
  center: new google.maps.LatLng(55,-4),
  zoom: 6,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
};
map = new google.maps.Map(document.getElementById("map"), mapOptions);
add_marker({{ location.latt_long }}, "{% url 'wfbn:foodbank' foodbank.slug %}")
google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
  var maxZoom = 15
  if (this.getZoom() > maxZoom) {
      this.setZoom(maxZoom);
  }
});
map.fitBounds(bounds,{left:50, right:50, bottom:50, top:50});
map.panToBounds(bounds);
}

google.maps.event.addDomListener(window, 'load', init_map);
</script>

{% endblock %}

