{% extends "public/page.html" %}
{% load custom_tags %}
{% load i18n %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css?v={{ version }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ location }}, {{ foodbank.full_name }}">
  <meta property="og:description" content="Find what {{ foodbank }} food bank in {{ location }} is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank }} food bank in {{ location }} is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn-generic:foodbank_location_map' foodbank.slug location.slug %}">
  <link rel="manifest" href="{% url 'wfbn:manifest' %}">
  <meta name="geo.placename" content="{{ location }} - {{ foodbank.full_name }}">
  <meta name="geo.position" content="{{ location.latt_long }}">
  <meta property="place:location:latitude" content="{{ location.latt }}">
  <meta property="place:location:longitude" content="{{ location.long }}">
  <link rel="preload" href="{% url 'wfbn:foodbank_geojson' foodbank.slug %}" as="fetch" crossorigin="anonymous">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
  <script type="application/ld+json">
    {{ location.schema_org_str|safe }}
  </script>
{% endblock %}

{% block title %}{{ location.name }} - {{ foodbank.full_name }} - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
          {% include 'public/includes/langswitcher.html' %}
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'index' %}">{% blocktrans %}Home{% endblocktrans %}</a></li>
            <li><a href="{% url 'wfbn:index' %}">{% blocktrans %}What Food Banks Need{% endblocktrans %}</a></li>
            <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.full_name }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ location }}</a></li>
        </ul>
      </nav>

      {% include "wfbn/foodbank/includes/pagetitle.html" with prefix=location %}

      <div class="columns">

          <div class="column is-2 menu-col">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column">

            {% if foodbank.is_closed %}
              <p class="tag is-danger is-large">>{% blocktrans %}This food bank is closed{% endblocktrans %}</p>
            {% endif %}

            {% if foodbank.latest_need.change_text == "Facebook" %}
              <p>You can find out what {{ foodbank.full_name }} is requesting to have donated on their Facebook page:</p>
              {% include 'wfbn/includes/facebook_embed.html' with page_name=foodbank.facebook_page %}
            {% else %}
              <p>{{ foodbank.full_name }} is currently requesting the following items to be donated:</p>
              <p class="needs">
                {% include "wfbn/includes/need_text.html" with need_text=foodbank.latest_need.change_text  %}
              </p>
              {% if foodbank.latest_need.excess_change_text %}
                <p>{% blocktrans %}They don't need any more{% endblocktrans %} {% for item in foodbank.latest_need.excess_list %}{{ item }}{% if not forloop.last %}, {% endif %}{% endfor %}.</p>
              {% endif %}

              {% if location.is_donation_point %}
                <p>🛒 {% blocktrans %}This location accepts donations{% endblocktrans %}</p>
              {% endif %}
              
              {% include 'wfbn/foodbank/includes/subscribe.html' %}
            {% endif %}

          </div>

          <div class="column">

            {% include "wfbn/foodbank/includes/ctas.html" %}

            {% if location.place_has_photo %}
              <div>
                <img src="{% url 'wfbn-generic:foodbank_location_photo' foodbank.slug location.slug %}" alt="{{ location.name }}" loading="lazy" class="placephoto">
              </div>
            {% endif %}

            <div id="map" class="sidemap"></div>
            {% include "wfbn/foodbank/includes/maplegend.html" %}
            
            <a href="https://www.google.com/maps?saddr=My+Location&daddr={{ location.latt_long }}" class="is-pulled-right button is-info is-small is-light directions-btn">{% blocktrans %}Directions{% endblocktrans %}</a>
            <address>
              {{ location.address|linebreaksbr }}<br>
              {{ location.postcode }}
            </address>
            <div class="pluscode">
              <img src="/static/img/pluscode.svg" alt="Plus Code" class="contact-icon"> <a href="https://www.google.co.uk/maps/place/{{ location.plus_code_global|urlencode }}/">{{ location.plus_code_global }}</a>
            </div>

            {% if foodbank.delivery_address %}
              <h3>{% blocktrans %}Delivery{% endblocktrans %}</h3>
              <address>
                {{ foodbank.delivery_address|linebreaksbr }}
              </address>
            {% endif %}

            <div class="contacts is-size-6">
              <img src="/static/img/web.svg" alt="Website" class="contact-icon"> <a href="{{ foodbank.url_with_ref }}" id="website_link">{{ foodbank.friendly_url|truncatechars:40 }}</a><br>
              {% if foodbank.phone_number %}
                <img src="/static/img/phone.svg" alt="{% blocktrans %}Phone{% endblocktrans %}" class="contact-icon"> <a href="tel:{{ location.phone_or_foodbank_phone|full_phone }}">{{ location.phone_or_foodbank_phone|friendly_phone }}</a><br>
              {% endif %}
              <img src="/static/img/email.svg" alt="{% blocktrans %}Email{% endblocktrans %}" class="contact-icon"> <a href="mailto:{{ location.email_or_foodbank_email }}" id="email_link">{{ location.email_or_foodbank_email|truncatechars:40 }}</a>
            </div>

            {% include "wfbn/foodbank/includes/charitynetwork.html" %}

          </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}
  <script>
    var gf_map_config = {
      geojson: "{% url 'wfbn:foodbank_geojson' foodbank.slug %}",
      lat: {{ location.latt }},
      lng: {{ location.long }},
      zoom: 15,
      location_marker: false,
    }
  </script>

  <script src="/static/js/wfbn.js?v={{ version }}" defer></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}&libraries=places&loading=async&callback=init&region=GB" defer></script>
  <script src="{% url 'wfbn-generic:foodbank_hit' foodbank.slug %}" defer></script>
{% endblock %}