{% extends "public/page.html" %}
{% load custom_tags %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css?v={{ version }}">
  <link rel="alternate" type="application/rss+xml" title="RSS feed for {{ foodbank.full_name }}" href="{% url 'wfbn:foodbank_rss' foodbank.slug %}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ location }}, {{ foodbank.full_name }}">
  <meta property="og:description" content="Find what {{ foodbank.full_name }} in {{ location }} is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank.full_name }} in {{ location }} is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn:foodbank_location_map' foodbank.slug location.slug %}">
  <link rel="manifest" href="/needs/manifest.json">
  <meta name="geo.placename" content="{{ location }} - {{ foodbank.full_name }}">
  <meta name="geo.position" content="{{ location.latt_long }}">
  <meta property="place:location:latitude" content="{{ location.latt }}">
  <meta property="place:location:longitude" content="{{ location.long }}">
  <link rel="preload" href="{% url 'wfbn:foodbank_geojson' foodbank.slug %}" as="fetch">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
  <script type="application/ld+json">
    {{ location.schema_org_str|safe }}
  </script>
{% endblock %}

{% block title %}{{ location.name }} - {{ foodbank.full_name }} - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column is-4">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'wfbn:index' %}">What Food Banks Need</a></li>
            <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.full_name }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ location }}</a></li>
        </ul>
      </nav>

      {% include "wfbn/foodbank/includes/pagetitle.html" with prefix=location %}

      <div class="columns">

          <div class="column is-2 menu-col">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column">

            {% if foodbank.is_closed %}
              <p class="tag is-danger is-large">This food bank is closed</p>
            {% endif %}

            {% if location.is_donation_point %}
              <p>🛒 This location accepts donations.</p>
            {% endif %}

            <div class="contacts is-size-6">
                <img src="/static/img/web.svg" alt="Website" class="contact-icon"> <a href="{{ foodbank.url_with_ref }}" id="website_link">{{ foodbank.friendly_url|truncatechars:40 }}</a><br>
                {% if foodbank.phone_number %}
                  <img src="/static/img/phone.svg" alt="Phone" class="contact-icon"> <a href="tel:{{ location.phone_or_foodbank_phone|full_phone }}">{{ location.phone_or_foodbank_phone|friendly_phone }}</a><br>
                {% endif %}
                <img src="/static/img/email.svg" alt="Email" class="contact-icon"> <a href="mailto:{{ location.email_or_foodbank_email }}">{{ location.email_or_foodbank_email|truncatechars:40 }}</a><br>
              </div>

              {% include "wfbn/foodbank/includes/charitynetwork.html" %}

          </div>

          <div class="column is-7">

            {% include "wfbn/foodbank/includes/ctas.html" %}

            {% if location.place_has_photo %}
              <img src="{% url 'wfbn:foodbank_location_photo' foodbank.slug location.slug %}" alt="{{ location.name }}" loading="lazy">
            {% endif %}

            <div id="map" class="sidemap"></div>
            {% include "wfbn/foodbank/includes/maplegend.html" %}

            <a href="https://www.google.com/maps?saddr=My+Location&daddr={{ location.latt_long }}" class="is-pulled-right button is-info is-small is-light directions-btn">Directions</a>
            <address>
              {{ location.address|linebreaksbr }}<br>
              {{ location.postcode }}
            </address>
            <div class="pluscode">
              <img src="/static/img/pluscode.svg" alt="Plus Code" class="contact-icon"> <a href="https://www.google.co.uk/maps/place/{{ location.plus_code_global|urlencode }}/">{{ location.plus_code_global }}</a>
            </div>

            {% if foodbank.delivery_address %}
              <h3>Delivery address</h3>
              <address>
                {{ foodbank.delivery_address|linebreaksbr }}
              </address>
            {% endif %}

          </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}
<script>
  var gf_map_config = {
    geojson: "{% url 'wfbn:foodbank_geojson' foodbank.slug %}",
    lat: {{ location.latt }},
    lng: {{ location.long }},
    zoom: 15,
    location_marker: false,
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}" defer></script>
<script src="/static/js/wfbn.js?v={{ version }}" defer></script>
<script src="/static/js/wfbn_map.js?v={{ version }}" defer></script>
<script src="{% url 'wfbn:foodbank_hit' foodbank.slug %}" defer></script>
{% endblock %}

