{% extends "public/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css?v={{ version }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ foodbank.full_name }}">
  <meta property="og:description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn:foodbank_map' foodbank.slug %}">
  <meta property="og:image:alt" content="Map of {{ foodbank.full_name }}">
  <link rel="manifest" href="/needs/manifest.json">
  <meta name="geo.placename" content="{{ foodbank.full_name }}">
  <meta name="geo.position" content="{{ foodbank.latt_long }}">
  <meta property="place:location:latitude" content="{{ foodbank.latt }}">
  <meta property="place:location:longitude" content="{{ foodbank.long }}">
  <link rel="preload" href="{% url 'wfbn:foodbank_geojson' foodbank.slug %}" as="fetch">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
{% endblock %}

{% block title %}Locations - {{ foodbank.full_name }} - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column is-4">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'wfbn:index' %}">What Food Banks Need</a></li>
                <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.full_name }}</a></li>
                <li class="is-active"><a href="#" aria-current="page">Locations</a></li>
            </ul>
      </nav>

      <h1>{{ foodbank.full_name }}</h1>

      <div class="columns">

          <div class="column is-2 menu-col">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column is-6">
            <div id="map" class="mainmap"></div>
            {% include "wfbn/foodbank/includes/maplegend.html" %}
          </div>

          <div class="column locations">

            <a href="{% url 'wfbn:foodbank' foodbank.slug %}">
              {% if foodbank.address_is_administrative %}
                Administration
              {% else %}
                Main
              {% endif %}
            </a>
            <address>
              {{ foodbank.address|linebreaksbr }}<br>
              {{ foodbank.postcode }}
            </address>
            
            {% if foodbank.delivery_address %}
              <a href="{% url 'wfbn:foodbank' foodbank.slug %}">Delivery</a>
              <address>
                {{ foodbank.delivery_address|linebreaksbr }}
              </address>
            {% endif %}

            {% for location in foodbank.locations %}
                <a href="{% url 'wfbn:foodbank_location' foodbank.slug location.slug %}">{{ location.name }}</a>
                <address>
                  {{ location.address|linebreaksbr }}<br>
                  {{ location.postcode }}
                </address>
            {% endfor %}

          </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}

<script>
  var gf_map_config = {
    geojson: "{% url 'wfbn:foodbank_geojson' foodbank.slug %}",   
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}" defer></script>
<script src="/static/js/wfbn.js?v={{ version }}" defer></script>
<script src="/static/js/wfbn_map.js?v={{ version }}" defer></script>
<script src="{% url 'wfbn:foodbank_hit' foodbank.slug %}" defer></script>

{% endblock %}

