{% extends "public/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn2.css">
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFood_org_uk">
  <meta property="og:title" content="{{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}">
  <meta property="og:description" content="Find what {{ foodbank }} food bank is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank }} food bank is requesting to have donated">
  <meta property="og:image" content="{% url 'wfbn:foodbank_map' foodbank.slug %}">
  <link rel="manifest" href="/needs/manifest.json">
  <meta name="geo.placename" content="{{ foodbank }} Food Bank">
  <meta name="geo.position" content="{{ foodbank.latt_long }}">
  <meta property="place:location:latitude" content="{{ foodbank.latt }}">
  <meta property="place:location:longitude" content="{{ foodbank.long }}">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
{% endblock %}

{% block title %}Nearby - {{ foodbank }} Food Bank - Give Food{% endblock %}

{% block body %}

  <div class="columns body">
    <div class="column">

      <div class="columns">

        <div class="column is-4">
          <a href="/" class="logo">Give Food</a>
        </div>
        
        {% include 'wfbn/foodbank/includes/search.html' %}

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'public_index' %}">Home</a></li>
            <li><a href="{% url 'wfbn:index' %}">What Food Banks Need</a></li>
            <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}</a></li>
            <li class="is-active"><a href="#" aria-current="page">Nearby</a></li>
        </ul>
  </nav>

      <h1>{{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}</h1>

      <div class="columns is-8 is-variable">

          <div class="column is-2">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>


          <div class="column is-6">
            <div id="map" class="mainmap"></div>
          </div>

          <div class="column">

            {% for location in nearby %}
              {% if location.type == "location" %}
                <a href="{% url 'wfbn:foodbank_location' location.foodbank_slug location.slug %}">{{ location.name }}</a> ({{ location.foodbank_name }}) <span class="is-size-7">{{ location.distance_mi|floatformat:1 }}mi away</span><br>
              {% else %}
                <a href="{% url 'wfbn:foodbank' location.foodbank_slug %}">{{ location.name }}</a> <span class="is-size-7">{{ location.distance_mi|floatformat:1 }}mi away</span><br>
              {% endif %}
            {% endfor %}

          </div>

      </div>

    </div>
  </div>

{% endblock %}

{% block script %}

<script src="/static/js/wfbn2.js" defer></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}&libraries=places"></script>
<script>
function add_marker(lat, lng, url) {
  position = new google.maps.LatLng(lat, lng)
  var marker = new google.maps.Marker({
  position: position,
  map: map,
  url: url
});
  bounds.extend(position);
  google.maps.event.addListener(marker, "click", function () {
  location.assign(marker.url);
});
}

var map
var bounds = new google.maps.LatLngBounds();
function init_map() {
var mapOptions = {
  center: new google.maps.LatLng(55,-4),
  zoom: 6,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
};
map = new google.maps.Map(document.getElementById("map"), mapOptions);
{% for location in nearby %}
  add_marker({{ location.lat_lng }}, "{% url 'wfbn:foodbank_location' foodbank.slug location.slug %}")
{% endfor %}
google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
  var maxZoom = 15
  if (this.getZoom() > maxZoom) {
      this.setZoom(maxZoom);
  }
});
map.fitBounds(bounds,{left:50, right:50, bottom:50, top:50});
map.panToBounds(bounds);
}

google.maps.event.addDomListener(window, 'load', init_map);
</script>

{% endblock %}

