{% extends "public/page.html" %}
{% load i18n %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css?v={{ version }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ foodbank.full_name }}">
  <meta property="og:description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn-generic:foodbank_map' foodbank.slug %}">
  <meta property="og:image:alt" content="Map of {{ foodbank.full_name }}">
  <link rel="manifest" href="{% url 'wfbn:manifest' %}">
  <meta name="geo.placename" content="{{ foodbank.full_name }}">
  <meta name="geo.position" content="{{ foodbank.latt_long }}">
  <meta property="place:location:latitude" content="{{ foodbank.latt }}">
  <meta property="place:location:longitude" content="{{ foodbank.long }}">
  <link rel="preload" href="{% url 'wfbn:geojson' %}" as="fetch" crossorigin="anonymous">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
{% endblock %}

{% block title %}{% blocktrans %}Nearby{% endblocktrans %} - {{ foodbank.full_name }} - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
          {% include 'public/includes/langswitcher.html' %}
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'index' %}">{% blocktrans %}Home{% endblocktrans %}</a></li>
            <li><a href="{% url 'wfbn:index' %}">{% blocktrans %}What Food Banks Need{% endblocktrans %}</a></li>
            <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.full_name }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{% blocktrans %}Nearby{% endblocktrans %}</a></li>
        </ul>
  </nav>

      {% trans "Nearby" as prefix %}
      {% include "wfbn/foodbank/includes/pagetitle.html" with prefix=prefix %}

      <div class="columns is-8 is-variable">

          <div class="column is-2 menu-col">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>


          <div class="column is-6">
            <div id="map" class="mainmap"></div>
            {% include "wfbn/foodbank/includes/maplegend.html" %}
          </div>

          <div class="column">

            {% for location in nearby %}
              {% if location.type == "location" %}
                <a href="{% url 'wfbn:foodbank_location' location.foodbank_slug location.slug %}">{{ location.name }}</a> ({{ location.foodbank_name }}) <span class="is-size-7">{{ location.distance_mi|floatformat:1 }}mi {% blocktrans %}away{% endblocktrans %}</span><br>
              {% else %}
                <a href="{% url 'wfbn:foodbank' location.foodbank_slug %}">{{ location.name }}</a> <span class="is-size-7">{{ location.distance_mi|floatformat:1 }}mi {% blocktrans %}away{% endblocktrans %}</span><br>
              {% endif %}
            {% endfor %}

          </div>

      </div>

    </div>
  </div>

{% endblock %}

{% block script %}

  <script>
    var gf_map_config = {
      geojson: "{% url 'wfbn:geojson' %}",
      lat: {{ foodbank.latt|stringformat:'f' }},
      lng: {{ foodbank.long|stringformat:'f' }},
      zoom: 12,
    }
  </script>
  
  <script src="/static/js/wfbn.js?v={{ version }}" defer></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}&libraries=places&loading=async&callback=init&region=GB&language={{ language_code }}" defer></script>
  <script src="{% url 'wfbn-generic:foodbank_hit' foodbank.slug %}" defer></script>

{% endblock %}

