{% extends "public/page.html" %}
{% load i18n %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css?v={{ version }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ foodbank.full_name }}">
  <meta property="og:description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn:foodbank_map' foodbank.slug %}">
  <meta property="og:image:alt" content="Map of {{ foodbank.full_name }}">
  <meta name="geo.placename" content="{{ foodbank.full_name }}">
  <meta name="geo.position" content="{{ foodbank.lat_lng }}">
  <meta property="place:location:latitude" content="{{ foodbank.latt }}">
  <meta property="place:location:longitude" content="{{ foodbank.long }}">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
{% endblock %}

{% block title %}{% blocktrans %}Social media{% endblocktrans %} - {{ foodbank.full_name }} - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
          {% include 'public/includes/langswitcher.html' %}
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'index' %}">{% blocktrans %}Home{% endblocktrans %}</a></li>
            <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.full_name }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{% blocktrans %}Social media{% endblocktrans %}</a></li>
        </ul>
  </nav>

      {% trans "Social media" as prefix %}
      {% include "wfbn/foodbank/includes/pagetitle.html" with prefix=prefix %}

      <div class="columns is-8 is-variable">

          <div class="column is-2 menu-col">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          {% if foodbank.facebook_page %}
            <div class="column is-4">
              {% include 'wfbn/includes/facebook_embed.html' with page_name=foodbank.facebook_page %}
            </div>
          {% endif %}

          {% if foodbank.twitter_handle %}
          <div class="column is-4">
            <div class="twitter-feed">
              <a class="twitter-timeline" href="https://twitter.com/{{ foodbank.twitter_handle }}" data-lang="{{ language_code }}">{{ foodbank.twitter_handle }}</a> <script async src="https://platform.twitter.com/widgets.js"></script>
            </div>
          </div>
        {% endif %}

      </div>

    </div>
  </div>

{% endblock %}

{% block script %}

<script src="{% url 'wfbn-generic:foodbank_hit' foodbank.slug %}" defer></script>
<script src="/static/js/wfbn.js?v={{ version }}" defer></script>

{% endblock %}

