{% extends "public/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css">
  <link rel="stylesheet" href="/static/css/share_btns.css">
  <link rel="alternate" type="application/rss+xml" title="RSS feed for {{ foodbank.full_name }}" href="{% url 'wfbn:foodbank_rss' foodbank.slug %}">
  <link rel="alternate" type="application/json" href="{% url 'api2:foodbank' foodbank.slug %}">
  <link rel="alternate" type="application/xml" href="{% url 'api2:foodbank' foodbank.slug %}?format=xml">
  <link rel="alternate" type="application/yaml" href="{% url 'api2:foodbank' foodbank.slug %}?format=yaml">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ foodbank.full_name }}">
  <meta property="og:description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank.full_name }} is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn:foodbank_map' foodbank.slug %}">
  <link rel="manifest" href="/needs/manifest.json">
  <meta name="geo.placename" content="{{ foodbank.full_name }}">
  <meta name="geo.position" content="{{ foodbank.latt_long }}">
  <meta property="place:location:latitude" content="{{ foodbank.latt }}">
  <meta property="place:location:longitude" content="{{ foodbank.long }}">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
  <script type="application/ld+json">
    {{ foodbank.schema_org_str|safe }}
  </script>
{% endblock %}

{% block title %}Get Updates - {{ foodbank.full_name }} - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column is-4">
          <a href="/" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'public_index' %}">Home</a></li>
                <li><a href="{% url 'wfbn:index' %}">What Food Banks Need</a></li>
                <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank.full_name }}</a></li>
                <li class="is-active"><a href="#" aria-current="page">Get Updates</a></li>
            </ul>
      </nav>

      <h1>{{ foodbank.full_name }}</h1>

      <div class="columns">

          <div class="column is-2">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column is-4">

            {% include 'wfbn/foodbank/includes/subscribe.html' with autofocus=True email=email %}

          </div>

          <div class="column is-6">

            <p>Here is what the email you'll get looks like...</p>
            <iframe src="{% url 'wfbn:foodbank_subscribe_sample' foodbank.slug %}" id="subscription_example"></iframe>

          </div>

      </div>

    </div>
  </div>

{% endblock %}