{% extends "public/2/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/2/css/wfbn.css">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="{{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}">
  <meta property="og:description" content="Find what {{ foodbank }} food bank is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank }} food bank is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'wfbn:foodbank_map' foodbank.slug %}">
  <link rel="manifest" href="/needs/manifest.json">
  <meta name="geo.placename" content="{{ foodbank }} Food Bank">
  <meta name="geo.position" content="{{ foodbank.latt_long }}">
  <meta property="place:location:latitude" content="{{ foodbank.latt }}">
  <meta property="place:location:longitude" content="{{ foodbank.long }}">
  {% if foodbank.is_closed %}
    <meta name="robots" content="noindex">
  {% endif %}
{% endblock %}

{% block title %}{{ foodbank }} Food Bank - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column is-4">
          <a href="/" class="logo"><img src="/static/2/img/logo.svg" alt="Give Food"></a>
        </div>

      </div>

      <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'public_index' %}">Home</a></li>
            <li><a href="{% url 'wfbn:index' %}">What Food Banks Need</a></li>
            <li><a href="{% url 'wfbn:foodbank' foodbank.slug %}">{{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}</a></li>
            <li class="is-active"><a href="#" aria-current="page">Subscription</a></li>
        </ul>
  </nav>

      <h1>{{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}</h1>

      <div class="columns">

          <div class="column is-2">
            {% include "wfbn/foodbank/includes/menu.html" %}
          </div>

          <div class="column is-6">
            <p>{{ message|linebreaksbr }}</p>
          </div>

      </div>

    </div>
  </div>

{% endblock %}

{% block script %}

<script src="/static/js/wfbn2.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}&libraries=places"></script>

{% endblock %}

