{% extends "public/page.html" %}

{% block title %}404 - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">

      <div class="columns">

        <div class="column is-4">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
        </div>
    

      </div>

      <h1>404 - Page Not Found</h1>

      <div class="columns">

          <div class="column">

            <p>{% blocktrans %}Sorry, something has gone wrong there and we can't find that page. This error has been logged and we'll look into it.{% endblocktrans %}</p>

            <ul>
                <li><a href="/">{% blocktrans %}Homepage{% endblocktrans %}</a></li>
                <li><a href="/needs/">{% blocktrans %}Find what food banks need{% endblocktrans %}</a></li>
                <li><a href="mailto:mail@givefood.org.uk">mail@givefood.org.uk</a></li>
            </ul>
           
          </div>
      </div>

    </div>
  </div>

{% endblock %}

