{% extends "public/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFood_org_uk">
  <meta property="og:title" content="Food Banks In {{ constituency_name }}">
  <link rel="manifest" href="/needs/manifest.json">
  <meta name="description" content="Find out what food banks operate in {{ constituency_name }}, what they are requesting and take action.">
  <meta property="og:image" content="https://www.givefood.org.uk{% url 'public_wfbn_constituency_mp_photo' constituency_slug 'threefour' %}">
{% endblock %}

{% block title %}{{ constituency_name }} Constituency Food Banks - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">
        <h1><a href="/">Give Food</a></h1>
        <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
          <ul>
            <li><a href="{% url 'public_index' %}">Give Food</a></li>
            <li><a href="{% url 'public_what_food_banks_need' %}">What Food Banks Need</a></li>
            <li><a href="{% url 'public_wfbn_constituencies' %}">Constituencies</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ constituency_name }}</a></li>
          </ul>
        </nav>
        <div class="columns">
          <div class="column is-two-fifths">
            <div id="fbmap" style="height:500px;"></div>
          </div>
          <div class="column is-half">
            <h2>{{ constituency_name }} Constituency</h2>

            <img src="{% url 'public_wfbn_constituency_mp_photo' constituency_slug 'threefour' %}" alt="{{ mp }}" class="mp_photo is-pulled-right">

            <p><a href="https://www.google.co.uk/search?q={{ constituency_name }} constituency">{{ constituency_name }} constituency</a> is represented by <a href="https://www.google.co.uk/search?q={{ mp }} MP">{{ mp }} MP</a> of the {{ mp_party }} party.
            <p>You can write to this MP to politely help them understand that food banks shouldn't exist in our country.</p>
            <a href="https://members.parliament.uk/member/{{ mp_parl_id }}/contact" class="button is-link">Write</a><br><br>

            <h3 style="clear:right">Food Banks</h3>
            <p>The following food banks operate in the {{ constituency_name }} constituency, and what they are requesting to have donated.</p>
            <table class="table is-narrow is-fullwidth">
              {% for foodbank in constituency_foodbanks %}
                <tr>
                  <td class="foodbank_name"><a href="{{ foodbank.url }}">{{ foodbank.name }}</a></td>
                  <td>
                    {% if foodbank.needs.change_text != "Unknown" %}
                      {{ foodbank.needs.change_text|linebreaksbr }}
                    {% else %}
                      We don't know what this food bank is requesting, please contact them
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table><br>

            <h3>Anything Wrong Here?</h3>
            <p>We're very keen to get our data right. You can help us by pointing out any mistakes with an email to <a href="mailto:mail@givefood.org.uk">mail@givefood.org.uk</a>, and we'll fix it promptly.</p>
          </div>
        </div>
    </div>
  </div>

{% endblock %}

{% block script %}

<script src="//maps.googleapis.com/maps/api/js?key={{ gmap_key }}&amp;sensor=false"></script>
<script>
function add_marker(lat, lng, url) {
  position = new google.maps.LatLng(lat, lng)
  var marker = new google.maps.Marker({
  position: position,
  map: map,
  url: url
});
  bounds.extend(position);
  google.maps.event.addListener(marker, "click", function () {
  location.assign(marker.url);
});
}

var map
var bounds = new google.maps.LatLngBounds();
function init_map() {
var mapOptions = {
  center: new google.maps.LatLng(55,-4),
  zoom: 6,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
};
map = new google.maps.Map(document.getElementById("fbmap"), mapOptions);
{% for foodbank in constituency_locations %}
  add_marker({{ foodbank.latt_long }}, "{% url 'public_wfbn_foodbank' foodbank.slug %}")
{% endfor %}
google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
  var maxZoom = 15
  if (this.getZoom() > maxZoom) {
      this.setZoom(maxZoom);
  }
});
map.fitBounds(bounds,{left:50, right:50, bottom:50, top:50});
map.panToBounds(bounds);
}

google.maps.event.addDomListener(window, 'load', init_map);
</script>

{% endblock %}
