{% extends "public/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFood_org_uk">
  <meta property="og:title" content="{{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}">
  <meta property="og:description" content="Find what {{ foodbank }} food bank is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank }} food bank is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk/needs/at/{{ foodbank.slug }}/map.png">
  <link rel="manifest" href="/needs/manifest.json">
  <meta name="robots" content="noindex">
{% endblock %}

{% block title %}Edit - {{ foodbank }} Food Bank - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">
        <h1><a href="/">Give Food</a></h1>
        <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
          <ul>
            <li><a href="{% url 'public_index' %}">Give Food</a></li>
            <li><a href="{% url 'public_what_food_banks_need' %}">What Food Banks Need</a></li>
            <li><a href="{% url 'public_wfbn_foodbank' foodbank.slug %}">{{ foodbank }}{% if not foodbank.name == "Salvation Army" %} Food Bank{% endif %}</a></li>
            <li class="is-active"><a href="#" aria-current="page">Edit</a></li>
          </ul>
        </nav>
        <div class="columns is-centered">

          <div class="column is-two-thirds">
            <h2>Edit {{ foodbank }} Food Bank</h2>

            <p>Sorry that we've got something wrong. We'll try and fix our data within 24-48hrs. What can we amend?</p>

            <ul>
                <li>
                    <a href="{% url 'public_wfbn_foodbank_edit_form' foodbank.slug 'needs' %}" class="is-size-5">🥫 Shopping list</a>
                    <p>Items that you are requesting to have donated. We usually get this automatically from your website, if you have one.</p>
                </li>
                <li>
                    <a href="{% url 'public_wfbn_foodbank_edit_form' foodbank.slug 'locations' %}" class="is-size-5">📍 Locations</a>
                    <p>Inaccurate, new or closed locations.</p>
                </li>
                <li>
                    <a href="{% url 'public_wfbn_foodbank_edit_form' foodbank.slug 'contacts' %}" class="is-size-5">☎️ Contact information</a>
                    <p>Phone number, web addresses, email address, social media or charity status.</p>
                </li>
                <li>
                    <a href="{% url 'public_wfbn_foodbank_edit_form' foodbank.slug 'closed' %}" class="is-size-5">🛑 Closed</a>
                    <p>If the food bank has closed, or was never a food bank.</p>
                </li>
            </ul>

            <br><br>

          </div>

        </div>
    </div>
  </div>

{% endblock %}
