{% extends "public/page.html" %}
{% load humanize %}

{% block title %}About Us - Give Food{% endblock %}

{% block head %}
  <meta name="description" content="Give Food a UK charity uses data to highlight local and structural food insecurity then provides tools to help alleviate it.">
{% endblock %}

{% block body %}

    <div class="columns is-centered">
        <div class="column is-half">
        <a href="/" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-half content">
            <h1>About Us</h1>
            <p>Give Food is a UK charity that uses data to highlight local and structural food insecurity, then provides tools to help alleviate it.</p>

            <p>We run the only national public database of food banks, tracking in realtime what they have in stock, and what they need in terms of donations.</p>

            <p>Working with a variety of public and private organisations, and other charities, we share our data with millions of users a year, helping people learn about and engage with food poverty causes where they live.</p>

            <p>We became a charity in February 2020, just weeks before the UK entered COVID-19 lockdowns, and since then we've worked with hundreds of local food insecurity alleviation organisations delivering hundreds of tonnes of vitally needed supplies.</p>

            <p>For example, during the pandemic we delivered 1.2m items of PPE to help keep food banks from Penzance to Lerwick as safe as possible whilst continuing to support their communities.</p>

            <p>We help our users act on food insecurity by using our data to show which food banks are in their parliamentary constituency, and provide a tool to easily email their Member of Parliament asking what action they are taking to remedy it.</p>

            <p>Our operations are open source and transparent. Almost all of our current and historical <a href="https://github.com/givefood/givefood">code</a>, <a href="/api/">data</a> and <a href="https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/5147019/accounts-and-annual-returns">financial accounts</a> are available to view.</p>

            <p>Don't hesitate to contact us with any suggestions, comments, criticism or encouragement.</p>

            <p>
                <em>Give Food Trustees</em><br>
                Jason, Stacey &amp; Luke
            </p>
            <p><a href="mailto:mail@givefood.org.uk">mail@givefood.org.uk</a></p>
        </div>
    </div>


{% endblock %}