{% extends "public/page.html" %}
{% load humanize %}

{% block title %}{{ year }} Give Food Annual Report{% endblock %}

{% block body %}

  <h1><a href="/">Give Food</a></h1>

  <div class="columns">
    <div class="column is-one-third intro content">
      <h2>{{ year }} Annual Report</h2>
      <p>We're a UK organisation that uses technology to deliver the food needed to foodbanks. Every day we monitor foodbank's needs thousand of times - you can see how we do this on <a href="/">our homepage</a>.</p>
      <p>In the meantime, here's a breakdown of what we've done in {{ year }}.</p>
    </div>
    <div class="column is-two-thirds">

      <p>In {{ year }} Give Food delivered {{ total_weight|intcomma:1 }}kg of food and supplies consisting of {{ total_items|intcomma }} items. This includes...</p>

      <div class="columns arproducts">
        <div class="column">
          <div class="box">
            <img src="/static/img/ar/tinned_tomatoes.jpg" alt="Tinned Tomatoes" loading="lazy">
            <span>{{ tinned_tom|intcomma }}</span><br>tins of tomatoes
          </div>
          <div class="box rice">
            <img src="/static/img/ar/rice.jpg" alt="Rice" loading="lazy">
            <span>{{ rice|floatformat:2 }}</span><br>tonnes of rice
          </div>
        </div>
        <div class="column">
          <div class="box">
            <img src="/static/img/ar/pudding.jpg" alt="Pudding" loading="lazy">
            <span>{{ tinned_pud|intcomma }}</span><br>tins of custard and rice pudding
          </div>
          <div class="box">
            <img src="/static/img/ar/soup.jpg" alt="Tinned Soup" loading="lazy">
            <span>{{ soup|intcomma }}</span><br>tins of soup
          </div>
        </div>
        <div class="column">
          <div class="box">
            <img src="/static/img/ar/fruit.jpg" alt="Tinned Fruit" loading="lazy">
            <span>{{ fruit|intcomma }}</span><br>tins of fruit
          </div>
          <div class="box">
            <img src="/static/img/ar/milk.jpg" alt="Milk" loading="lazy">
            <span>{{ milk|intcomma }}</span><br>litres of milk
          </div>
        </div>
      </div>

      {% if mince_pies %}
        <p>Also, during the Christmas season we delivered {{ mince_pies }} mince pies!</p>
      {% endif %}

      <p>We've checked foodbank websites and social media for food needs about {{ check_count|intcomma }} times, downloading and parsing over {{ check_count_bytes|filesizeformat }} of data.</p>

      <p>All this was delivered to {{ no_foodbanks }} food banks across England, Scotland, Wales and Northern Ireland.</p>

      <div id="armap"></div>

      <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyC2EtAunWviftkU8nI_NmEZMuKTC8SPNME"></script>
      <script>
      function add_marker(lat, lng, title) {
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(lat, lng),
          title: title,
          map: map
        })
      }

      var map
      function init_map() {
      var mapOptions = {
        center: new google.maps.LatLng(55,-4),
        zoom: 6,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("armap"), mapOptions);

      {% for foodbank in foodbanks %}
        add_marker(
          {{ foodbank.latt_long }},
          "{{ foodbank }}"
        )
      {% endfor %}

      }

      google.maps.event.addDomListener(window, 'load', init_map);
      </script>


    </div>

  </div>





{% endblock %}
