{% extends "public/page.html" %}
{% load bulma_tags %}
{% load i18n %}

{% block title %}{% trans "Colophon" %} - Give Food{% endblock %}

{% block body %}

  <div class="columns is-centered">
    <div class="column is-half">
    <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
    </div>
  </div>
  

  <div class="columns is-centered">
    <div class="column is-half">

      <h1>{% trans "Colophon" %}</h1>
      <p>Give Food is built using <a href="https://www.djangoproject.com/">Django</a> hosted by <a href="https://www.mythic-beasts.com">Mythic Beasts</a> in Shoreditch, London using <a href="https://www.coolify.io/">Coolify</a> and fronted by <a href="https://www.cloudflare.com/">Cloudflare</a>.</p>

      <h2>Green Web Check</h2>
      <ul>
        <li>CDN <a href="https://www.thegreenwebfoundation.org/green-web-check/?url=www.givefood.org.uk">www.givefood.org.uk</a></li>
        <li>Origin <a href="https://www.thegreenwebfoundation.org/green-web-check/?url=origin.givefood.org.uk">origin.givefood.org.uk</a></li>
        <li>AI <a href="https://www.thegreenwebfoundation.org/green-web-check/?url=generativelanguage.googleapis.com">generativelanguage.googleapis.com</a></li>
      </ul>
      <br>

      <h2>Libraries</h2>
      <p>
        {% for requirement in requirements %}
          <a href="https://pypi.org/project/{{ requirement }}/">{{ requirement }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </p>
    
      <h2>{% trans "Changelog" %}</h2>

      {% for change in changelog %}
          <h3>{{ change.date }}</h3>
          <p>{{ change.change|linebreaksbr }}</p>
      {% endfor %}

    </div>
  </div>

{% endblock %}