{% extends "public/page.html" %}
{% load humanize %}

{% block title %}Donate - Give Food{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/donate.css">
    <meta name="description" content="Give Food a UK charity uses data to highlight local and structural food insecurity then provides tools to help alleviate it.">
{% endblock %}

{% block body %}

    <div class="columns is-centered">
        <div class="column is-half">
            <a href="/" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-half content">
            <h1>Donate</h1>
            <p>100% of donations from the public are used directly to efficiently and quickly deliver requested food and supplies to UK food banks.</p>
            <p><a href="https://cafdonate.cafonline.org/24602">Donate using CAF Donate</p>
        </div>

    </div>


{% endblock %}