{% extends "public/page.html" %}
{% load humanize %}

{% block title %}Donate - Give Food{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/donate.css">
    <meta name="description" content="Give Food a UK charity uses data to highlight local and structural food insecurity then provides tools to help alleviate it.">
{% endblock %}

{% block body %}

    <div class="columns is-centered">
        <div class="column is-half">
            <a href="/" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-half content">
            <h1>Donate</h1>
            <p>100% of donations from the public are used directly to efficiently and quickly deliver requested food and supplies to UK food banks.</p>
            <p>You can donate using PayPal by pressing the button below...</p>
            <p>
                <div id="donate-button-container">
                    <div id="donate-button"></div>
                    <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
                    <script>
                    PayPal.Donation.Button({
                    env:'production',
                    hosted_button_id:'HTLMD3EP2S98J',
                    image: {
                    src:'https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif',
                    alt:'Donate with PayPal button',
                    title:'PayPal - The safer, easier way to pay online!',
                    }
                    }).render('#donate-button');
                    </script>
                    </div>
            </p>
        </div>

    </div>


{% endblock %}