{% extends "public/page.html" %}
{% load bulma_tags %}
{% load i18n %}

{% block title %}{% trans "Flag something wrong" %} - Give Food{% endblock %}

{% block head %}
  <meta name="description" content="Give Food a UK charity uses data to highlight local and structural food insecurity then provides tools to help alleviate it.">
  <meta name="robots" content="noindex">
{% endblock %}

{% block body %}

    <div class="columns is-centered">
        <div class="column is-half">
            <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-half content">

            <h1>{% trans "Flag something wrong" %}</h1>

            {% if done %}

                <p>Thanks! We'll try and get back to you within 24 hours.</p>
    
            {% else %}

                <p>{% blocktrans %}Sorry that you've found something wrong. We'll review your report within 24 hours, usually quicker.{% endblocktrans %}</p>

                <form action="{% url 'human' %}" method="post">
                    {{ form|bulma }}
                    <input type="submit" class="button is-link">
                    <input type="hidden" name="target" value="{% url 'flag' %}">
                    <input type="hidden" name="action" value="flag">
                </form>
                
            {% endif %}
        
        </div>
    </div>


{% endblock %}