{% extends "public/page.html" %}
{% load i18n %}

{% block title %}{% trans "Flag something wrong" %} - Give Food{% endblock %}

{% block head %}
  <meta name="description" content="Give Food a UK charity uses data to highlight local and structural food insecurity then provides tools to help alleviate it.">
{% endblock %}

{% block body %}

    <div class="columns is-centered">
        <div class="column is-half">
            <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-half content">

            <h1>{% trans "Flag something wrong" %}</h1>

            <p>{% blocktrans %}Sorry that we got that wrong! We'll review this report in the next 24 hours.{% endblocktrans %}</p>

            <p>{% blocktrans %}The address of the page that was reported: {% endblocktrans %}<em>{{ url }}</em></p>
            <br>
            <p><a href="/" class="button is-link">{% trans "Return to the homepage" %}</a></p>
            


        </div>
    </div>


{% endblock %}