<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <link rel="stylesheet" href="/static/css/gf.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.png">
  <link rel="canonical" href="{{ CANONICAL_PATH }}">
  <meta name="google-play-app" content="app-id=uk.org.givefood.cordova">
  <script defer data-domain="givefood.org.uk" src="https://plausible.io/js/plausible.outbound-links.js"></script>
  {% block head %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="headerimg"></div>
  <div class="container {% block containerclass %}{% endblock %}">
    {% block body %}{% endblock %}
  </div>
  {% if not headless %}
    <footer class="footer">
      <div class="content has-text-centered">
        <p><a href="{% url "public_index" %}">Give Food</a> is a registered charity in England &amp; Wales <a rel="self" href="https://register-of-charities.charitycommission.gov.uk/charity-details/?regid=1188192&subid=0">1188192</a></p>
        <p><a href="{% url 'public_privacy' %}">Privacy Policy</a></p>
      </div>
    </footer>
  {% endif %}
  {% block script %}{% endblock %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153866507-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-153866507-1');
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-448372895"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-448372895');
  </script>
  <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
  <script src="/static/js/modernizer.js"></script>
</body>
</html>
