{% load i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
{% include 'public/includes/debugcomment.html' %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#F2DECB">
  <link rel="stylesheet" href="/static/css/bulma.min.css?v={{ version }}">
  <link rel="stylesheet" href="/static/css/gf.css?v={{ version }}">
  <link rel="preload" href="/static/fonts/soehne-buch.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/static/fonts/soehne-kraftig.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/static/fonts/soehne-dreiviertelfett.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="icon" href="/static/img/favicon.svg" type="image/svg+xml">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.png">
  <link rel="canonical" href="{{ canonical_path }}">
  <script defer data-domain="givefood.org.uk" data-api="/psb/api/event" event-language="{{ LANGUAGE_CODE }}" src="/psb/js/script.outbound-links.pageview-props.js"></script>
  {% if page_translatable %}{% for language in languages %}
  <link rel="alternate" hreflang="{{ language.code }}" href="{{ language.url }}">{% endfor %}{% endif %}
  {% block head %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="container {% block container_class %}{% endblock %}">
    {% block body %}{% endblock %}
  </div>
  {% if not headless %}
    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column has-text-left">
            <ul>
              <li><a href="{% url 'register_foodbank' %}">{% trans "Register a food bank" %}</a></li>
              <li><a href="{% url 'dash:index' %}">{% trans "Dashboards" %}</a></li>
              <li><a href="/api/">API</a> {% if LANGUAGE_CODE == 'cy' %} ({% trans 'English' %}){% endif %}</li>
              <li><a href="{% url 'annual_report_index' %}">{% trans "Annual reports" %}</a></li>
            </ul>
            <br>
            <ul>
              <li><a href="{% url 'donate' %}">{% trans 'Donate' %}</a></li>
              <li><a href="{% url 'about_us' %}">{% trans 'About us' %}</a></li>
            </ul>
          </div>
          <div class="column has-text-right">
            <p>
              {% trans "Last updated" %} <span class="lastupdated" data-include="{% url 'frag' 'last_updated' %}"></span><br>
              <span class="needhits" data-include="{% url 'frag' 'needhits' %}"></span> {% trans "people using us to help food banks this week" %}
            </p>
            <p>
              {% trans "Give Food is a registered charity in England & Wales" %} <a rel="self" href="https://register-of-charities.charitycommission.gov.uk/en/charity-search/-/charity-details/5147019">1188192</a><br>
              {% trans "Registered with the" %} <a href="https://www.fundraisingregulator.org.uk/directory/give-food">Fundraising Regulator</a><br>
              {% trans "ICO Data Protection Registration" %} <a href="https://ico.org.uk/ESDWebPages/Entry/ZB528540">ZB528540</a>
            </p>
            <p><a href="{% url 'privacy' %}">{% trans "Privacy policy" %}</a></p>
          </div>
        </div>
      </div>
    </footer>
  {% endif %}
  {% block script %}{% endblock %}
  <script src="/static/js/csi.js?v={{ version }}" defer></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153866507-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-153866507-1');
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-448372895"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'AW-448372895');
  </script>
  <script>    (function(c,l,a,r,i,t,y){        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    })(window, document, "clarity", "script", "8vjlgi67ll");</script>
  <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
</body>
</html>