{% extends "public/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFood_org_uk">
  <meta property="og:title" content="What Food Banks Need">
  <meta property="og:description" content="Use Give Food's tool to find what food banks near you are asking to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk/static/img/map.png">
{% endblock %}

{% block title %}What Foodbanks Need - Give Food{% endblock %}

{% block body %}

  <div class="columns is-centered">
    <div class="column is-three-quarters">
      <h1><a href="/">Give Food</a></h1>
      <p>We automatically check what's needed at {{ no_foodbanks }} UK food banks. Find out what food banks near you are asking for here...</p>
      <form action="" method="get" id="postcodeform" {% if not postcode %}style="display:none"{% endif %}>
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input class="input" type="text" placeholder="Postcode" minlength="5" maxlength="8" name="postcode">
          </p>
          <p class="control">
            <input type="submit" value="Go" class="button is-info">
          </p>
        </div>
      </form>
      <p id="status"></p>
      <div id="theresults">
        <table class="table needs">
        </table>
      </div>
    </div>
  </div>

  <template id="fb_row">
    <tr>
      <td>
        <a href="" class="foodbank"></a>
        <div class="distance"><span></span>mi away</div>
      </td>
      <td class="need_detail">
        <div class="fb_needs">
          <details>
            <summary></summary>
            <p></p>
          </details>
        </div>
        <div class="updated">Updated <span></span> ago</div>
      </td>
    </tr>
  </template>

  <script src="/static/js/wfbn.js">

{% endblock %}
