{% extends "public/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css">
  {% if where_from == "trusselltrust" %}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/wfbn-tt.css">
  {% endif %}
  {% if where_from == "cordova" %}
    <link rel="stylesheet" href="/static/css/wfbn-cordova.css">
  {% endif %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFood_org_uk">
  <meta property="og:title" content="What Food Banks Need">
  <meta property="og:description" content="Use Give Food's tool to find what food banks near you are asking to have donated">
  <meta name="description" content="Use Give Food's tool to find what food banks near you are requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk/static/img/map.png">
  <link rel="manifest" href="/needs/manifest.json">
{% endblock %}

{% block title %}What Food Banks Need - Give Food{% endblock %}

{% block body %}

  <div class="columns {% if where_from != "trusselltrust" %}is-centered{% endif %}">
    <div class="column {% if where_from != "trusselltrust" %}is-three-quarters{% endif %}">
      {% if not headless %}
        <h1><a href="/">Give Food</a></h1>
        <p>Find what items food banks near you are requesting to have donated. You can also browse by <a href="{% url 'public_wfbn_constituencies' %}">parliamentary constituency</a>. Share on
            <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.givefood.org.uk%2Fneeds%2F&via=GiveFood_org_uk&text=Find%20out%20what%20food%20banks%20near%20you%20need">
              <img src="/static/img/twitter.svg" width="16">
            </a>
          or
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.givefood.org.uk/needs/">
              <img src="/static/img/facebook.svg" width="16">
            </a>
        </p>
      {% endif %}
      <div id="intro_btns">
        <div class="field">
          <div class="control">
            <form id="addressform" action="/needs/" method="GET">
              <a id="usemylocationbtn" href="#" class="button" title="Use my location">
                  <img src="/static/img/getlocation.svg">
              </a>
              <input id="address_field" type="text" name="address" class="input" placeholder="Town name or postcode" value="{{ address }}">
              <input type="submit" id="addressgobtn" href="#" class="button is-info" value="Go">
            </form>
          </div>
        </div>
      </div>
      <p id="status"></p>
      <div id="theresults">
        
        <table class="table needs">
          {% if location_results %}
            {% for location in location_results %}
              <tr>
                <td>
                  <a href="/needs/click/{{ location.foodbank_slug }}/" class="foodbank" target="_top">{{ location.name }}</a>
                  <div class="distance">{{ location.distance_mi|floatformat:2 }}mi away</div>
                  {% if where_from != "trusselltrust" %}
                    {% if location.type == "location" %}
                      <div class="parent_org">Part of <a href="/needs/at/{{ location.foodbank_slug }}/">{{ location.foodbank_name }}</a></div>
                    {% endif %}
                  {% endif %}
                  <div class="links">
                    <a class="phone" href="tel:{{ location.phone_or_foodbank_phone }}" title="Call the food bank"><img src="/static/img/phone.svg" alt="Phone"></a>
                    <a class="info" href="/needs/at/{{ location.foodbank_slug }}/" title="More information"><img src="/static/img/info.svg" alt="Information"></a>
                  </div>
                </td>
                <td class="need_detail">
                  <div class="fb_needs">
                    {% if location.needs == "Nothing" %}
                      Nothing right now, thanks
                    {% elif location.needs == "Unknown" %}
                      Sorry. We don't know what's needed here, please contact the food bank
                    {% else %}
                      {{ location.needs|linebreaks }}
                    {% endif %}
                  </div>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </table>
      </div>
      {% if where_from != "trusselltrust" %}
        <div id="fbmap"></div>
      {% endif %}

    </div>
  </div>

  <template id="fb_row">
    <tr>
      <td>
        <a href="#" class="foodbank" target="_top"></a>
        {% if where_from != "trusselltrust" %}
          <div class="parent_org"><span></span> <a href="#"></a></div>
        {% endif %}
        <div class="distance"><span></span>mi away</div>
        {% if where_from != "trusselltrust" %}
          <div class="links">
            <a class="phone" href="" title="Call the food bank"><img src="/static/img/phone.svg" alt="Phone"></a>
            <a class="info" href="" title="More information"><img src="/static/img/info.svg" alt="Information"></a>
          </div>
        {% endif %}
      </td>
      <td class="need_detail">
        <div class="fb_needs">
          <p></p>
        </div>
      </td>
    </tr>
  </template>

{% endblock %}

{% block script %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2EtAunWviftkU8nI_NmEZMuKTC8SPNME&libraries=places"></script>
    <script>

      function add_marker(lat, lng, url) {
        var marker = new google.maps.Marker({
        position: new google.maps.LatLng(lat, lng),
        map: map,
        url: url
      });
        google.maps.event.addListener(marker, "click", function () {
        location.assign(marker.url);
      });
      }

      var map
      function init_map() {
      var mapOptions = {
        center: new google.maps.LatLng(55,-4),
        zoom: 6,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("fbmap"), mapOptions);

      {% for location in map_locations %}
        add_marker({{ location.latt_long }}, "{{ location.url }}")
      {% endfor %}

      }

      google.maps.event.addDomListener(window, 'load', init_map);
    </script>
  <script src="/static/js/wfbn.js"></script>
  {% if where_from == "trusselltrust" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.6.1/iframeResizer.contentWindow.min.js"></script>
  {% endif %}
{% endblock %}
