{% extends "public/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFood_org_uk">
  <meta property="og:title" content="Constituencies">
  <meta property="og:description" content="Find what food banks in your MP's constituency are requesting to have donated and take action.">
  <meta property="og:image" content="https://www.givefood.org.uk/static/img/map.png">
  <link rel="manifest" href="/needs/manifest.json">
{% endblock %}

{% block title %}Constituencies - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">
        <h1><a href="/">Give Food</a></h1>
        <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
          <ul>
            <li><a href="{% url 'public_index' %}">Give Food</a></li>
            <li><a href="{% url 'public_what_food_banks_need' %}">What Food Banks Need</a></li>
            <li class="is-active"><a href="#" aria-current="page">Constituencies</a></li>
          </ul>
        </nav>
        <div class="columns">
          <div class="column">
            <form id="postcodeform" action="" method="get">
              <input id="postcode_field" type="text" name="postcode" class="input" placeholder="Search by postcode">
              <input type="submit" id="addressgobtn" href="#" class="button is-info" value="Go">
            </form>
            <br>
            <h2>Constituencies</h2>
            <ul style="column-count:3;column-gap: 20px;">
              {% for constituency in constituencies %}
                <li>
                  <a href="{% url "public_wfbn_constituency" constituency|slugify %}">
                    {{ constituency }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>

        </div>
    </div>
  </div>

{% endblock %}
