{% extends "public/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFood_org_uk">
  <meta property="og:title" content="{{ foodbank }} Food Bank">
  <meta property="og:description" content="Find what {{ foodbank }} food bank is requesting to have donated">
  <meta name="description" content="Find what {{ foodbank }} food bank is requesting to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk/needs/at/{{ foodbank.slug }}/map.png">
  <link rel="manifest" href="/needs/manifest.json">
  <meta name="geo.placename" content="{{ foodbank }} Food Bank">
  <meta name="geo.position" content="{{ foodbank.latt_long }}">
  <meta property="place:location:latitude" content="{{ foodbank.latt }}">
  <meta property="place:location:longitude" content="{{ foodbank.long }}">
{% endblock %}

{% block title %}{{ foodbank }} Food Bank - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">
        <h1><a href="/">Give Food</a></h1>
        <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
          <ul>
            <li><a href="{% url 'public_index' %}">Give Food</a></li>
            <li><a href="{% url 'public_what_food_banks_need' %}">What Food Banks Need</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ foodbank }} Food Bank</a></li>
          </ul>
        </nav>
        <div class="columns">
          <div class="column">
            <a href="https://www.google.co.uk/maps/?q={{ foodbank.latt_long }}">
              <img src="{{ map_url }}" alt="Map of {{ foodbank }} Food Bank">
            </a>
            <br>
            <p>
              {{ foodbank.address|linebreaksbr }}<br>
              {{ foodbank.postcode }}<br>
              {{ foodbank.country }}
              <br><a href="https://www.google.co.uk/maps/?q={{ foodbank.latt_long }}" class="button is-link is-small">Directions</a>
            </p>
            {% if foodbank.locations %}
              <h3>Other locations</h3>
              {% for location in foodbank.locations %}
                <a href="https://www.google.co.uk/maps/?q={{ location.latt_long }}">{{ location.name }}</a><br>
                {{ location.address|linebreaksbr }}<br>
                {{ location.postcode }}<br><br>
              {% endfor %}
            {% endif %}
          </div>
          <div class="column">
            <h2>{{ foodbank }} Food Bank</h2>

            {% if foodbank.latest_need.change_text != "Unknown" %}
              <h3>Items Needed</h3>
              <p>
                {{ foodbank.latest_need.change_text|linebreaksbr }}
                <br><em class="is-size-7">Found on {{ foodbank.latest_need_date }}</em><br>
                <a href="{% url 'public_what_food_banks_need_click' foodbank.slug %}" class="button is-link is-small">Details</a>
              </p>
            {% endif %}

            <h3>Contact</h3>
            <a href="{{ foodbank.url }}?utm_source=givefood_org_uk&utm_medium=search&utm_campaign=needs">{{ foodbank.friendly_url|truncatechars:40 }}</a><br>
            <a href="tel:{{ foodbank.phone_number }}">{{ foodbank.phone_number }}</a><br>
            <a href="mailto:{{ foodbank.contact_email }}">{{ foodbank.contact_email|truncatechars:22 }}</a><br>
            <p></p>

            {% if foodbank.parliamentary_constituency %}
              <h3>Political Representatives</h3>
              <p>This food bank is in the <a href="{% url "public_wfbn_constituency" foodbank.parliamentary_constituency_slug %}">{{ foodbank.parliamentary_constituency }} constituency</a> ({{ foodbank.ward }} ward), and is represented by <a href="https://www.google.co.uk/search?q={{ foodbank.mp }} MP">{{ foodbank.mp }} MP</a> of the {{ foodbank.mp_party }} party. You can use <a href="https://www.writetothem.com/who?pc={{ foodbank.postcode }}">WriteToThem</a> to politely help local &amp; national politicians understand that food banks shouldn't exist in our country.
              <br>
              <a href="https://www.writetothem.com/who?pc={{ foodbank.postcode }}" class="button is-link is-small">Write</a>
            {% endif %}

            {% if foodbank.charity_number %}
              <p></p>
              <h3>Charity</h3>
              <p>{{ foodbank }} food bank operates under a charity registered in {{ foodbank.country }}, charity number <a href="{{ foodbank.charity_register_url }}">{{ foodbank.charity_number }}</a>.</p>
            {% endif %}

            <h3>Nearby Food Banks</h3>
            <ul>
              {% for foodbank in foodbank.nearby %}
                <li><a href="../{{ foodbank.slug }}/">{{ foodbank }}</a> <span class="is-size-7">{{ foodbank.distance_mi|floatformat:2 }}mi away</span></li>
              {% endfor %}
            </ul>
            <p>
              <a href="/needs/?lattlong={{ foodbank.latt_long }}" class="button is-link is-small">More</a>
            </p>
            <h3>Anything Wrong Here?</h3>
            <p>We're very keen to get our data right. You can help us by pointing out any mistakes with an email to <a href="mailto:mail@givefood.org.uk">mail@givefood.org.uk</a>, and we'll fix it promptly.</p>
          </div>

          {% if foodbank.facebook_page %}
            <div class="column">
              <div id="fb-root"></div>
              <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0"></script>
              <div class="fb-page" data-href="https://www.facebook.com/{{ foodbank.facebook_page }}/" data-tabs="timeline" data-width="" data-height="1000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/{{ foodbank.facebook_page }}/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/{{ foodbank.facebook_page }}/{{ foodbank.facebook_page }}">{{ foodbank.facebook_page }}</a></blockquote></div>
            </div>
          {% endif %}

          {% if foodbank.twitter_handle %}
            <div class="column">
              <div class="twitter-feed">
                <a class="twitter-timeline" href="https://twitter.com/{{ foodbank.twitter_handle }}">Tweets by {{ foodbank.twitter_handle }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>
          {% endif %}

        </div>
    </div>
  </div>

{% endblock %}
