{% extends "public/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/wfbn.css?{{ version }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFood_org_uk">
  <meta property="og:title" content="What Food Banks Need">
  <meta property="og:description" content="Use Give Food's tool to find what food banks near you are asking to have donated">
  <meta property="og:image" content="https://www.givefood.org.uk/static/img/map.png">
{% endblock %}

{% block title %}What Foodbanks Need - Give Food{% endblock %}

{% block body %}

  <div class="columns is-centered">
    <div class="column is-three-quarters">
      <h1><a href="/">Give Food</a></h1>
      <p>Find what food banks near you are asking for. Share this on
          <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.givefood.org.uk%2Fneeds%2F&via=GiveFood_org_uk&text=Find%20out%20what%20food%20banks%20near%20you%20need">
            <img src="/static/img/twitter_sml.png" width="16">
          </a>
        or
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.givefood.org.uk/needs/">
            <img src="/static/img/facebook_sml.png" width="16">
          </a>
      </p>
      <div id="intro_btns">
        <div class="field">
          <div class="control">
            <form id="addressform">
              <a id="usemylocationbtn" href="#" class="button" title="Use my location">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/></svg>
              </a>
              <input id="address_field" type="text" name="address" class="input" style="width:220px;" placeholder="Address, or just postcode">
              <a id="addressgobtn" href="#" class="button">Go</a>
            </form>
          </div>
        </div>
      </div>
      <p id="status"></p>
      <div id="theresults">
        <table class="table needs"></table>
      </div>
    </div>
  </div>

  <template id="fb_row">
    <tr>
      <td>
        <a href="#" class="foodbank"></a>
        <div class="distance"><span></span>mi away</div>
      </td>
      <td class="need_detail">
        <div class="fb_needs">
          <details>
            <summary></summary>
            <p></p>
          </details>
        </div>
        <div class="updated">Updated <span></span> ago</div>
      </td>
    </tr>
  </template>

{% endblock %}

{% block script %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2EtAunWviftkU8nI_NmEZMuKTC8SPNME&libraries=places"></script>
  <script src="/static/js/wfbn.js?{{ version }}"></script>
{% endblock %}
