{% extends "public/page.html" %}
{% load humanize %}

{% block title %}Give Food API Docs {% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/api.css">
  <link rel="stylesheet" href="/static/css/highlight-default.css">
  <script src="/static/js/api.js" defer></script>
  <script src="/static/js/highlight.pack.js" defer></script>
  <meta name="description" content="We're a UK charity that aims to help local organisations address the immediate and critical need created by food insecurity">
{% endblock %}

{% block containerclass %}is-fluid{% endblock %}

{% block body %}

<div class="columns">

    <div class="column is-one-quarter">
        <h1><a href="/">Give Food</a></h1>
        <h2>API Docs</h2>
        <p><span class="tag is-danger">Alpha - don't actually use this</span></p>
        <dl id="api_methods">
            <dt class="is-size-5"><a href="#">foodbanks</a></dt>
            <dd>List of all the food banks we know of</dd>
            <dt class="is-size-5"><a href="#">foodbank</a></dt>
            <dd>Food bank including needs and locations</dd>
            <dt class="is-size-5"><a href="#">foodbanks/search</a></dt>
            <dd>Find food banks closest to a location</dd>
            <dt class="is-size-5"><a href="#">needs</a></dt>
            <dd>Latest needs published countrywide</dd>
            <dt class="is-size-5"><a href="#">need</a></dt>
            <dd>Need requested by a food bank</dd>
            <dt class="is-size-5"><a href="#">constituency</a></dt>
            <dd>Parliamentary constituency</dd>
        </dl>
    </div>

    <div class="column is-three-quarters">

        <div id="foodbanks" class="api_method active" data-method-url="/api/2/foodbanks/">

            <div class="columns">
                <div class="column">
                    <h2>foodbanks</h2>
                    <p>Returns a list of all known food banks, with limited information about them. This is a large request (returns around 1MB uncompressed) and can take us a couple of seconds to process, to please use sparingly.</p>
                </div>
            </div>

            <div class="columns">

                <div class="column">
                    <table class="table is-narrow">
                        <tr>
                            <th>Field</th>
                            <th>Type</th>
                            <th>Example</th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td class="field_name">address</td>
                            <td>Multiline String</td>
                            <td>Sidmouth Youth Centre<br>Manstone Lane<br>Sidmouth<br>EX10 9TS</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="field_name">alt_name</td>
                            <td>String</td>
                            <td>Carerdydd</td>
                            <td>Alternative name, for example in Welsh</td>
                        </tr>
                        <tr>
                            <td class="field_name">closed</td>
                            <td>Boolean</td>
                            <td>false</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="field_name">country</td>
                            <td>String</td>
                            <td>England</td>
                            <td>Country, or Crown dependency, that the food bank's main location is in</td>
                        </tr>
                        <tr>
                            <td class="field_name">created</td>
                            <td>Date Time</td>
                            <td>2019-07-27T17:59:21.975Z</td>
                            <td>Date and time we first found the food bank</td>
                        </tr>
                        <tr>
                            <td class="field_name" colspan="4">charity</td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name">registration_id</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name">register_url</td>
                            <td>URL</td>
                            <td class="eg">https://beta.charitycommission.gov.uk/charity-details/?regId=1151274</td>
                            <td>URL of the charity entry with the local registrar</td>
                        </tr>
                        <tr>
                            <td class="field_name">email</td>
                            <td>Email Address</td>
                            <td>info@sidvalleyfoodbank.org.uk</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="field_name">lat_lng</td>
                            <td>String</td>
                            <td>51.4630738,-0.1207938</td>
                            <td>Comma separated latitude and longitude</td>
                        </tr>
                        <tr>
                            <td class="field_name">modified</td>
                            <td>Date Time</td>
                            <td>2019-07-27T17:59:21.975Z</td>
                            <td>Date and time we've modified the food bank</td>
                        </tr>
                        <tr>
                            <td class="field_name">name</td>
                            <td>String</td>
                            <td>Sid Valley</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="field_name">network</td>
                            <td>String</td>
                            <td>IFAN</td>
                            <td>Name of the food bank network the food bank is in, or "Independent"</td>
                        </tr>
                        <tr>
                            <td class="field_name">phone</td>
                            <td>String</td>
                            <td>07413858335</td>
                            <td>Phone number</td>
                        </tr>
                        <tr>
                            <td class="field_name" colspan="4">politics</td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name">parliamentary_constituency</td>
                            <td>String</td>
                            <td class="eg">Vauxhall</td>
                            <td>Name of the parliamentary constituency the food bank's main location is in</td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name">mp</td>
                            <td>String</td>
                            <td class="eg">Florence Eshalomi</td>
                            <td>Name of the member of parliament who represents parliamentary constituency that the food bank's main location is in</td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name">mp_party</td>
                            <td>String</td>
                            <td class="eg">Labour</td>
                            <td>Political party of the member of parliament who represents parliamentary constituency that the food bank's main location is in</td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name">ward</td>
                            <td>String</td>
                            <td class="eg">Streatham Hill</td>
                            <td>Name of the ward the food bank's main location is in</td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name">district</td>
                            <td>String</td>
                            <td class="eg">Lambeth</td>
                            <td>Name of the district the food bank's main location is in</td>
                        </tr>
                        <tr>
                            <td class="field_name">postcode</td>
                            <td>String</td>
                            <td>GU16 7HF</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="field_name">secondary_phone</td>
                            <td>String</td>
                            <td>07413858335</td>
                            <td>Secondary phone number</td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name" colspan="4">urls</td>
                        </tr>
                        <tr class="double-indented">
                            <td class="field_name">html</td>
                            <td>URL</td>
                            <td class="eg">https://www.givefood.org.uk/needs/in/constituency/vauxhall/</td>
                            <td>HTML URL of the parliamentary constituency</td>
                        </tr>
                        <tr class="double-indented">
                            <td class="field_name">self</td>
                            <td>URL</td>
                            <td class="eg">https://www.givefood.org.uk/api/2/constituency/vauxhall/</td>
                            <td>API URL of the parliamentary constituency</td>
                        </tr>
                    </table>
                </div>

                <div class="column">
                    <table class="table">
                        <tr>
                            <td>format</td>
                            <td>{% include "api_formats.html" %}</td>
                        </tr>
                    </table>

                    {% include "method_fields.html" %}

                    <pre><code class="prettyprint language-json"></code></pre>
                    
                </div>

            </div>

        </div>

        <div id="foodbank" class="api_method" data-method-url="/api/2/foodbank/:foodbank:/">

            <div class="columns">
                <div class="column">
                    <h2>foodbank</h2>
                    <p>Returns the details of a single food bank, including what is requesting to be donated and nearby food banks.</p>
                </div>
            </div>

            <div class="columns">

                <div class="column">
                    <table class="table is-narrow">
                        <tr>
                            <th>Field</th>
                            <th>Type</th>
                            <th>Example</th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td class="field_name">address</td>
                            <td>Multiline String</td>
                            <td>Sidmouth Youth Centre<br>Manstone Lane<br>Sidmouth<br>EX10 9TS</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="field_name">alt_name</td>
                            <td>String</td>
                            <td>Carerdydd</td>
                            <td>Alternative name, for example in Welsh</td>
                        </tr>
                        <tr>
                            <td class="field_name">closed</td>
                            <td>Boolean</td>
                            <td>false</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="field_name">country</td>
                            <td>String</td>
                            <td>England</td>
                            <td>Country, or Crown dependency, that the food bank's main location is in</td>
                        </tr>
                        <tr>
                            <td class="field_name">created</td>
                            <td>Date Time</td>
                            <td>2019-07-27T17:59:21.975Z</td>
                            <td>Date and time we first found the food bank</td>
                        </tr>
                        <tr>
                            <td class="field_name" colspan="4">charity</td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name">registration_id</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name">register_url</td>
                            <td>URL</td>
                            <td class="eg">https://beta.charitycommission.gov.uk/charity-details/?regId=1151274</td>
                            <td>URL of the charity entry with the local registrar</td>
                        </tr>
                        <tr>
                            <td class="field_name">email</td>
                            <td>Email Address</td>
                            <td>info@sidvalleyfoodbank.org.uk</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="field_name">lat_lng</td>
                            <td>String</td>
                            <td>51.4630738,-0.1207938</td>
                            <td>Comma separated latitude and longitude</td>
                        </tr>
                        <tr>
                            <td class="field_name">modified</td>
                            <td>Date Time</td>
                            <td>2019-07-27T17:59:21.975Z</td>
                            <td>Date and time we've modified the food bank</td>
                        </tr>
                        <tr>
                            <td class="field_name">name</td>
                            <td>String</td>
                            <td>Sid Valley</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="field_name">network</td>
                            <td>String</td>
                            <td>IFAN</td>
                            <td>Name of the food bank network the food bank is in, or "Independent"</td>
                        </tr>
                        <tr>
                            <td class="field_name">phone</td>
                            <td>String</td>
                            <td>07413858335</td>
                            <td>Phone number</td>
                        </tr>
                        <tr>
                            <td class="field_name" colspan="4">politics</td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name">parliamentary_constituency</td>
                            <td>String</td>
                            <td class="eg">Vauxhall</td>
                            <td>Name of the parliamentary constituency the food bank's main location is in</td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name">mp</td>
                            <td>String</td>
                            <td class="eg">Florence Eshalomi</td>
                            <td>Name of the member of parliament who represents parliamentary constituency that the food bank's main location is in</td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name">mp_party</td>
                            <td>String</td>
                            <td class="eg">Labour</td>
                            <td>Political party of the member of parliament who represents parliamentary constituency that the food bank's main location is in</td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name">ward</td>
                            <td>String</td>
                            <td class="eg">Streatham Hill</td>
                            <td>Name of the ward the food bank's main location is in</td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name">district</td>
                            <td>String</td>
                            <td class="eg">Lambeth</td>
                            <td>Name of the district the food bank's main location is in</td>
                        </tr>
                        <tr>
                            <td class="field_name">postcode</td>
                            <td>String</td>
                            <td>GU16 7HF</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="field_name">secondary_phone</td>
                            <td>String</td>
                            <td>07413858335</td>
                            <td>Secondary phone number</td>
                        </tr>
                        <tr class="indented">
                            <td class="field_name" colspan="4">urls</td>
                        </tr>
                        <tr class="double-indented">
                            <td class="field_name">html</td>
                            <td>URL</td>
                            <td class="eg">https://www.givefood.org.uk/needs/in/constituency/vauxhall/</td>
                            <td>HTML URL of the parliamentary constituency</td>
                        </tr>
                        <tr class="double-indented">
                            <td class="field_name">self</td>
                            <td>URL</td>
                            <td class="eg">https://www.givefood.org.uk/api/2/constituency/vauxhall/</td>
                            <td>API URL of the parliamentary constituency</td>
                        </tr>
                    </table>
                </div>

                <div class="column">
                    <table class="table is-fullwidth">
                        <tr>
                            <td>foodbank</td>
                            <td>
                            <span class="select">
                                <select class="control api_method_argument" id="foodbank_argument" name="foodbank">
                                {% for foodbank in eg_foodbanks %}
                                    <option value="{{ foodbank|slugify }}">{{ foodbank }}</option>
                                {% endfor %}
                                </select>
                            </span>
                            </td>
                        </tr>
                        <tr>
                            <td>format</td>
                            <td>{% include "api_formats.html" %}</td>
                        </tr>
                    </table>

                    {% include "method_fields.html" %}

                    <pre><code class="prettyprint language-json"></code></pre>
                    
                </div>

            </div>

        </div>

        <div id="foodbanks-search" class="column api_method is-7" data-method-url="/api/2/foodbanks/search/:search:">

            <table class="table is-fullwidth">
            <tr>
                <td>search</td>
                <td>
                <span class="select">
                    <select class="control api_method_argument" id="search_argument" name="search">
                    {% for type, search in eg_searches.items %}
                        <option value="?{{ type }}={{ search }}">{{ search }}</option>
                    {% endfor %}
                    </select>
                </span>
                </td>
            </tr>
            <tr>
                <td>format</td>
                <td>{% include "api_formats.html" %}</td>
            </tr>
            </table>

            {% include "method_fields.html" %}

            <pre class="result"><code class="language-json"></code></pre>

        </div>

        <div id="needs" class="column api_method is-7" data-method-url="/api/2/needs/">

            <table class="table is-fullwidth">
            <tr>
                <td>format</td>
                <td>{% include "api_formats.html" %}</td>
            </tr>
            </table>

            {% include "method_fields.html" %}

            <pre class="result"><code class="language-json"></code></pre>

        </div>

        <div id="constituency" class="column api_method is-7" data-method-url="/api/2/constituency/:constituency:/">

            <table class="table is-fullwidth">
            <tr>
                <td>Parliamentary Constituency</td>
                <td>
                <span class="select">
                    <select class="control api_method_argument" id="constituency_argument" name="constituency">
                    {% for constituency in parl_cons %}
                        <option value="{{ constituency|slugify }}">{{ constituency }}</option>
                    {% endfor %}
                    </select>
                </span>
                </td>
            </tr>
            <tr>
                <td>format</td>
                <td>{% include "api_formats.html" %}</td>
            </tr>
            </table>

            {% include "method_fields.html" %}

            <pre class="result"><code class="language-json"></code></pre>

        </div>
    </div>
    
</div>


{% endblock %}
