{% extends "public/page.html" %}
{% load humanize %}

{% block title %}Give Food API {% endblock %}

{% block head %}
  <meta name="description" content="We're a UK charity that aims to help local organisations address the immediate and critical need created by food insecurity">
{% endblock %}

{% block body %}

<div class="columns is-centered">
  <div class="column is-half">
    <h1><a href="/">Give Food</a></h1>
    <div class="content">
     <h2>API</h2>
      <p><span class="tag is-danger">Alpha - don't actually use this</span></p>
      <p>We maintain the largest public database of UK food banks, and the items they are requesting to have donated.</p>
      <p>This service allows to to get access to this data over HTTPS in JSON, GeoJSON, XML or YAML.</p>
      <p>Our API and data has been used by governments, councils, supermarkets, hundreds of national &amp; local news websites, apps &amp; the Trussell Trust.</p>

      <h3>Rules</h3>
      <ul>
        <li><em>Do good</em> with the data</li>
        <li>Try not to make requests more than a few times a second</li>
        <li>If you display a food bank and their need also use their URL to link to them. This will help the user get them what they request</li>
        <li>Credit us with a link to our homepage if you republish</li>
        <li>Cache, but don't cache for too long. All this is updated at least every few hours</li>
      </ul>

      <h3>Assumptions</h3>
      <ul>
        <li>We define a food bank as the organisation</li>
        <li>A food bank has one or more locations</li>
      </ul>

      <h3>Contact</h3>
      <p>Please contact us at <a href="mailto:mail@givefood.org.uk">mail@givefood.org.uk</a> if you're going to launch something using our data. We'll be more than happy to help with any technical questions &amp; optimisations, PR and to ensure that we're all helping food banks as effectively as possible.</p>

    </div>
  </div>
  <div class="column is-one-fifth" style="padding-top:106px;">
    <a href="{% url 'docs' %}" class="button is-medium is-primary">View Docs ➔</a><br><br>
    <ul>  
      <li><a href="https://github.com/givefood">GitHub</a></li>
      <li><a href="https://uptime.givefood.org.uk/">Status</a></li>
      <li><a href="https://datasette.givefood.org.uk/">Datasette</a></li>
      <li><a href="/api/1/">Old API</a></li>
    </ul>
    
  </div>
</div>


{% endblock %}
