{% extends "public/page.html" %}
{% load humanize %}

{% block title %}Give Food API {% endblock %}

{% block head %}
  <meta name="description" content="We're a UK charity that aims to help local organisations address the immediate and critical need created by food insecurity">
{% endblock %}

{% block body %}

  <div class="columns is-centered">
    <div class="column is-half">
    <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-half">
      <div class="content">

        <h1>API</h1>

        <p>We maintain the largest public database of UK food banks, and the items they are requesting to have donated.</p>
        <p>This service allows to to get access to this data over HTTPS in JSON, GeoJSON, XML or YAML.</p>
        <p>Our data is used by governments, councils, universities, supermarkets, political parties, the NHS, food manufacturers, hundreds of national &amp; local news websites, and apps.</p>

        <a href="{% url 'api2:docs' %}" class="button is-light is-info">View Documentation ➔</a>

        <h2>Dumps</h2>
        <p>These are infrequently updated CSV bulk dumps of our data.</p>
        <ul>
          <li><a href="https://dumps.givefood.org.uk/givefood_foodbanks.csv">Food Banks</a> About 3MB and 3000 rows</li>
          <li><a href="https://dumps.givefood.org.uk/givefood_items.csv">Needed/Excess Items</a> About 35MB and 260,000 rows</li>
        </ul>
        <p><em>Last updated March 11, 2025</em></p>

        <h2>Useful Links</h2>
        <nav>
          <ul>  
            <li><a href="https://github.com/givefood/givefood">GitHub Code</a></li>
            <li><a href="https://github.com/givefood/data">GitHub Data</a></li>
            <li><a href="https://uptime.givefood.org.uk/">Status</a></li>
            <li><a href="/dashboard/">Dashboards</a></li>
            <li><a href="/api/1/">Old API</a></li>
          </ul>
        </nav>

        <h2>Rules</h2>
        <p><em>Do good</em> with the data, and credit us with a link when you use it.</p>

        <h3>Displaying data</h3>
        <ul>
          <li>If you display a food bank's details then also, if possible, link to them.</li>
          <li>Lists of items requested should be regarded as a hint rather than prescriptive definition of what's required. If you display what a food bank needs donating, if possible, link to their shopping list URL. There is often nuance to their request that a simple list of items doesn't cover.</li>
          <li>Don't modify lists of items needed, including reordering them.</li>
        </ul>
        <h3>Responsible usage</h3>
        <ul>
          <li>Keep the information up to date. This data changes multiple times per day with updates to locations, contact information, closures and food bank needs.</li>
          <li>Do not bulk email the email addresses, or bulk call or bulk message the phone numbers returned by this API.</li>
        </ul>
        <h3>Assumptions</h3>
        <ul>
          <li>We define a food bank as the organisation.</li>
          <li>A food bank has one or more locations.</li>
        </ul>

        <h2>Contact</h2>
        <p>Please contact us at <a href="mailto:mail@givefood.org.uk">mail@givefood.org.uk</a> if you're going to launch something using our data. We'll be more than happy to help with any technical questions &amp; optimisations, PR and to ensure that we're all helping food banks as effectively as possible.</p>

      </div>
    </div>

  </div>


{% endblock %}
