<div class="field has-addons">
    <div class="control is-expanded">
      <input class="input method_url" type="text" name="method_url" value="">
    </div>
    <p class="control">
      <a class="button">
        <img class="clipboard" src="/static/img/clipboard.svg" alt="Clipboard icon" title="Copy API URL to clipboard" width="16">
      </a>
    </p>
    <p class="control">
      <a class="button openurl" href="#" target="_blank">
        <img src="/static/img/newwindow.svg" alt="New window icon" title="Open API URL in a new window" width="16">
      </a>
    </p>
</div>