{% if orders.all %}
  <table class="table is-fullwidth is-hoverable">
    <tr>
      <th></th>
      <th>Date</th>
      <th>Foodbank</th>
      <th>Items</th>
      <th>Cost</th>
    </tr>
    {% for order in orders %}
      <tr>
        <td class="delivery-provider-icon">{% if order.delivery_provider %}<img src="/static/img/delivery_provider/icon/{{ order.delivery_provider|slugify }}.png">{% endif %}</td>
        <td><a href="{% url 'admin_order' order.order_id %}">{{ order.delivery_datetime|date:"D" }}, {{ order.delivery_datetime }}</a></td>
        <td>
          <a href="{% url 'admin_foodbank' order.foodbank_name_slug %}">
            {{ order.foodbank_name }}
          </a>
        </td>
        <td>{{ order.no_items }}</td>
        <td>£{{ order.natural_cost }}</td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No orders</p>
{% endif %}
