@font-face {
    font-family: 'PT Serif';
    src: url('/static/fonts/pt-serif-v12-latin-700.woff2') format('woff2'),
            url('/static/fonts/pt-serif-v12-latin-700.woff') format('woff');
    font-weight: 700;
}
body {
    background:#fff;
    color:rgb(61, 61, 61);
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    padding:0 10px;
}
a, .breadcrumb a {
    color:#007BC7;
}
.logo img {
    margin:30px 0 20px 0;
    height:50px;
    width:200px;
}
h1 {
    font-size: 26px !important;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    margin-bottom: 1.3rem;
}
h2, .content h2 {
    font-size: 18px;
    font-weight:normal;
    margin:0 0 10px 0;
    border-bottom:2px solid #eee;
    max-width:100%;
  }
.content h2 {
    padding-top:10px;
}
h3, .content h3 {
    font-size:1em;
    font-weight:bold;
    margin:0 0 10px 0;
}
p {
    margin-bottom:20px;
}
#usemylocationbtn {
    margin:0 0 10px 0;
    padding:5px 10px 5px 42px;
    background:#E4EFF9 url("/static/img/getlocation.svg") no-repeat 8px center;
}
.pac-container:after{
    display:none !important;
}
ins {
    background:#b7fdcb;
    text-decoration:none;
}
del {
    background:#ff9494;
}
.arproducts img {
    width:100px;
    float:left;
  }
  .arproducts span {
    font-size:1.2em;
    font-weight:bold;
  }
  .arproducts .box {
    overflow:hidden;
    zoom:0;
  }
footer {
    margin-top:3rem;
}