.logo img {
    margin:2rem 0 0 0;
}
#postcode_field, #address_field {
    width:220px;
}
#addressform {
    margin-bottom:1rem;
}
.recently-updated {
    column-count:2;
    column-gap:10px;
    margin-bottom:2rem;
}
.needs td {
    padding:0.75em 0.75em 0.75em 0;
}
.distance, .parent_org {
    font-size:0.8em;
}
.links img {
    margin:13px 7px 0 0;
    width:20px;
}
#theresults {
    margin-top:-10px;
}
.subscribe-btn {
    margin-top:10px;
}
#map {
    height:1000px;
}
.sidemap {
    height:300px !important;
    margin-bottom:10px;
}
.mainmap {
    height:600px !important;
}
address {
    margin-bottom:10px;
}
.contact-icon {
    width:16px;
    display:inline-block;
    margin:0 2px 0 2px;
    vertical-align:middle;
}
p.needs {
    border-left:2px solid #eee;
    padding:7px 0 7px 15px;
}
.cta {
    margin-bottom: 1.3rem;
}
.cta p {
    margin-bottom:10px;
}
.cta a {
    vertical-align: middle;
    margin-right:5px;
}
#subscription_example {
    width:100%;
    height:500px;
}
#postcode_field {
    text-transform:uppercase;
}
#postcode_field::placeholder {
    text-transform:capitalize;
}
.table td.foodbank_name {
    padding-left:0;
}