{% load i18n %}
<ul class="foodbank-news">
    {% for article in articles %}
        <li>
          <img src="{% url 'wfbn-generic:foodbank_favicon' article.foodbank.slug %}" alt="{{ article.foodbank.name }}" class="favicon"><a href="{{ article.url_with_ref }}">{{ article.title_captialised }}</a>
          <div class="is-size-7"><a href="{% url 'wfbn:foodbank' article.foodbank.slug %}">{{ article.foodbank.name }}</a> {{ article.published_date|date:"j M" }}</div>
        </li>
    {% endfor %}
</ul>
