{% extends "admin/emails/page.html" %}

{% block body %}

    <p>Thanks for confirming your email address.</p>
    <p>We'll send you a list of items being requested whenever {{ foodbank.full_name }} updates them. In the meantime, here are some useful links...</p>
    
    <p>
        🔗 You can find more details <a href="https://www.givefood.org.uk/needs/at/{{ foodbank.slug }}/">about the food bank</a><br>
        🗺️ See other <a href="https://www.givefood.org.uk/needs/at/{{ foodbank.slug }}/nearby/">nearby food banks</a><br>
        🗳️ Explain to your MP that food banks shouldn't exist by <a href="https://www.givefood.org.uk/write/">taking political action</a>
    </p>
    
    
{% endblock %}