{% extends "page.html" %}
{% load humanize %}

{% block title %}Credentials - GF Admin{% endblock %}

{% block body %}

  <h2>Credentials</h2>

  <a href="{% url "admin_credential_new" %}" class="button is-link">New Credential</a>

  <div class="columns">

    <div class="column">

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>Name</th>
          <th>Value</th>
          <th>Created</th>
        </tr>
        {% for credential in credentials %}
          <tr>
            <td>{{ credential.cred_name }}</td>
            <td>{{ credential.cred_value }}</td>
            <td>{{ credential.created }}</td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
