{% extends "page.html" %}
{% load humanize %}

{% block title %}Orders - GF Admin{% endblock %}

{% block body %}

  <h2>Orders</h2>

  <div class="columns">

    <div class="column">

      <div class="field is-pulled-right">
        <div class="control">
          <div class="select is-small">
            <select onchange="javascript:window.location.href=this.value">
              <option value="?sort=delivery_datetime"{% if sort = "delivery_datetime" %} selected{% endif %}>Delivery Date</option>
              <option value="?sort=created"{% if sort == "created" %} selected{% endif %}>Created</option>
              <option value="?sort=no_items"{% if sort == "no_items" %} selected{% endif %}>Items</option>
              <option value="?sort=weight"{% if sort == "weight" %} selected{% endif %}>Weight</option>
              <option value="?sort=calories"{% if sort == "calories" %} selected{% endif %}>Calories</option>
              <option value="?sort=cost"{% if sort == "cost" %} selected{% endif %}>Cost</option>
            </select>
          </div>
        </div>
      </div>

      <table class="table is-fullwidth is-hoverable">
        <tr>
          <th>ID</th>
          <th>Foodbank</th>
          <th>Delivery</th>
          <th>Items</th>
          <th>Weight (kg)</th>
          <th>Calories</th>
          <th>Cost (p)</th>
          <th>Created</th>
        </tr>
        {% for order in orders %}
          <tr>
            <td><a href="{% url "admin_order" order.order_id %}">{{ order.order_id }}</a></td>
            <td>{{ order.foodbank_name }}</td>
            <td>{{ order.delivery_datetime }}</td>
            <td>{{ order.no_items }}</td>
            <td>{{ order.weight_kg_pkg|intcomma }}</td>
            <td>{{ order.calories|intcomma }}</td>
            <td>{{ order.cost }}</td>
            <td>{{ order.created }}</td>
          </tr>
        {% endfor %}
      </table>

    </div>

  </div>

{% endblock %}
