<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <link rel="stylesheet" href="/static/css/gf.css">
  <link rel="stylesheet" href="/static/css/admin.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.png">
  <script src="/static/js/turbolinks.js" defer></script>
  <script src="/static/js/admin.js" defer></script>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/admin/">
          <h1>Give Food Admin</h1>
        </a>
      </div>
      <a class="navbar-item{% if section = "needs" %} is-active{% endif %}" href="/admin/needs/">Needs</a>
      <a class="navbar-item{% if section = "foodbanks" %} is-active{% endif %}" href="/admin/foodbanks/">Food Banks</a>
      <a class="navbar-item{% if section = "orders" %} is-active{% endif %}" href="/admin/orders/">Orders</a>
      <a class="navbar-item{% if section = "locations" %} is-active{% endif %}" href="/admin/locations/">Locations</a>
      <a class="navbar-item{% if section = "politics" %} is-active{% endif %}" href="/admin/politics/">Politics</a>
      <a class="navbar-item{% if section = "settings" %} is-active{% endif %}" href="/admin/settings/">Settings</a>

      <div class="navbar-end">
        <div class="navbar-item">
          <form action="{% url 'admin_search' %}" method="get">
            <input name="q" class="input" type="text" placeholder="Search Foodbanks" list="foodbank_names">
          </form>
        </div>
      </div>

    </nav>
    <div class="main">
      {% block body %}{% endblock %}
    </div>
    <datalist id="foodbank_names">
      {% for foodbank in all_foodbanks %}<option value="{{ foodbank }}">{% endfor %}
    </datalist>

    <script>
      const gmap_key = "{{ gmap_key }}";
    </script>
</body>
</html>
