{% extends "page.html" %}

{% block title %}Settings - GF Admin{% endblock %}

{% block body %}

  <h2>Settings</h2>

  <div class="columns">

    <div class="column">

        <ul>
            <li>🥫 <a href="{% url 'admin_items' %}">Items</a></li>
            <li>✉️ <a href="{% url 'admin_subscriptions' %}">Subscriptions</a></li>
            <li>🗺️ <a href="{% url 'admin_map' %}" data-turbolinks="false">Map</a></li>
            <li>🔢 <a href="{% url 'admin_stats' %}">Stats</a></li>
            <li>🔍 <a href="{% url 'admin_searches' %}">Searches</a>
            <li>🔑 <a href="{% url 'admin_credentials' %}">Credentials</a>
            <li>🎒 <a href="{% url 'admin_clearcache' %}">Clear Cache</a>
        </ul>

    </div>

  </div>

{% endblock %}
