{% extends "page.html" %}

{% block title %}Settings - GF Admin{% endblock %}

{% block body %}

  <h2>Settings</h2>

  <div class="columns">

    <div class="column">

        <ul>
            <li><a href="/admin/items/">Items</a></li>
            <li><a href="/admin/map/" data-turbolinks="false">Map</a></li>
            <li><a href="/admin/stats/">Stats</a></li>
            <li><a href="/admin/searches/">Searches</a>
            <li><a href="/admin/credentials/">Credentials</a>
        </ul>

    </div>

  </div>

{% endblock %}
