{% extends "public/page.html" %}

{% block title %}Articles Dashboard - Give Food{% endblock %}

{% block body %}

    <div class="columns">
        <div class="column">
            <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
        </div>
    </div>


    <div class="columns">
        <div class="column">
            <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}">Give Food</a></li>
                <li><a href="{% url 'dash:index' %}">Dashboards</a></li>
                <li class="is-active"><a href="{% url 'dash:articles' %}" aria-current="page">Articles</a></li>
            </ul>
            </nav>
        </div>
    </div>

  <div class="columns">

    <div class="column">
        <h1>Articles</h1>
        <p>All the recent articles we've found published by all the food banks we know of</p>
        <table class="table is-narrow is-fullwidth">
            {% for article in articles %}
                <tr>
                    <td><a href="{% url 'wfbn:foodbank' article.foodbank_name_slug %}">{{ article.foodbank_name }}</a></td>
                    <td><a href="{{ article.url_with_ref }}">{{ article.title_captialised|truncatewords:10 }}</a></td>
                    <td>{{ article.published_date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

  </div><br><br>

{% endblock %}
