{% extends "public/page.html" %}

{% block title %}Beans &amp; Pasta Index - Give Food{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/dash.css">
{% endblock %}

{% block body %}

    <div class="columns">
        <div class="column">
            <h1><a href="/">Give Food</a></h1>
            <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'public_index' %}">Give Food</a></li>
                <li><a href="{% url 'dash:index' %}">Dashboards</a></li>
                <li class="is-active"><a href="{% url 'dash:bean_pasta_index' %}" aria-current="page">Beans &amp; Pasta Index</a></li>
            </ul>
            </nav>
        </div>
    </div>

  <div class="columns">

    <div class="column">
      <p style="max-width:800px;">Food banks often have baked beans or pasta in abundance, so those items being requested suggests a food bank's supplies are under pressure. Graph shows the number of times we've found food banks requesting beans or pasta to be donated by month.</p><br><br>
      <div id="chart" style="height:500px"></div>

      <table class="table is-striped is-narrow is-fullwidth">
          <tr>
              <th>year-month</th>
              <th>Beans or Pasta Requests</th>
          </tr>
          {% for month in months %}
              <tr>
                  <td>{{ month.the_month }}</td>
                  <td>{{ month.count }}</td>
              </tr>
          {% endfor %}
      </table>
    </div>

  </div><br><br>

  <script src="https://www.gstatic.com/charts/loader.js"></script>

  <script>
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Month', "Beans or Pasta Requests"],
        {% for month in months %}
            ['{{ month.the_month }}', {{ month.count }}],
        {% endfor %}
      ]);

      var options = {
        bars: 'verticle',
        legend:{position:'none'},
      };

      var chart = new google.charts.Bar(document.getElementById('chart'));

      chart.draw(data, google.charts.Bar.convertOptions(options));
    }
  </script>

{% endblock %}
