{% extends "public/page.html" %}

{% block title %}Deliveries (by {{ metric_text|lower }}) - Give Food{% endblock %}

{% block body %}

    <div class="columns">
      <div class="column">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
      </div>
    </div>

    <div class="columns">
        <div class="column">
            <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'dash:index' %}">Dashboards</a></li>
                <li class="is-active"><a href="{% url 'dash:deliveries' metric %}" aria-current="page">Deliveries (by {{ metric_text|lower }})</a></li>
            </ul>
            </nav>
        </div>
    </div>

  <div class="columns">

    <div class="column">
      <h1>Deliveries (by {{ metric_text|lower }})</h1>
      <div id="chart" style="height:500px"></div>
    </div>

  </div><br><br>

  <script src="/static/js/echarts.js"></script>
  <script src="/static/js/chart-colors.js"></script>

  <script>
    var chartDom = document.getElementById('chart');
    var myChart = echarts.init(chartDom);
    
    var option = {
      color: gfChartColors,
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        }
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: {
        type: 'category',
        data: [
          {% for month in months %}
            '{{ month.the_month }}'{% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
        axisLabel: {
          rotate: 45
        }
      },
      yAxis: {
        type: 'value',
        name: '{{ metric_text }}'
      },
      series: [
        {
          name: '{{ metric_text }}',
          type: 'bar',
          data: [
            {% for month in months %}
              {{ month.count }}{% if not forloop.last %},{% endif %}
            {% endfor %}
          ]
        }
      ]
    };
    myChart.setOption(option);
  </script>

{% endblock %}
