{% extends "public/page.html" %}

{% block title %}Food Banks Found - Give Food{% endblock %}

{% block body %}

    <div class="columns">
      <div class="column">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
      </div>
    </div>

    <div class="columns">
        <div class="column">
            <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'dash:index' %}">Dashboards</a></li>
                <li class="is-active"><a href="{% url 'dash:foodbanks_found' %}" aria-current="page">Food Banks Found</a></li>
            </ul>
            </nav>
        </div>
    </div>

  <div class="columns">

    <div class="column">
      <h1>Food Banks Found</h1>
      <div id="chart" style="height:500px"></div>

      <table class="table is-striped is-narrow is-fullwidth">
          <tr>
              <th>year-month</th>
              <th>Food Bank Organisations</th>
          </tr>
          {% for month in created_months.items reversed %}
              <tr>
                  <td>{{ month.0 }}</td>
                  <td>{{ month.1 }}</td>
              </tr>
          {% endfor %}
      </table>
    </div>

  </div><br><br>

  <script src="/static/js/echarts.js"></script>
  <script src="/static/js/chart-colors.js"></script>

  <script>
    var chartDom = document.getElementById('chart');
    var myChart = echarts.init(chartDom);
    
    var option = {
      color: gfChartColors,
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        }
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: {
        type: 'category',
        data: [
          {% for month in created_months.items %}
            '{{ month.0 }}'{% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
        axisLabel: {
          rotate: 45
        }
      },
      yAxis: {
        type: 'value',
        name: 'Food Bank Organisations'
      },
      series: [
        {
          name: 'Food Bank Organisations',
          type: 'bar',
          data: [
            {% for month in created_months.items %}
              {{ month.1 }}{% if not forloop.last %},{% endif %}
            {% endfor %}
          ]
        }
      ]
    };
    myChart.setOption(option);
  </script>

{% endblock %}
