{% extends "public/page.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/dash.css">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GiveFoodCharity">
  <meta property="og:title" content="Dashboards">
  <meta property="og:description" content="Dashboard views of Give Food data">
  <meta name="description" content="Dashboard views of Give Food data">
{% endblock %}

{% block title %}Dashboards - Give Food{% endblock %}

{% block body %}

  <div class="columns">
    <div class="column">
        <h1><a href="/">Give Food</a></h1>
        <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
          <ul>
            <li><a href="{% url 'public_index' %}">Give Food</a></li>
            <li class="is-active"><a href="{% url 'dash:index' %}" aria-current="page">Dashboards</a></li>
          </ul>
        </nav>
        <div class="columns">
          <div class="column">

            <p>Dashboard views of Give Food data. You may also enjoy our <a href="/api/">API</a>.</p>
            
            <h2>General</h2>
            <ul>
              <li><a href="{% url 'dash:weekly_itemcount' %}">Items requested weekly</a> - Number of items requested by UK food banks per week</li>
              <li><a href="{% url 'dash:weekly_itemcount_year' %}">Items requested weekly per year</a> - Number of items requested by UK food banks per week per year</li>
              <li><a href="{% url 'dash:most_requested_items' %}">Most requested items</a> - Most requested items by all food banks we know of</li>
              <li><a href="{% url 'dash:excess' %}">Excess</a> - Most recent food banks declaring excess items</li>
              <li><a href="{% url 'dash:most_excess_items' %}">Most excess items</a> - Most excess items by all food banks we know of</li>
              <li><a href="{% url 'dash:articles' %}">Articles</a> - All the articles we've found published by all the food banks we know of</li>
              <li><a href="{% url 'dash:beautybanks' %}">Beauty Bank items</a> - Foodbanks that we've seen request items that are supplied by <a href="https://www.beautybanks.org.uk/">Beauty Banks</a></li>
              <li><a href="{% url 'dash:foodbanks_found' %}">Food banks found</a> - Number of food bank organisations we've found over time</li>
            </ul>

            <br>
            <h2>Trussell Trust</h2>
            <ul>
              <li><a href="{% url 'dash:tt_old_data' %}">Trussell Trust - old data</a> - Trussell Trust food banks that haven't updated their shopping lists</li>
              <li><a href="{% url 'dash:tt_most_requested_items' %}">Trussell Trust - most requested items</a> - Most requested items by Trussell Trust food banks</li>
            </ul>

            <br><br>

          </div>
        </div>
    </div>
  </div>

{% endblock %}
