{% extends "public/page.html" %}
{% load humanize %}

{% block title %}Requested items by item group - Give Food{% endblock %}

{% block body %}

    <div class="columns">
      <div class="column">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
      </div>
    </div>

    <div class="columns">
        <div class="column">
            <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}">Give Food</a></li>
                <li><a href="{% url 'dash:index' %}">Dashboards</a></li>
                <li class="is-active"><a href="{% url 'dash:item_groups' %}" aria-current="page">Requested items by item group</a></li>
            </ul>
            </nav>
        </div>
    </div>

  <div class="columns">

    <div class="column">
      <h1>Requested items by item group</h1>
      <div id="chart" style="height:600px"></div>

      <table class="table is-striped is-narrow is-fullwidth">
        <thead>
          <tr>
              <th>Group</th>
              <th>Number of items</th>
          </tr>
        </thead>
        <tbody>
          {% for group in groups %}
              <tr>
                  <td>{{ group.group }}</td>
                  <td>{{ group.count|intcomma }}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div><br><br>

  <script src="https://www.gstatic.com/charts/loader.js"></script>

  <script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Group', "Number of items"],
        {% for group in groups %}
            ["{{ group.group|safe }}", {{ group.count }}],
        {% endfor %}
      ]);

      var options = {
        bars: 'verticle',
        legend:{position:'none'},
      };
      
      var chart = new google.visualization.PieChart(document.getElementById('chart'));
      chart.draw(data);
    }
  </script>

{% endblock %}
