{% extends "public/page.html" %}

{% block title %}Supermarket Donation Points - Give Food{% endblock %}

{% block body %}

    <div class="columns">
      <div class="column">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
      </div>
    </div>

    <div class="columns">
        <div class="column">
            <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}">Give Food</a></li>
                <li><a href="{% url 'dash:index' %}">Dashboards</a></li>
                <li class="is-active"><a href="{% url 'dash:supermarkets' %}" aria-current="page">Supermarket Donation Points</a></li>
            </ul>
            </nav>
        </div>
    </div>

  <div class="columns">

    <div class="column">
      <h1>Supermarket Donation Points</h1>
      <div id="chart" style="height:600px"></div>

      <table class="table is-striped is-narrow is-fullwidth">
        <thead>
          <tr>
              <th>Supermarket</th>
              <th>Number of Donation Points</th>
          </tr>
        </thead>
        <tbody>
          {% for supermarket in supermarkets %}
              <tr>
                  <td><img src="/static/img/co/{{ supermarket.company|slugify }}.png" alt="{{ supermarket.company }}" style="width:16px;vertical-align:middle; display:inline; margin-right:3px;"> {{ supermarket.company }}</td>
                  <td>{{ supermarket.count }}</td>
              </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
              <td>Total Supermarket Donation Points</td>
              <td>{{ supermarket_total }}</td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div><br><br>

  <script src="/static/js/echarts.js"></script>

  <script>
    var chartDom = document.getElementById('chart');
    var myChart = echarts.init(chartDom);
    
    // Color palette for years
    var colors = ["#3366CC", "#DC3912", "#FF9900", "#109618", "#990099", "#3B3EAC", "#0099C6", "#DD4477", "#66AA00", "#B82E2E", "#316395", "#994499", "#22AA99", "#AAAA11", "#6633CC", "#E67300", "#8B0707", "#329262", "#5574A6", "#651067"];
    
    var option = {
      color: colors,
      tooltip: {
        trigger: 'item'
      },
      series: [
        {
          name: 'Number of Donation Points',
          type: 'pie',
          radius: '70%',
          data: [
            {% for supermarket in supermarkets %}
              {value: {{ supermarket.count }}, name: "{{ supermarket.company|safe }}"}{% if not forloop.last %},{% endif %}
            {% endfor %}
          ],
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      ]
    };
    myChart.setOption(option);
  </script>

{% endblock %}
