{% extends "public/page.html" %}

{% block title %}Items requested by UK food banks per week per year - Give Food{% endblock %}

{% block body %}

    <div class="columns">
      <div class="column">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
      </div>
    </div>

    <div class="columns">
        <div class="column">
            <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}">Give Food</a></li>
                <li><a href="{% url 'dash:index' %}">Dashboards</a></li>
                <li class="is-active"><a href="{% url 'dash:tt_most_requested_items' %}" aria-current="page">Items requested by UK food banks per week per year</a></li>
            </ul>
            </nav>
        </div>
    </div>

  <div class="columns">

    <div class="column">

        <h1>Items requested by UK food banks per week per year</h1>

        <div id="chart" style="height:500px"></div>
            
        <table class="table is-striped is-narrow is-fullwidth">
            <tr>
                <th>year-week</th>
                <th>Number of items requested</th>
            </tr>
            {% for week in week_needs.items reversed %}
                <tr>
                    <td>{{ week.0 }}</td>
                    <td>{{ week.1 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

  </div><br><br>

  <script src="/static/js/echarts.js"></script>

  <script>
    var chartDom = document.getElementById('chart');
    var myChart = echarts.init(chartDom);
    var option = {
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        }
      },
      legend: {
        data: [{% for year in years %}'{{ year }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: {
        type: 'category',
        data: [
          {% for week in week_year_needs.items %}
            '{{ week.0 }}'{% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
        axisLabel: {
          rotate: 45
        }
      },
      yAxis: {
        type: 'value',
        name: 'Items requested'
      },
      series: [
        {% for year in years %}
        {
          name: '{{ year }}',
          type: 'bar',
          data: [
            {% for week in week_year_needs.items %}
              {% for year_data in week.1.items %}
                {% if year_data.0 == year %}{{ year_data.1 }}{% endif %}
              {% endfor %}{% if not forloop.last %},{% endif %}
            {% endfor %}
          ]
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
      ]
    };
    myChart.setOption(option);
  </script>

{% endblock %}
