{% extends "public/page.html" %}

{% block title %}Items requested by UK food banks per week - Give Food{% endblock %}

{% block body %}

    <div class="columns">
      <div class="column">
          <a href="{% url 'index' %}" class="logo"><img src="/static/img/logo.svg" alt="Give Food"></a>
      </div>
    </div>

    <div class="columns">
        <div class="column">
            <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}">Give Food</a></li>
                <li><a href="{% url 'dash:index' %}">Dashboards</a></li>
                <li class="is-active"><a href="{% url 'dash:tt_most_requested_items' %}" aria-current="page">Items requested by UK food banks per week</a></li>
            </ul>
            </nav>
        </div>
    </div>

  <div class="columns">

    <div class="column">

        <h1>Items requested by UK food banks per week</h1>
        
        <div id="chart" style="height:500px"></div>
            
        <table class="table is-striped is-narrow is-fullwidth">
            <tr>
                <th>year-week</th>
                <th>Number of items requested</th>
            </tr>
            {% for week in week_needs.items reversed %}
                <tr>
                    <td>{{ week.0 }}</td>
                    <td>{{ week.1 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

  </div><br><br>

  <script src="/static/js/echarts.js"></script>

  <script>
    var chartDom = document.getElementById('chart');
    var myChart = echarts.init(chartDom);
    
    // Color palette for years
    var colors = ["#3366CC", "#DC3912", "#FF9900", "#109618", "#990099", "#3B3EAC", "#0099C6", "#DD4477", "#66AA00", "#B82E2E", "#316395", "#994499", "#22AA99", "#AAAA11", "#6633CC", "#E67300", "#8B0707", "#329262", "#5574A6", "#651067"];
    
    var option = {
      color: colors,
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        }
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: {
        type: 'category',
        data: [
          {% for week in week_needs.items %}
            '{{ week.0 }}'{% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
        axisLabel: {
          rotate: 45
        }
      },
      yAxis: {
        type: 'value',
        name: 'Items requested'
      },
      series: [
        {
          name: 'Items requested',
          type: 'bar',
          data: [
            {% for week in week_needs.items %}
              {{ week.1 }}{% if not forloop.last %},{% endif %}
            {% endfor %}
          ]
        }
      ]
    };
    myChart.setOption(option);
  </script>

{% endblock %}
